<div class="clearfix buffer--bucket-post-list-item buffer--height-64">
  <div
    class="clearfix b-h-full b-w-full buffer--position-relative buffer--border-radius-lg buffer--box-shadow-sm">
    <div
      class="clearfix b-w-full buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg"
      *ngIf="calendarPost.postType === 'image' || calendarPost.postType === 'video'">
      <div [ngSwitch]="calendarPost.postType">
        <div *ngSwitchCase="'image'">
          <buffer--bucket-published-post-image [calendarPostImages]="calendarPost.postImages"
            [calendarPostSlideConfig]="slideConfig">
          </buffer--bucket-published-post-image>
        </div>
        <div *ngSwitchCase="'video'">
          <buffer--bucket-published-post-video [calendarPostVideos]="calendarPost.postVideos"
            [calendarPostSlideConfig]="slideConfig"></buffer--bucket-published-post-video>
        </div>
      </div>
    </div>


    <div class="clearfix buffer--padding-5">
      <buffer--bucket-published-post-text [calendarPostCaption]="calendarPost.postCaption">
      </buffer--bucket-published-post-text>

      <div
        class="clearfix b-w-full buffer--padding-5 buffer--position-absolute buffer--position-bottom-0 buffer--position-left-0 buffer--padding-y-5">

        <div class="clearfix buffer--height-10 buffer--margin-y-3">
          <buffer--bucket-published-post-time [calendarPostDateTime]="calendarPost.start">
          </buffer--bucket-published-post-time>
        </div>

        <div class="clearfix">
          <buffer--bucket-published-post-social [calendarPostSocialAccounts]="calendarPost.socialAccounts">
          </buffer--bucket-published-post-social>
        </div>

      </div>

      <div
        class="clearfix buffer--bucket-post-footer b-w-full buffer--position-absolute buffer--position-top-0 buffer--position-left-0 buffer--padding-5">
        <buffer--bucket-published-post-menu></buffer--bucket-published-post-menu>
      </div>
    </div>

  </div>
</div>