<div
  class="b-w-full buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-end">
  <div class="clearfix buffer--margin-left-2">
    <button mat-icon-button matTooltip="Post now"
      class="buffer--width-8 buffer--height-8 b-bg-white buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--box-shadow-lg">
      <i class="material-icons buffer--font-size-xl">date_range</i>
    </button>
  </div>

  <div class="clearfix buffer--margin-left-2">
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu"
      class="buffer--width-8 buffer--height-8 b-bg-white buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--box-shadow-lg">
      <i class="material-icons buffer--font-size-xl">more_vert</i>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <i class="material-icons buffer--vertical-align-middle buffer--margin-right-3">create</i>
    <span class="buffer--vertical-align-middle">Edit</span>
  </button>
  <button mat-menu-item>
    <i class="material-icons buffer--vertical-align-middle buffer--margin-right-3">query_builder</i>
    <span class="buffer--vertical-align-middle">Reschedule</span>
  </button>
  <button mat-menu-item>
    <i class="material-icons buffer--vertical-align-middle buffer--margin-right-3">save</i>
    <span class="buffer--vertical-align-middle">Save</span>
  </button>
  <button mat-menu-item>
    <i class="material-icons buffer--vertical-align-middle buffer--margin-right-3">delete</i>
    <span class="buffer--vertical-align-middle">Delete</span>
  </button>
</mat-menu>