:host {
  display: block;
  overflow: hidden;

  ::ng-deep {
    .p-datatable .p-datatable-thead > tr > th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      box-shadow: 0 2px 0 #2c4bff;
    }

    .p-datatable-wrapper {
      padding: 0;
    }

    .p-datatable .p-datatable-tbody > tr:not(.b-table-group):hover {
      background: rgba(0, 0, 0, 0.02);
    }

    .p-overlaypanel .p-overlaypanel-content {
      padding: 0;
    }

    .b-table-group {
      background: #ffffff;
      border-bottom: 2px solid #88929e;
    }
  }
}
