:host {
  display: block;
  overflow: hidden;

  ::ng-deep {
    .p-datatable-wrapper {
      height: 100%;
    }

    .p-datatable .p-datatable-tbody > tr:not(.b-table-group):hover {
      background: rgba(0, 0, 0, 0.02);
    }

    .p-overlaypanel .p-overlaypanel-content {
      padding: 0;
    }

    .b-table-group {
      background: #ffffff;
      border-bottom: 2px solid #88929e;
    }
  }
}
