<div class="b-h-full p-d-flex p-jc-between p-ai-center">
  <h6 [routerLink]="['/bucket/saved']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: true}"
    class="b-tr-menu">
    Saved
  </h6>
  <h6 [routerLink]="['/bucket/scheduled']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: true}"
    class="b-tr-menu">
    Scheduled
  </h6>
  <h6 [routerLink]="['/bucket/published']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: true}"
    class="b-tr-menu">
    Published
  </h6>
</div>