<div class="clearfix">
    <div
        class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
        <div class="clearfix buffer--padding-right-10">
            <p class="buffer--text-color-white">{{ notificationInfo }}</p>
        </div>

        <div class="clearfix">
            <button mat-icon-button aria-label="Close notification" (click)="closeNotification()">
                <i class="material-icons">close</i>
            </button>
        </div>
    </div>
</div>