<section class="buffer--account-title-sec b-h-toolbar" id="buffer--account-title-sec">
    <div
        class="clearfix b-h-full buffer--padding-x-5 buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
        <buffer--account-header accountHeader="Invoice"></buffer--account-header>
    </div>
</section>

<section class="buffer--height-screen-with-header buffer--account-setup-sec buffer--overflow-y-auto"
    id="buffer--account-setup-sec">

</section>