<div class="clearfix">
  <div class="buffer--margin-y-9">
    <!-- <div class="buffer-jumbo-subheading">
      <h4
        class="buffer--font-size-lg buffer--font-family-semi-bold buffer--text-transform-uppercase buffer--text-color-black "
      >
        Create. Draft. Share.
      </h4>
    </div> -->
    <div class="buffer--jumbo-heading">
      <h1 class="buffer--font-size-7xl buffer--font-family-extra-bold buffer--text-color-blue-500 buffer--margin-y-5">
        Creating a brand was never this easy.
      </h1>
    </div>

    <div class="buffer--jumbo-learn-more-btn buffer--margin-y-16 buffer--cursor-pointer"></div>
  </div>
</div>
