:host {
  padding: 0;
  height: 450px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .buffer--heading-span {
    color: #164d59;
    position: relative;
    &:after {
      left: 0px;
      width: 100%;
      content: '';
      height: 15px;
      bottom: -10px;
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url('https://buffer.com/static/background/orange-underline.png');
    }
  }
}
