<div class="clearfix buffer--width-full buffer--cursor-pointer">
  <div
    [matMenuTriggerFor]="accountMenu"
    class="buffer--width-full buffer--text-color-black buffer--font-family-regular buffer--text-align-center"
  >
    <mat-icon class="buffer--width-full">person</mat-icon>
    <span class="buffer--font-size-xs">Profile</span>
  </div>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>Account</span>
    </button>
    <mat-divider color="warn" class="buffer--margin-y-2"></mat-divider>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>
</div>
