<div class="clearfix">
  <div
    class="buffer--container buffer--display-flex buffer--align-items-center buffer--flex-justify-content-space-between"
  >
    <div class="clearfix">
      <div class="buffer--padding-y-1">
        <buffer--main-logo></buffer--main-logo>
      </div>
    </div>

    <div class="clearfix">
      <div class="buffer--padding-y-1">
        <button
          mat-flat-button
          class="buffer--font-family-semi-bold buffer--font-size-base buffer--background-color-green-800 buffer--text-color-white buffer--button-big-height buffer--button-big-padding buffer--margin-left-8 buffer--box-shadow-lg buffer--box-shadow-hover-xl"
          (click)="navigateToSigninPage('sign-in')"
        >
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>
