/* ************************************* BACKGROUNDS STARTS ************************************* */
/* ************************************* BACKGROUNDS STARTS ************************************* */

/*
    * BACKGROUND ATTACHMENT
*/
$buffer--background-attachment-fixed: fixed;
$buffer--background-attachment-local: local;
$buffer--background-attachment-scroll: scroll;

/*
    * BACKGROUND COLOR
*/
$buffer--background-color-black: #505050;
$buffer--background-color-white: #ffffff;
$buffer--background-color-transparent: transparent;
$buffer--background-color-gray: #f2f2f2;
$buffer--background-color-dark-gray: #616163;

$buffer--background-color-warn-100: #fce3e6;
$buffer--background-color-warn-200: #f18292;
$buffer--background-color-warn-300: #eb4f66;
$buffer--background-color-warn-400: #e72a46;
$buffer--background-color-warn-500: #e30425;
$buffer--background-color-warn-600: #e00321;
$buffer--background-color-warn-700: #dc031b;
$buffer--background-color-warn-800: #d80216;
$buffer--background-color-warn-900: #d0010d;

$buffer--background-color-accent-100: #fde8e0;
$buffer--background-color-accent-200: #feb29a;
$buffer--background-color-accent-300: #fe9372;
$buffer--background-color-accent-400: #fd7b53;
$buffer--background-color-accent-500: #fd6435;
$buffer--background-color-accent-600: #fd5c30;
$buffer--background-color-accent-700: #fc5228;
$buffer--background-color-accent-800: #fc4822;
$buffer--background-color-accent-900: #fc3616;

$buffer--background-color-primary-100: #e7f9f1;
$buffer--background-color-primary-200: #9ab4ac;
$buffer--background-color-primary-300: #469373;
$buffer--background-color-primary-400: #537f72;
$buffer--background-color-primary-500: #307a59;
$buffer--background-color-primary-600: #306051;
$buffer--background-color-primary-700: #285548;
$buffer--background-color-primary-800: #224b3e;
$buffer--background-color-primary-900: #163a2e;

/*
    * BACKGROUND POSITION
*/
$buffer--background-position-bottom: bottom;
$buffer--background-position-center: center;
$buffer--background-position-left: left;
$buffer--background-position-left-bottom: left bottom;
$buffer--background-position-left-top: left top;
$buffer--background-position-right: right;
$buffer--background-position-right-bottom: right bottom;
$buffer--background-position-right-top: right top;
$buffer--background-position-top: top;

/*
    * BACKGROUND REPEAT
*/
$buffer--background-repeat: repeat;
$buffer--background-no-repeat: no-repeat;
$buffer--background-repeat-x: repeat-x;
$buffer--background-repeat-y: repeat-y;
$buffer--background-repeat-round: round;
$buffer--background-repeat-space: space;

/*
    * BACKGROUND SIZE
*/
$buffer--background-size-auto: auto;
$buffer--background-size-cover: cover;
$buffer--background-size-contain: contain;

/* ************************************* BACKGROUNDS ENDS ************************************* */
/* ************************************* BACKGROUNDS ENDS ************************************* */
