/* ************************************* BACKGROUNDS STARTS ************************************* */
/* ************************************* BACKGROUNDS STARTS ************************************* */

/*
    * BACKGROUND ATTACHMENT
*/
$buffer--background-attachment-fixed: fixed;
$buffer--background-attachment-local: local;
$buffer--background-attachment-scroll: scroll;

/*
    * BACKGROUND COLOR
*/
$buffer--background-color-black: #191919;
$b-bg-white: #ffffff;
$buffer--background-color-transparent: transparent;
$buffer--background-color-gray: #979696;
$buffer--background-color-light-gray: #f5f7f9;
$buffer--background-color-dark-gray: #616061;

$buffer--background-color-warn-100: #fce6ed;
$buffer--background-color-warn-200: #f595b2;
$buffer--background-color-warn-300: #f06b93;
$buffer--background-color-warn-400: #ed4b7c;
$buffer--background-color-warn-500: #ea2b65;
$buffer--background-color-warn-600: #e7265d;
$buffer--background-color-warn-700: #e42053;
$buffer--background-color-warn-800: #e11a49;
$buffer--background-color-warn-900: #db1037;

$buffer--background-color-accent-100: #fde8e0;
$buffer--background-color-accent-200: #feb29a;
$buffer--background-color-accent-300: #fe9372;
$buffer--background-color-accent-400: #fd7b53;
$buffer--background-color-accent-500: #fd6435;
$buffer--background-color-accent-600: #fd5c30;
$buffer--background-color-accent-700: #fc5228;
$buffer--background-color-accent-800: #fc4822;
$buffer--background-color-accent-900: #fc3616;

$buffer--background-color-primary-100: #fdedfa;
$buffer--background-color-primary-200: #b894b1;
$buffer--background-color-primary-300: #9b6992;
$buffer--background-color-primary-400: #85497a;
$buffer--background-color-primary-500: #702963;
$buffer--background-color-primary-600: #68245b;
$buffer--background-color-primary-700: #5d1f51;
$buffer--background-color-primary-800: #531947;
$buffer--background-color-primary-900: #410f35;

$buffer--background-color-blue-100: #bfdafd;
$buffer--background-color-blue-200: #94c1fc;
$buffer--background-color-blue-300: #69a8fb;
$buffer--background-color-blue-400: #4896fa;
$buffer--background-color-blue-500: #2883f9;
$buffer--background-color-blue-600: #247bf8;
$buffer--background-color-blue-700: #1e70f7;
$buffer--background-color-blue-800: #1866f6;
$buffer--background-color-blue-900: #0f53f5;

/*
    * BACKGROUND POSITION
*/
$buffer--background-position-bottom: bottom;
$buffer--background-position-center: center;
$buffer--background-position-left: left;
$buffer--background-position-left-bottom: left bottom;
$buffer--background-position-left-top: left top;
$buffer--background-position-right: right;
$buffer--background-position-right-bottom: right bottom;
$buffer--background-position-right-top: right top;
$buffer--background-position-top: top;

/*
    * BACKGROUND REPEAT
*/
$buffer--background-repeat: repeat;
$buffer--background-no-repeat: no-repeat;
$buffer--background-repeat-x: repeat-x;
$buffer--background-repeat-y: repeat-y;
$buffer--background-repeat-round: round;
$buffer--background-repeat-space: space;

/*
    * BACKGROUND SIZE
*/
$buffer--background-size-auto: auto;
$buffer--background-size-cover: cover;
$buffer--background-size-contain: contain;

/* ************************************* BACKGROUNDS ENDS ************************************* */
/* ************************************* BACKGROUNDS ENDS ************************************* */
