/* ************************************* BORDER STARTS ************************************* */
/* ************************************* BORDER STARTS ************************************* */

/*
    * BORDER COLOR
*/
$buffer--border-color-black: #333333;
$buffer--border-color-white: #ffffff;
$buffer--border-transparent: transparent;
$buffer--border-color-gray: #cccccc;
$buffer--border-color-dark-gray: #616061;

$buffer--border-color-warn-100: #fce3e6;
$buffer--border-color-warn-200: #f18292;
$buffer--border-color-warn-300: #eb4f66;
$buffer--border-color-warn-400: #e72a46;
$buffer--border-color-warn-500: #e30425;
$buffer--border-color-warn-600: #e00321;
$buffer--border-color-warn-700: #dc031b;
$buffer--border-color-warn-800: #d80216;
$buffer--border-color-warn-900: #d0010d;

$buffer--border-color-accent-100: #fde8e0;
$buffer--border-color-accent-200: #feb29a;
$buffer--border-color-accent-300: #fe9372;
$buffer--border-color-accent-400: #fd7b53;
$buffer--border-color-accent-500: #fd6435;
$buffer--border-color-accent-600: #fd5c30;
$buffer--border-color-accent-700: #fc5228;
$buffer--border-color-accent-800: #fc4822;
$buffer--border-color-accent-900: #fc3616;

$buffer--border-color-primary-100: #e7f9f1;
$buffer--border-color-primary-200: #9ab4ac;
$buffer--border-color-primary-300: #469373;
$buffer--border-color-primary-400: #537f72;
$buffer--border-color-primary-500: #307a59;
$buffer--border-color-primary-600: #306051;
$buffer--border-color-primary-700: #285548;
$buffer--border-color-primary-800: #224b3e;
$buffer--border-color-primary-900: #163a2e;

/*
    * BORDER STYLE
*/
$buffer--border-style-solid: solid;
$buffer--border-style-dashed: dashed;
$buffer--border-style-dotted: dotted;
$buffer--border-style-none: none;

/*
    * BORDER WIDTH
*/
$buffer--border-width: 1px;
$buffer--border-width-0: 0;
$buffer--border-width-2: 2px;
$buffer--border-width-4: 4px;
$buffer--border-width-8: 8px;
$buffer--border-top-width: 1px;
$buffer--border-right-width: 1px;
$buffer--border-bottom-width: 1px;
$buffer--border-left-width: 1px;
$buffer--border-top-width-0: 0;
$buffer--border-right-width-0: 0;
$buffer--border-bottom-width-0: 0;
$buffer--border-left-width-0: 0;
$buffer--border-top-width-2: 2px;
$buffer--border-right-width-2: 2px;
$buffer--border-bottom-width-2: 2px;
$buffer--border-left-width-2: 2px;
$buffer--border-top-width-4: 4px;
$buffer--border-right-width-4: 4px;
$buffer--border-bottom-width-4: 4px;
$buffer--border-left-width-4: 4px;
$buffer--border-top-width-8: 8px;
$buffer--border-right-width-8: 8px;
$buffer--border-bottom-width-8: 8px;
$buffer--border-left-width-8: 8px;

/*
    * BORDER RADIUS
*/
$buffer--border-radius-none: 0;
$buffer--border-radius-sm: 0.125rem;
$buffer--border-radius: 0.25rem;
$buffer--border-radius-lg: 0.5rem;
$buffer--border-radius-xl: 2rem;
$buffer--border-radius-full: 9999px;

/* ************************************* BORDER ENDS ************************************* */
/* ************************************* BORDER ENDS ************************************* */
