/* ************************************* BORDER STARTS ************************************* */
/* ************************************* BORDER STARTS ************************************* */

/*
    * BORDER COLOR
*/
$buffer--border-color-black: #191919;
$buffer--border-color-white: #ffffff;
$buffer--border-transparent: transparent;
$buffer--border-color-gray: #979696;
$buffer--border-color-light-gray: #eeeef0;
$buffer--border-color-dark-gray: #616061;

$buffer--border-color-warn-100: #fce6ed;
$buffer--border-color-warn-200: #f595b2;
$buffer--border-color-warn-300: #f06b93;
$buffer--border-color-warn-400: #ed4b7c;
$buffer--border-color-warn-500: #ea2b65;
$buffer--border-color-warn-600: #e7265d;
$buffer--border-color-warn-700: #e42053;
$buffer--border-color-warn-800: #e11a49;
$buffer--border-color-warn-900: #db1037;

$buffer--border-color-accent-100: #fde8e0;
$buffer--border-color-accent-200: #feb29a;
$buffer--border-color-accent-300: #fe9372;
$buffer--border-color-accent-400: #fd7b53;
$buffer--border-color-accent-500: #fd6435;
$buffer--border-color-accent-600: #fd5c30;
$buffer--border-color-accent-700: #fc5228;
$buffer--border-color-accent-800: #fc4822;
$buffer--border-color-accent-900: #fc3616;

$buffer--border-color-primary-100: #fdedfa;
$buffer--border-color-primary-200: #b894b1;
$buffer--border-color-primary-300: #9b6992;
$buffer--border-color-primary-400: #85497a;
$buffer--border-color-primary-500: #702963;
$buffer--border-color-primary-600: #68245b;
$buffer--border-color-primary-700: #5d1f51;
$buffer--border-color-primary-800: #531947;
$buffer--border-color-primary-900: #410f35;

$buffer--border-color-blue-100: #bfdafd;
$buffer--border-color-blue-200: #94c1fc;
$buffer--border-color-blue-300: #69a8fb;
$buffer--border-color-blue-400: #4896fa;
$buffer--border-color-blue-500: #2883f9;
$buffer--border-color-blue-600: #247bf8;
$buffer--border-color-blue-700: #1e70f7;
$buffer--border-color-blue-800: #1866f6;
$buffer--border-color-blue-900: #0f53f5;

/*
    * BORDER STYLE
*/
$buffer--border-style-solid: solid;
$buffer--border-style-dashed: dashed;
$buffer--border-style-dotted: dotted;
$buffer--border-style-none: none;

/*
    * BORDER WIDTH
*/
$buffer--border-width: 1px;
$buffer--border-width-0: 0;
$buffer--border-width-2: 2px;
$buffer--border-width-3: 3px;
$buffer--border-width-4: 4px;
$buffer--border-width-8: 8px;
$buffer--border-top-width: 1px;
$buffer--border-right-width: 1px;
$buffer--border-bottom-width: 1px;
$buffer--border-left-width: 1px;
$buffer--border-top-width-0: 0;
$buffer--border-right-width-0: 0;
$buffer--border-bottom-width-0: 0;
$buffer--border-left-width-0: 0;
$buffer--border-top-width-2: 2px;
$buffer--border-right-width-2: 2px;
$buffer--border-bottom-width-2: 2px;
$buffer--border-left-width-2: 2px;
$buffer--border-top-width-3: 3px;
$buffer--border-top-width-4: 4px;
$buffer--border-right-width-3: 3px;
$buffer--border-right-width-4: 4px;
$buffer--border-bottom-width-3: 3px;
$buffer--border-bottom-width-4: 4px;
$buffer--border-left-width-3: 3px;
$buffer--border-left-width-4: 4px;
$buffer--border-top-width-8: 8px;
$buffer--border-right-width-8: 8px;
$buffer--border-bottom-width-8: 8px;
$buffer--border-left-width-8: 8px;

/*
    * BORDER RADIUS
*/
$buffer--border-radius-none: 0;
$buffer--border-radius-sm: 0.125rem;
$buffer--border-radius: 0.25rem;
$buffer--border-radius-lg: 0.5rem;
$buffer--border-radius-xl: 2rem;
$buffer--border-radius-full: 9999px;

/* ************************************* BORDER ENDS ************************************* */
/* ************************************* BORDER ENDS ************************************* */
