/* ************************************* EFFECTS STARTS ************************************* */
/* ************************************* EFFECTS STARTS ************************************* */

/*
    * BOX SHADOW
*/
$buffer--box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.01);
$buffer--box-shadow-sm: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 0 2px -1px rgba(0, 0, 0, 0.06);
$buffer--box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$buffer--box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$buffer--box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px #f2f2f2;
$buffer--box-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$buffer--box-shadow-inner: inset 0 2px 3px 0 #f2f2f2;
$buffer--box-shadow-outline: 0 0 0 3px #2883f9;
$buffer--box-shadow-outline-gray: 0 0 0 2px rgba(110, 109, 109, 0.2);
$buffer--box-shadow-none: none;

/*
    * OPACITY
*/
$buffer--opacity-100: 1;
$buffer--opacity-75: 0.75;
$buffer--opacity-50: 0.5;
$buffer--opacity-25: 0.25;
$buffer--opacity-0: 0;

/* ************************************* EFFECTS ENDS ************************************* */
/* ************************************* EFFECTS ENDS ************************************* */
