/* ************************************* INTERACTIVITY STARTS ************************************* */
/* ************************************* INTERACTIVITY STARTS ************************************* */

/*
    * CURSOR
*/
$buffer--cursor-auto: auto;
$buffer--cursor-default: default;
$buffer--cursor-pointer: pointer;
$buffer--cursor-wait: wait;
$buffer--cursor-text: text;
$buffer--cursor-move: move;
$buffer--cursor-not-allowed: not-allowed;

/*
    * OUTLINE
*/
$buffer--outline-none: none;

/* ************************************* INTERACTIVITY ENDS ************************************* */
/* ************************************* INTERACTIVITY ENDS ************************************* */
