/* ************************************* LAYOUT STARTS ************************************* */
/* ************************************* LAYOUT STARTS ************************************* */

/*
    * DISPLAY 
*/
$buffer--display-block: block;
$buffer--display-inline-block: inline-block;
$buffer--display-inline: inline;
$buffer--display-flex: flex;
$buffer--display-inline-flex: inline-flex;
$buffer--display-table: table;
$buffer--display-table-row: table-row;
$buffer--display-table-cell: table-cell;
$buffer--display-hidden: none;

/*
    * FLOAT
*/
$buffer--float-right: right;
$buffer--float-left: left;
$buffer--float-none: none;

/*
    * ITEM ALIGNMENT
*/
$buffer--align-items-center: center;

/*
    * FLEX DIRECTION
*/
$buffer--display-flex-direction-row: row;
$buffer--display-flex-direction-column: column;

/*
    * JUSTIFY CONTENT
*/
$buffer--flex-justify-content-end: flex-end;
$buffer--flex-justify-content-center: center;
$buffer--flex-justify-content-start: flex-start;
$buffer--flex-justify-content-space-around: space-around;
$buffer--flex-justify-content-space-evenly: space-evenly;
$buffer--flex-justify-content-space-between: space-between;

/*
    * FLEX GROW
*/
$buffer--flex-grow-1: 1;

/*
    * FLEX  WRAP
*/
$buffer--flex-wrap: wrap;

/*
    * OBJECT FIT
*/
$buffer--object-contain: contain;
$buffer--object-cover: cover;
$buffer--object-fill: fill;
$buffer--object-none: none;
$buffer--object-scale-down: scale-down;

/*
    * OBJECT POSITION
*/
$buffer--object-bottom: bottom;
$buffer--object-center: center;
$buffer--object-left: left;
$buffer--object-left-bottom: left bottom;
$buffer--object-left-top: left top;
$buffer--object-right: right;
$buffer--object-right-bottom: right bottom;
$buffer--object-right-top: right top;
$buffer--object-top: top;

/*
    * OVERFLOW
*/
$buffer--overflow-auto: auto;
$buffer--overflow-hidden: hidden;
$buffer--overflow-visible: visible;
$buffer--overflow-scroll: scroll;
$buffer--overflow-x-auto: auto;
$buffer--overflow-y-auto: auto;
$buffer--overflow-x-hidden: hidden;
$buffer--overflow-y-hidden: hidden;
$buffer--overflow-x-visible: visible;
$buffer--overflow-y-visible: visible;
$buffer--overflow-x-scroll: scroll;
$buffer--overflow-y-scroll: scroll;

/*
    * POSITION
*/
$buffer--position-static: static;
$buffer--position-fixed: fixed;
$buffer--position-absolute: absolute;
$buffer--position-relative: relative;
$buffer--position-sticky: sticky;

/*
    * Z-INDEX
*/
$buffer--z-index-0: 0;
$buffer--z-index-10: 10;
$buffer--z-index-20: 20;
$buffer--z-index-30: 30;
$buffer--z-index-40: 40;
$buffer--z-index-50: 50;
$buffer--z-index-auto: auto;

/*
    * OUTLINE
*/
$buffer--outline-none: none;

/*
    * VERTICAL ALIGN
*/
$buffer--vertical-align-top: top;
$buffer--vertical-align-bottom: bottom;
$buffer--vertical-align-middle: middle;

/*
    * ABSOLUTE POSITION
*/
$buffer--position-top-0: 0;
$buffer--position-left-0: 0;
$buffer--position-bottom-0: 0;
$buffer--position-right-0: 0;

/* ************************************* LAYOUT ENDS ************************************* */
/* ************************************* LAYOUT ENDS ************************************* */
