/* ************************************* SIZING STARTS ************************************* */
/* ************************************* SIZING STARTS ************************************* */

/*
    * WIDTH
*/

$buffer--width-0: 0;
$buffer--width-1: 0.25rem;
$buffer--width-2: 0.5rem;
$buffer--width-3: 0.75rem;
$buffer--width-4: 1rem;
$buffer--width-5: 1.25rem;
$buffer--width-6: 1.5rem;
$buffer--width-8: 2rem;
$buffer--width-10: 2.5rem;
$buffer--width-12: 3rem;
$buffer--width-16: 4rem;
$buffer--width-20: 5rem;
$buffer--width-24: 6rem;
$buffer--width-32: 8rem;
$buffer--width-40: 10rem;
$buffer--width-48: 12rem;
$buffer--width-56: 14rem;
$buffer--width-64: 18rem;
$buffer--width-auto: auto;
$buffer--width-px: 1px;
$buffer--width-percent-8: 8.333333%;
$buffer--width-percent-16: 16.666667%;
$buffer--width-percent-20: 20%;
$buffer--width-percent-25: 25%;
$buffer--width-percent-33: 33.333333%;
$buffer--width-percent-34: 34%;
$buffer--width-percent-40: 40%;
$buffer--width-percent-45: 45%;
$buffer--width-percent-49: 49.222222%;
$buffer--width-percent-50: 50%;
$buffer--width-percent-58: 58.333333%;
$buffer--width-percent-60: 60%;
$buffer--width-percent-64: 64.666667%;
$buffer--width-percent-66: 66.666667%;
$buffer--width-percent-75: 75%;
$buffer--width-percent-80: 80%;
$buffer--width-percent-83: 83.333333%;
$buffer--width-percent-90: 90%;
$buffer--width-full: 100%;
$buffer--width-screen: 100vw;

/*
    * MIN WIDTH
*/
$buffer--min-width-0: 0;
$buffer--min-width-full: 100%;

/*
    * MAX WIDTH
*/
$buffer--max-width-xs: 20rem;
$buffer--max-width-sm: 24rem;
$buffer--max-width-md: 28rem;
$buffer--max-width-lg: 32rem;
$buffer--max-width-xl: 36rem;
$buffer--max-width-2xl: 42rem;
$buffer--max-width-3xl: 48rem;
$buffer--max-width-4xl: 56rem;
$buffer--max-width-5xl: 64rem;
$buffer--max-width-6xl: 72rem;
$buffer--max-width-full: 100%;

/*
    * HEIGHT
*/
$buffer--height-0: 0;
$buffer--height-1: 0.25rem;
$buffer--height-2: 0.5rem;
$buffer--height-3: 0.75rem;
$buffer--height-4: 1rem;
$buffer--height-5: 1.25rem;
$buffer--height-6: 1.5rem;
$buffer--height-8: 2rem;
$buffer--height-10: 2.5rem;
$buffer--height-12: 3rem;
$buffer--height-16: 4rem;
$buffer--height-20: 5rem;
$buffer--height-24: 6rem;
$buffer--height-32: 8rem;
$buffer--height-40: 10rem;
$buffer--height-48: 12rem;
$buffer--height-56: 14rem;
$buffer--height-64: 24rem;
$buffer--height-70: 30rem;
$buffer--height-auto: auto;
$buffer--height-px: 1px;
$buffer--height-percent-50: 50%;
$buffer--height-full: 100%;
$buffer--height-screen: 100vh;

/*
    * MIN HEIGHT
*/
$buffer--min-height-0: 0;
$buffer--min-height-full: 100%;
$buffer--min-height-screen: 100vh;

/*
    * MAX HEIGHT
*/
$buffer--max-height-full: 100%;
$buffer--max-height-screen: 100vh;

/* ************************************* SIZING ENDS ************************************* */
/* ************************************* SIZING ENDS ************************************* */
