/* ************************************* TYPOGRAPHY STARTS ************************************* */
/* ************************************* TYPOGRAPHY STARTS ************************************* */

$font-path: '~assets/fonts';

/*
    * FONT FAMILY
*/
$buffer--font-family-light: 'Averta Light';
$buffer--font-family-regular: 'Averta Regular';
$buffer--font-family-semi-bold: 'Averta SemiBold';
$buffer--font-family-bold: 'Averta Bold';
$buffer--font-family-extra-bold: 'Averta ExtraBold';

/*
    * FONT SIZE
*/
$buffer--font-size-xs: 0.75rem;
$buffer--font-size-sm: 0.875rem;
$buffer--font-size-base: 1rem;
$buffer--font-size-lg: 1.125rem;
$buffer--font-size-xl: 1.25rem;
$buffer--font-size-2xl: 1.5rem;
$buffer--font-size-3xl: 1.875rem;
$buffer--font-size-4xl: 2.25rem;
$buffer--font-size-5xl: 3rem;
$buffer--font-size-6xl: 4rem;
$buffer--font-size-8xl: 8rem;

/*
    * FONT WEIGHT
*/
$buffer--font-weight-hairline: 100;
$buffer--font-weight-thin: 200;
$buffer--font-weight-light: 300;
$buffer--font-weight-normal: 400;
$buffer--font-weight-medium: 500;
$buffer--font-weight-semibold: 600;
$buffer--font-weight-bold: 700;
$buffer--font-weight-extrabold: 800;
$buffer--font-weight-black: 900;

/*
    * LINE HEIGHT
*/
$buffer--line-height-leading-none: 1;
$buffer--line-height-leading-tight: 1.25;
$buffer--line-height-leading-snug: 1.375;
$buffer--line-height-leading-normal: 1.5;
$buffer--line-height-leading-relaxed: 1.625;
$buffer--line-height-leading-loose: 2;

/*
    * LIST STYLE TYPE
*/
$buffer--list-style-type-none: none;
$buffer--list-style-type-disc: disc;
$buffer--list-style-type-decimal: decimal;

/*
    * LIST STYLE POSITION
*/
$buffer--list-style-position-inside: inside;
$buffer--list-style-position-outside: outside;

/*
    * TEXT ALIGN
*/
$buffer--text-align-left: left;
$buffer--text-align-center: center;
$buffer--text-align-right: right;
$buffer--text-align-justify: justify;

/*
    * TEXT COLOR
*/
$buffer--text-color-transparent: transparent;
$buffer--text-color-black: #2d2d2d;
$buffer--text-color-white: #fff;

$buffer--text-color-gray-100: #f5f5f5;
$buffer--text-color-gray-200: #eeeeee;
$buffer--text-color-gray-300: #e0e0e0;
$buffer--text-color-gray-400: #bdbdbd;
$buffer--text-color-gray-500: #9e9e9e;
$buffer--text-color-gray-600: #757575;
$buffer--text-color-gray-700: #616161;
$buffer--text-color-gray-800: #424242;
$buffer--text-color-gray-900: #212121;

$buffer--text-color-red-100: #ffcdd2;
$buffer--text-color-red-200: #ef9a9a;
$buffer--text-color-red-300: #e57373;
$buffer--text-color-red-400: #ef5350;
$buffer--text-color-red-500: #f44336;
$buffer--text-color-red-600: #e53935;
$buffer--text-color-red-700: #d32f2f;
$buffer--text-color-red-800: #c62828;
$buffer--text-color-red-900: #b71c1c;

$buffer--text-color-orange-100: #fcdfd8;
$buffer--text-color-orange-200: #f8b4a3;
$buffer--text-color-orange-300: #f37d61;
$buffer--text-color-orange-400: #f16544;
$buffer--text-color-orange-500: #ef4e28;
$buffer--text-color-orange-600: #e73a11;
$buffer--text-color-orange-700: #cb330f;
$buffer--text-color-orange-800: #ae2c0d;
$buffer--text-color-orange-900: #92250b;

$buffer--text-color-yellow-100: #fffff0;
$buffer--text-color-yellow-200: #fefcbf;
$buffer--text-color-yellow-300: #faf089;
$buffer--text-color-yellow-400: #f6e05e;
$buffer--text-color-yellow-500: #ecc94b;
$buffer--text-color-yellow-600: #d69e2e;
$buffer--text-color-yellow-700: #b7791f;
$buffer--text-color-yellow-800: #975a16;
$buffer--text-color-yellow-900: #744210;

$buffer--text-color-green-100: #90f595;
$buffer--text-color-green-200: #5df064;
$buffer--text-color-green-300: #1bea25;
$buffer--text-color-green-400: #14d31d;
$buffer--text-color-green-500: #11b719;
$buffer--text-color-green-600: #0e9b15;
$buffer--text-color-green-700: #0c7f11;
$buffer--text-color-green-800: #09630e;
$buffer--text-color-green-900: #07470a;

$buffer--text-color-teal-100: #e6fffa;
$buffer--text-color-teal-200: #b2f5ea;
$buffer--text-color-teal-300: #81e6d9;
$buffer--text-color-teal-400: #4fd1c5;
$buffer--text-color-teal-500: #38b2ac;
$buffer--text-color-teal-600: #319795;
$buffer--text-color-teal-700: #2c7a7b;
$buffer--text-color-teal-800: #285e61;
$buffer--text-color-teal-900: #234e52;

$buffer--text-color-blue-100: #c4c1f3;
$buffer--text-color-blue-200: #9c98ec;
$buffer--text-color-blue-300: #746ee4;
$buffer--text-color-blue-400: #574fde;
$buffer--text-color-blue-500: #3930d8;
$buffer--text-color-blue-600: #332bd4;
$buffer--text-color-blue-700: #2c24ce;
$buffer--text-color-blue-800: #241ec8;
$buffer--text-color-blue-900: #1713bf;

$buffer--text-color-indigo-100: #ebf4ff;
$buffer--text-color-indigo-200: #c3dafe;
$buffer--text-color-indigo-300: #a3bffa;
$buffer--text-color-indigo-400: #7f9cf5;
$buffer--text-color-indigo-500: #667eea;
$buffer--text-color-indigo-600: #5a67d8;
$buffer--text-color-indigo-700: #4c51bf;
$buffer--text-color-indigo-800: #434190;
$buffer--text-color-indigo-900: #3c366b;
$buffer--text-color-purple-100: #faf5ff;
$buffer--text-color-purple-200: #e9d8fd;
$buffer--text-color-purple-300: #d6bcfa;
$buffer--text-color-purple-400: #b794f4;
$buffer--text-color-purple-500: #9f7aea;
$buffer--text-color-purple-600: #805ad5;
$buffer--text-color-purple-700: #6b46c1;
$buffer--text-color-purple-800: #553c9a;
$buffer--text-color-purple-900: #44337a;
$buffer--text-color-pink-100: #fff5f7;
$buffer--text-color-pink-200: #fed7e2;
$buffer--text-color-pink-300: #fbb6ce;
$buffer--text-color-pink-400: #f687b3;
$buffer--text-color-pink-500: #ed64a6;
$buffer--text-color-pink-600: #d53f8c;
$buffer--text-color-pink-700: #b83280;
$buffer--text-color-pink-800: #97266d;
$buffer--text-color-pink-900: #702459;

/*
    * TEXT DECORATION
*/
$buffer--text-decoration-underline: underline;
$buffer--text-decoration-line-through: line-through;
$buffer--text-decoration-none: none;

/*
    * TEXT TRANSFORM
*/
$buffer--text-transform-uppercase: uppercase;
$buffer--text-transform-lowercase: lowercase;
$buffer--text-transform-capitalize: capitalize;
$buffer--text-transform-normal-case: none;

/*
    * VERTICAL ALIGN
*/
$buffer--vertical-align-baseline: baseline;
$buffer--vertical-align-top: top;
$buffer--vertical-align-middle: middle;
$buffer--vertical-align-bottom: bottom;
$buffer--vertical-align-text-top: text-top;
$buffer--vertical-align-text-bottom: text-bottom;

/*
    * WHITESPACE
*/
$buffer--white-space-normal: normal;
$buffer--white-space-no-wrap: nowrap;
$buffer--white-space-pre: pre;
$buffer--white-space-pre-line: pre-line;
$buffer--white-space-pre-wrap: pre-wrap;

/*
    * LETTER SPACING
*/
$buffer--letter-spacing-tracking-tighter: -0.05em;
$buffer--letter-spacing-tracking-tight: -0.025em;
$buffer--letter-spacing-tracking-normal: 0;
$buffer--letter-spacing-tracking-wide: 0.025em;
$buffer--letter-spacing-tracking-wider: 0.05em;
$buffer--letter-spacing-tracking-widest: 0.1em;
/* ************************************* TYPOGRAPHY ENDS ************************************* */
/* ************************************* TYPOGRAPHY ENDS ************************************* */
