/* ************************************* TYPOGRAPHY STARTS ************************************* */
/* ************************************* TYPOGRAPHY STARTS ************************************* */

$font-path: '~assets/fonts';

/*
    * FONT FAMILY
*/
$buffer--font-family-light: 'Buffer Light';
$buffer--font-family-regular: 'Buffer Regular';
$buffer--font-family-semi-bold: 'Buffer SemiBold';
$buffer--font-family-bold: 'Buffer Bold';
$buffer--font-family-extra-bold: 'Buffer ExtraBold';

/*
    * FONT SIZE
*/
$buffer--font-size-xs: 0.75rem;
$buffer--font-size-sm: 0.875rem;
$buffer--font-size-base: 1rem;
$buffer--font-size-lg: 1.125rem;
$buffer--font-size-xl: 1.25rem;
$buffer--font-size-2xl: 1.5rem;
$buffer--font-size-3xl: 1.875rem;
$buffer--font-size-4xl: 2.25rem;
$buffer--font-size-5xl: 3rem;
$buffer--font-size-6xl: 4rem;
$buffer--font-size-7xl: 4.5rem;
$buffer--font-size-8xl: 5rem;
$buffer--font-size-inherit: inherit;

/*
    * FONT WEIGHT
*/
$buffer--font-weight-hairline: 100;
$buffer--font-weight-thin: 200;
$buffer--font-weight-light: 300;
$buffer--font-weight-normal: 400;
$buffer--font-weight-medium: 500;
$buffer--font-weight-semibold: 600;
$buffer--font-weight-bold: 700;
$buffer--font-weight-extrabold: 800;
$buffer--font-weight-black: 900;

/*
    * LINE HEIGHT
*/
$buffer--line-height-leading-zero: 0;
$buffer--line-height-leading-none: 1;
$buffer--line-height-leading-tight: 1.25;
$buffer--line-height-leading-snug: 1.375;
$buffer--line-height-leading-normal: 1.5;
$buffer--line-height-leading-relaxed: 1.625;
$buffer--line-height-leading-loose: 2;

/*
    * LIST STYLE TYPE
*/
$buffer--list-style-type-none: none;
$buffer--list-style-type-disc: disc;
$buffer--list-style-type-decimal: decimal;

/*
    * LIST STYLE POSITION
*/
$buffer--list-style-position-inside: inside;
$buffer--list-style-position-outside: outside;

/*
    * TEXT ALIGN
*/
$buffer--text-align-left: left;
$buffer--text-align-center: center;
$buffer--text-align-right: right;
$buffer--text-align-justify: justify;

/*
    * TEXT COLOR
*/
$buffer--text-color-black: #333333;
$buffer--text-color-white: #ffffff;
$buffer--text-color-transparent: transparent;
$buffer--text-color-gray: #f2f2f2;
$buffer--text-color-dark-gray: #616061;

$buffer--text-color-warn-100: #fce3e6;
$buffer--text-color-warn-200: #f18292;
$buffer--text-color-warn-300: #eb4f66;
$buffer--text-color-warn-400: #e72a46;
$buffer--text-color-warn-500: #e30425;
$buffer--text-color-warn-600: #e00321;
$buffer--text-color-warn-700: #dc031b;
$buffer--text-color-warn-800: #d80216;
$buffer--text-color-warn-900: #d0010d;

$buffer--text-color-accent-100: #fde8e0;
$buffer--text-color-accent-200: #feb29a;
$buffer--text-color-accent-300: #fe9372;
$buffer--text-color-accent-400: #fd7b53;
$buffer--text-color-accent-500: #fd6435;
$buffer--text-color-accent-600: #fd5c30;
$buffer--text-color-accent-700: #fc5228;
$buffer--text-color-accent-800: #fc4822;
$buffer--text-color-accent-900: #fc3616;

$buffer--text-color-primary-100: #e7f9f1;
$buffer--text-color-primary-200: #9ab4ac;
$buffer--text-color-primary-300: #469373;
$buffer--text-color-primary-400: #537f72;
$buffer--text-color-primary-500: #307a59;
$buffer--text-color-primary-600: #306051;
$buffer--text-color-primary-700: #285548;
$buffer--text-color-primary-800: #224b3e;
$buffer--text-color-primary-900: #163a2e;

/*
    * TEXT DECORATION
*/
$buffer--text-decoration-underline: underline;
$buffer--text-decoration-line-through: line-through;
$buffer--text-decoration-none: none;

/*
    * TEXT TRANSFORM
*/
$buffer--text-transform-uppercase: uppercase;
$buffer--text-transform-lowercase: lowercase;
$buffer--text-transform-capitalize: capitalize;
$buffer--text-transform-normal-case: none;

/*
    * VERTICAL ALIGN
*/
$buffer--vertical-align-baseline: baseline;
$buffer--vertical-align-top: top;
$buffer--vertical-align-middle: middle;
$buffer--vertical-align-bottom: bottom;
$buffer--vertical-align-text-top: text-top;
$buffer--vertical-align-text-bottom: text-bottom;

/*
    * WHITESPACE
*/
$buffer--white-space-normal: normal;
$buffer--white-space-no-wrap: nowrap;
$buffer--white-space-pre: pre;
$buffer--white-space-pre-line: pre-line;
$buffer--white-space-pre-wrap: pre-wrap;

/*
    * LETTER SPACING
*/
$buffer--letter-spacing-tracking-tighter: -0.05em;
$buffer--letter-spacing-tracking-tight: -0.025em;
$buffer--letter-spacing-tracking-normal: 0;
$buffer--letter-spacing-tracking-wide: 0.025em;
$buffer--letter-spacing-tracking-wider: 0.05em;
$buffer--letter-spacing-tracking-widest: 0.1em;
/* ************************************* TYPOGRAPHY ENDS ************************************* */
/* ************************************* TYPOGRAPHY ENDS ************************************* */
