<div class="clearfix">
  <div class="buffer--intro-create-content buffer--margin-y-12">
    <div class="buffer--intro-create-content-text buffer--text-align-left buffer--width-percent-50">
      <div class="clearfix">
        <h6 class="buffer--font-size-base buffer--text-color-red-500 buffer--margin-y-5">Plan</h6>
      </div>
      <div class="clearfix">
        <h1
          class="buffer--font-family-bold buffer--font-size-4xl buffer--text-color-black buffer--letter-spacing-tracking-tight"
        >
          Craft the perfect post for each social network, all in one place
        </h1>
      </div>
      <div class="clearfix">
        <p
          class="buffer--font-size-xl buffer--line-height-leading-normal buffer--font-family-regular buffer--text-color-black"
        >
          Grow your social media presence with Iconosquare, the most powerful analytics, management & scheduling
          platform for brands and agencies.
        </p>
      </div>
      <div class="clearfix">
        <a
          class="buffer--get-started-short-link buffer--font-size-base buffer--line-height-leading-normal buffer--font-family-regular"
        >
          <span>Get started now</span>
          <span
            ><i class="material-icons buffer--margin-left-2 buffer--get-started-short-link-icon">arrow_forward</i></span
          >
        </a>
      </div>
    </div>
    <div class="buffer--intro-create-content-photo buffer--width-percent-50"></div>
  </div>
</div>
