<div class="clearfix">
  <div [routerLink]="[ '/account' ]"
    class="clearfix buffer--outline-none buffer--cursor-pointer buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-start">
    <div class="clearfix buffer--position-relative buffer--width-11 buffer--height-11 buffer--margin-right-2">
      <img class="buffer--width-full buffer--border-radius-full"
        src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863" />
    </div>
    <div class="clearfix">
      <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--line-height-leading-snug">Facebook
        Page</p>
      <p
        class="buffer--font-family-semi-bold buffer--font-size-xs buffer--line-height-leading-normal buffer--text-color-dark-gray">
        Facebook Page</p>
    </div>
  </div>
</div>