<div class="clearfix buffer--padding-10">


  <mat-grid-list cols="3" gutterSize="1.25rem" rowHeight="190">
    <mat-grid-tile
      class="clearfix buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
      <div class="buffer--width-full buffer--display-flex buffer--display-flex-direction-column">
        <div
          class="buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-resource></buffer--social-profile-list-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-action></buffer--social-profile-list-modal-content-action>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      class="clearfix buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
      <div class="buffer--width-full buffer--display-flex buffer--display-flex-direction-column">
        <div
          class="buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-resource></buffer--social-profile-list-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-action></buffer--social-profile-list-modal-content-action>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      class="clearfix buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
      <div class="buffer--width-full buffer--display-flex buffer--display-flex-direction-column">
        <div
          class="buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-resource></buffer--social-profile-list-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-list-modal-content-action></buffer--social-profile-list-modal-content-action>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</div>

<div class="clearfix">
  <!-- <buffer--loader></buffer--loader> -->
</div>

<div class="clearfix">
  <!-- <buffer--no-data-found class="buffer--min-height-40" noDataFoundIcon="search" noDataFoundText="No social profile">
    <p class="buffer--font-family-semi-bold buffer--font-size-base buffer--line-height-leading-loose">No social profile
    </p>
  </buffer--no-data-found> -->
</div>