:host {
  position: relative;
  display: block;

  .buffer--social-profile-list {
    &:hover {
      background-color: #f2f2f2;
    }

    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
