:host {
	position: relative;
	display: block;

	.buffer--intro-hero-sec {
		background-image: url('/assets/images/background/buffer--intro-social-background.svg');
		background-position: bottom center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
