<section class="b-h-full">
  <div class="p-grid">
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Posts" cardIcon="pi-thumbs-up"
        [cardCounter]="insight?.media_count || 0" cardInfoTitle="Total Reactions" cardIconColor="success">
      </buffer--analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Follows" cardIcon="pi-eye"
        [cardCounter]="insight?.follows_count || 0" cardInfoTitle="Total Page Impressions"
        cardHelpInfo="The number of times any content from your Page or about your Page entered a person's screen. This includes posts, stories, check-ins, ads, social information from people who interact with your Page and more."
        cardIconColor="secondary">
      </buffer--analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Followers" cardIcon="pi-users"
        [cardCounter]="insight?.followers_count || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.reach?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.website_clicks?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>

    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.text_message_clicks?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>

    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.profile_views?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>

    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.phone_call_clicks?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>

    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Profile Reach" cardIcon="pi-users"
        [cardCounter]="insight?.impressions?.total || 0" cardInfoTitle="Total Engaged Users"
        cardHelpInfo="The number of people who engaged with your Page." cardIconColor="primary">
      </buffer--analyze-card>
    </div>
  </div>
</section>