:host {
  position: relative;
  display: block;

  .buffer--social-account-logo-facebook {
    background: #1877f2 url('/assets/images/icon/facebook.svg');
    background-size: cover;
  }

  .buffer--social-account-logo-linkedin {
    background: #007bb5 url('/assets/images/icon/linkedin.svg');
    background-size: cover;
  }

  .buffer--social-account-logo-twitter {
    background: #1da1f2 url('/assets/images/icon/twitter.svg');
    background-size: cover;
  }

  .buffer--social-account-logo-instagram {
    background: #f46f30 url('/assets/images/icon/instagram.svg');
    background-size: cover;
  }

  .buffer--social-account-logo-pinterest {
    background: #bd081c url('/assets/images/icon/pinterest.svg');
    background-size: cover;
  }
}
