:host {
  display: block;
  position: relative;

  .buffer--upload-media-sec {
    .upload-item-content {
      border-radius: 0.5rem;
      border: 1px solid #f2f2f2;
      float: left;
      height: 90px;
      margin: 0.5rem;
      position: relative;
      width: 90px;

      &:first-child {
        display: none;
      }

      .uploaded-item-preview {
        width: 100%;
        height: 100%;
      }

      .cancel-item {
        background-color: #f2f2f2;
        border-radius: 50%;
        height: 20px;
        padding: 2px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
      }

      .progress-text-content {
        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
      }
    }
  }

  ::ng-deep {
    .dropzone {
      background-color: #f2f2f2 !important;
      border-radius: 0.5rem;
      min-height: 150px;
      padding: 1rem !important;

      .dropzone.dz-wrapper {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        background: transparent;
        border: none;
        color: #505050;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
      }
    }

    .dz-wrapper {
      align-items: center;
      display: flex;
      height: 170px;
      justify-content: center;
    }

    .dropzone.dz-wrapper .dz-message .dz-text {
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .dropzone.dz-wrapper .dz-message {
      -webkit-animation: slideindown 0.5s linear;
      animation: slideInDown 0.5s linear;
      border-radius: 0.5rem;
      border: 1px dashed #515152;
      color: #505050;
      height: 8rem;
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .dropzone .dz-preview .dz-details {
      color: #505050;
      font-size: 13px;
      opacity: 1;
      padding: 2em 1em;
      text-align: center;
    }

    .dropzone .dz-preview .dz-progress {
      background: #f2f2f2;
      border-radius: 8px;
      height: 16px;
      left: 50%;
      margin-left: -40px;
      margin-top: -8px;
      opacity: 1;
      overflow: hidden;
      pointer-events: none;
      top: 50%;
      width: 80px;
      z-index: 1000;
    }

    .dz-complete {
      .dz-upload-progress {
        display: none !important;
      }
    }
  }
}

@-webkit-keyframes slideInDown {
  0% {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInDown {
  0% {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideindown;
  animation-name: slideInDown;
}
