:host {
  position: relative;
  display: block;

  .buffer--upload-media-sec {
    .upload-item-content {
      position: relative;
      float: left;
      margin: 0.5rem;
      width: 90px;
      height: 90px;
      border: 1px solid #f2f2f2;
      border-radius: 0.5rem;

      &:first-child {
        display: none;
      }

      .uploaded-item-preview {
        width: 100%;
        height: 100%;
      }

      .cancel-item {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f2f2f2;
      }

      .progress-text-content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

  ::ng-deep {
    .dropzone {
      padding: 1rem !important;
      min-height: 150px;
      border-radius: 0.5rem;
      background-color: #f2f2f2 !important;

      .dropzone.dz-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 0;
        max-height: 100%;
        width: 100%;
        border: none;
        background: transparent;
        color: #191919;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
      }
    }

    .dz-wrapper {
      display: flex;
      height: 170px;
      align-items: center;
      justify-content: center;
    }

    .dropzone.dz-wrapper .dz-message .dz-text {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      -webkit-box-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      align-items: center;
      justify-content: center;
    }

    .dropzone.dz-wrapper .dz-message {
      position: relative;
      overflow: hidden;
      margin: 0;
      max-width: 100%;
      width: 100%;
      height: 10rem;
      border: 1px dashed #616061;
      border-radius: 0.5rem;
      color: #191919;
      -webkit-animation: slideindown 0.5s linear;
      animation: slideInDown 0.5s linear;
    }

    .dropzone .dz-preview .dz-details {
      padding: 2em 1em;
      color: #191919;
      text-align: center;
      font-size: 13px;
      opacity: 1;
    }

    .dropzone .dz-preview .dz-progress {
      top: 50%;
      left: 50%;
      z-index: 1000;
      overflow: hidden;
      margin-top: -8px;
      margin-left: -40px;
      width: 80px;
      height: 16px;
      border-radius: 8px;
      background: #f2f2f2;
      opacity: 1;
      pointer-events: none;
    }

    .dz-complete {
      .dz-upload-progress {
        display: none !important;
      }
    }
  }
}

@-webkit-keyframes slideInDown {
  0% {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInDown {
  0% {
    visibility: visible;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideindown;
  animation-name: slideInDown;
}
