<div class="clearfix buffer--padding-10">

  <div
    class="buffer--margin-y-5 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">

    <div class="clearfix buffer--width-percent-50">
      <buffer--schedule-post-view-modal-images *ngIf="postInfo.postImages" [postImages]="postInfo.postImages"
        [postImageSlideConfig]="slideConfig">
      </buffer--schedule-post-view-modal-images>
      <buffer--schedule-post-view-modal-videos *ngIf="postInfo.postVideos" [postVideos]="postInfo.postVideos"
        [postVideoSlideConfig]="slideConfig">
      </buffer--schedule-post-view-modal-videos>
    </div>

    <div class="clearfix buffer--width-percent-49 buffer--padding-left-5 buffer--position-relative">

      <div
        class="buffer--margin-bottom-5 buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
        <div class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center">
          <img [src]="postInfo.socialAccounts[0].socialAvatar"
            class="buffer--border-radius-full buffer--width-10 buffer--height-10" />
          <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--margin-left-2">
            {{postInfo.socialAccounts[0].socialName }}</p>
        </div>


      </div>

      <div class="clearfix buffer--height-percent-70 buffer--overflow-y-auto">
        <div class="clearfix">
          <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--line-height-leading-normal">
            {{ postInfo.postCaption }}</p>
        </div>

        <div class="clearfix buffer--margin-top-5">
          <buffer--schedule-post-view-modal-time [postDateAndTime]="postInfo.postOriginalDate">
          </buffer--schedule-post-view-modal-time>
        </div>

        <div class="clearfix buffer--margin-top-5" *ngIf="postInfo.postLocation">
          <p class="buffer--font-family-regular buffer--font-size-sm">
            <span><i class="material-icons buffer--vertical-align-middle">beenhere</i></span>
            <span class="buffer--line-height-leading-loose buffer--margin-left-3">{{ postInfo.postLocation }}</span>
          </p>
        </div>
      </div>

      <div
        class="clearfix buffer--width-percent-95 buffer--padding-top-5 buffer--position-absolute buffer--position-absolute-bottom-0">
        <div class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-end">

          <div class="clearfix">
            <button mat-stroked-button mat-dialog-close class="buffer--font-family-semi-bold">Close</button>
          </div>
          <div class="clearfix buffer--margin-left-3">
            <button class="buffer--font-family-semi-bold" color="primary" mat-flat-button>Edit</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>