<section class="b-h-full">
  <div class="p-grid">
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="Engaged Users" icon="pi-users"
        [counter]="overview?.page_engaged_users?.total || 0" info_title="Total Engaged Users"
        help_info="The number of people who engaged with your Page." icon_color="primary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="Page Impressions" icon="pi-eye"
        [counter]="overview?.page_impressions?.total || 0" info_title="Total Page Impressions"
        help_info="The number of times any content from your Page or about your Page entered a person's screen. This includes posts, stories, check-ins, ads, social information from people who interact with your Page and more."
        icon_color="secondary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="Reactions" icon="pi-thumbs-up"
        [counter]="overview?.page_actions_post_reactions_like_total?.total || 0" info_title="Total Reactions"
        icon_color="success">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="New Fans" icon="pi-user-plus"
        [counter]="overview?.page_fan_adds?.total || 0" info_title="Total New Fans" icon_color="info"
        help_info="The number of new people who have liked your Page.">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="Lost Fans" icon="pi-thumbs-down"
        [counter]="overview?.page_fan_removes?.total || 0" info_title="Total Lost Fans"
        help_info="The number of people who have unliked your Page." icon_color="danger">
      </buffer-analyze-card>
    </div>

    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
      <buffer-analyze-card class="b-w-full b-h-full" title="Page Views" icon="pi-eye"
        [counter]="overview?.page_views_total?.total || 0" info_title="Total Page Views" icon_color="primary"
        help_info="The total number of times a Page has been viewed.">
      </buffer-analyze-card>
    </div>

  </div>

  <div class="p-grid p-mt-2">
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Engagements" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Engagements', data: overview?.page_engaged_users?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Page Impressions" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Page Impressions', data: overview?.page_impressions?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Reactions" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Reactions', data: overview?.page_actions_post_reactions_like_total?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Fan Growth" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Fan Growth', data: overview?.page_fan_adds?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Fans Lost" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Fans Lost', data: overview?.page_fan_removes?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Page Views" chartType="area"
        [chart_labels]="overview?.categories"
        [chartSeries]="[{name: 'Page Views', data: overview?.page_views_total?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Page likes/unlikes history" chartType="column"
        [chart_labels]="overview?.categories" [chartSeries]="[
        {name: 'Likes', data: overview?.page_fan_adds?.response, type: 'column', color: '#04D98B'},
        {name: 'Unlikes', data: overview?.page_fan_removes?.response, type: 'column', color: '#e0245e'}
        ]">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Reactions Type" chartType="column"
        [chart_labels]="overview?.categories" [chartSeries]="[
        {name: 'Like', data: overview?.page_actions_post_reactions_like_total?.response, type: 'column'},
        {name: 'Love', data: overview?.page_actions_post_reactions_love_total?.response, type: 'column'},
        {name: 'Wow', data: overview?.page_actions_post_reactions_wow_total?.response, type: 'column'},
        {name: 'Haha', data: overview?.page_actions_post_reactions_haha_total?.response, type: 'column'},
        {name: 'Sorry', data: overview?.page_actions_post_reactions_sorry_total?.response, type: 'column'},
        {name: 'Anger', data: overview?.page_actions_post_reactions_anger_total?.response, type: 'column'}
        ]">
      </buffer-analyze-chart>
    </div>
  </div>
</section>