<div class="clearfix">
  <div
    class="buffer--padding-y-5 buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between buffer--align-items-center"
  >
    <div class="clearfix buffer--width-full buffer--margin-bottom-3">
      <button
        mat-button
        class="buffer--width-full buffer--background-color-green-800 buffer--text-color-white buffer--font-family-regular buffer--border-radius-lg buffer--text-align-left buffer--padding-bottom-1"
      >
        <mat-icon>schedule</mat-icon>
        <span class="buffer--margin-left-2">Schedule</span>
      </button>
    </div>

    <div class="clearfix buffer--width-full buffer--margin-bottom-3">
      <button
        mat-button
        class="buffer--width-full buffer--font-family-regular buffer--border-radius-lg buffer--text-align-left buffer--padding-bottom-1"
      >
        <mat-icon>subject</mat-icon>
        <span class="buffer--margin-left-2">Bucket</span>
      </button>
    </div>

    <div class="clearfix buffer--width-full buffer--margin-bottom-3">
      <button
        mat-button
        class="buffer--width-full buffer--font-family-regular buffer--border-radius-lg buffer--text-align-left buffer--padding-bottom-1"
      >
        <mat-icon>message</mat-icon>
        <span class="buffer--margin-left-2">Conversation</span>
      </button>
    </div>

    <div class="clearfix buffer--width-full buffer--margin-bottom-3">
      <button
        mat-button
        class="buffer--width-full buffer--font-family-regular buffer--border-radius-lg buffer--text-align-left buffer--padding-bottom-1"
      >
        <mat-icon>assessment</mat-icon>
        <span class="buffer--margin-left-2">Analytics</span>
      </button>
    </div>
  </div>
</div>
