<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between buffer--align-items-center"
  >
    <div
      matTooltip="Schedule"
      matTooltipPosition="right"
      matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--width-full buffer--padding-y-5"
    >
      <div class="buffer--width-full buffer--text-color-black buffer--font-family-regular buffer--text-align-center">
        <mat-icon>schedule</mat-icon>
      </div>
    </div>

    <div
      matTooltip="Bucket"
      matTooltipPosition="right"
      matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--width-full buffer--padding-y-5"
    >
      <div class="buffer--width-full buffer--text-color-black buffer--font-family-regular buffer--text-align-center">
        <mat-icon class="buffer--width-full">subject</mat-icon>
      </div>
    </div>

    <div
      matTooltip="Conversation"
      matTooltipPosition="right"
      matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--width-full buffer--padding-y-5"
    >
      <div class="buffer--width-full buffer--text-color-black buffer--font-family-regular buffer--text-align-center">
        <mat-icon class="buffer--width-full">message</mat-icon>
      </div>
    </div>

    <div
      matTooltip="Analytics"
      matTooltipPosition="right"
      matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--width-full buffer--padding-y-5"
    >
      <div class="buffer--width-full buffer--text-color-black buffer--font-family-regular buffer--text-align-center">
        <mat-icon class="buffer--width-full">assessment</mat-icon>
      </div>
    </div>
  </div>
</div>
