<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between buffer--align-items-center">
    <a [routerLink]="['/schedule']" routerLinkActive="buffer--text-color-primary-500" [routerLinkActiveOptions]="{exact:
      true}" matTooltip="Schedule" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--text-color-black buffer--width-full buffer--text-align-center buffer--padding-y-5 buffer--outline-hidden">
      <mat-icon>schedule</mat-icon>
    </a>

    <a [routerLink]="['/bucket']" routerLinkActive="buffer--text-color-primary-500" [routerLinkActiveOptions]="{exact:
      true}" matTooltip="Bucket" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--text-color-black buffer--width-full buffer--text-align-center buffer--padding-y-5 buffer--outline-hidden">
      <mat-icon>subject</mat-icon>
    </a>

    <a [routerLink]="['/message']" routerLinkActive="buffer--text-color-primary-500" [routerLinkActiveOptions]="{exact:
      true}" matTooltip="Conversation" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--text-color-black buffer--width-full buffer--text-align-center buffer--padding-y-5 buffer--outline-hidden">
      <mat-icon>message</mat-icon>
    </a>

    <a [routerLink]="['/message']" routerLinkActive="buffer--text-color-primary-500" [routerLinkActiveOptions]="{exact:
      true}" matTooltip="Analytics" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--header-menu-list-item buffer--text-color-black buffer--width-full buffer--text-align-center buffer--padding-y-5 buffer--outline-hidden">
      <mat-icon>assessment</mat-icon>
    </a>

  </div>
</div>