:host {
  position: relative;
  display: block;

  .buffer--connection-list[area-selected='true'] {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    opacity: 1 !important;
  }
}
