<div class="clearfix">

  <div *ngIf="(connections$ | async).length <= 8; else connectionsCarousel" class="p-d-flex">
    <div *ngFor="let connection of connections$ | async;" [pTooltip]="generateTooltip(connection)" placement="top"
      (click)="connectionSelected(connection)" [attr.area-selected]="isConnectionSelected(connection)"
      class="buffer--position-relative buffer--width-11 buffer--height-11 buffer--border-radius-full buffer--margin-right-3 buffer--cursor-pointer buffer--connection-list"
      [ngClass]="{'buffer--opacity-100': (activeConnectionID$ | async) === connection.id, 'buffer--opacity-50': (activeConnectionID$ | async) !== connection.id}">
      <img [src]="connection.connectionPicture"
        class="b-w-full b-h-full buffer--background-color-gray buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-full" />
      <div
        [attr.class]="'buffer--position-bottom-0 b-ca-sl buffer--position-absolute buffer--border-radius-full b-ca-sl-' + connection.connectionType">
      </div>
    </div>
  </div>

  <ng-template #connectionsCarousel>
    <p-carousel [value]="connections$ | async" [numVisible]="8" [numScroll]="8">
      <ng-template let-connection pTemplate="item">
        <div [pTooltip]="generateTooltip(connection)" (click)="connectionSelected(connection)"
          [attr.area-selected]="isConnectionSelected(connection)"
          class="buffer--position-relative buffer--width-11 buffer--height-11 buffer--border-radius-full buffer--margin-right-3 buffer--cursor-pointer buffer--connection-list"
          [ngClass]="{'buffer--opacity-100': (activeConnectionID$ | async) === connection.id, 'buffer--opacity-50': (activeConnectionID$ | async) !== connection.id}">
          <img [src]="connection.connectionPicture"
            class="b-w-full b-h-full buffer--background-color-gray buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-full" />
          <div
            [attr.class]="'buffer--position-bottom-0 b-ca-sl buffer--position-absolute buffer--border-radius-full b-ca-sl-' + connection.connectionType">
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</div>