<div class="clearfix" *ngIf="(loadingState$ | async) === false; else loadingContainer">
  <section id="schedule-create-form-header-sec" class="schedule-create-form-header-sec">
    <buffer--post-create-modal-form-header [formHeader]="formHeader">
    </buffer--post-create-modal-form-header>
  </section>

  <section id="schedule-create-form-content-sec" class="schedule-create-form-content-sec buffer--overflow-y-auto">
    <div class="buffer--padding-5 buffer--padding-bottom-0">
      <div class="clearfix buffer--margin-bottom-5">
        <buffer--post-create-modal-form-connection-selection (connectionChange)="changeConnectionSelection($event)">
        </buffer--post-create-modal-form-connection-selection>
      </div>

      <form novalidate [formGroup]="eventCreateTypeTextForm">
        <div class="clearfix">
          <label for="postCaption"
            class="buffer--text-color-black buffer--cursor-default buffer--font-family-sans-medium buffer--font-size-sm">Caption</label>
          <mat-form-field class="buffer--width-full buffer--font-family-sans-regular buffer--margin-top-3"
            appearance="fill">
            <textarea #autosize="cdkTextareaAutosize" [errorStateMatcher]="eventCreatePostFormErrorMatcher"
              bufferEventPropagation cdkAutosizeMaxRows="5" cdkAutosizeMinRows="5" cdkTextareaAutosize
              class="buffer--text-color-black buffer--font-family-sans-medium buffer--cursor-default buffer--line-height-leading-relaxed"
              formControlName="postCaption" id="postCaption" matInput placeholder="Write something" required
              spellcheck="false"></textarea>
          </mat-form-field>
        </div>

        <div class="clearfix">
          <label for="postScheduleDate"
            class="buffer--text-color-black buffer--cursor-default buffer--font-family-sans-medium buffer--font-size-sm">Date</label>
          <mat-form-field class="buffer--width-full buffer--font-family-sans-regular buffer--margin-top-3"
            appearance="fill">
            <input [errorStateMatcher]="eventCreatePostFormErrorMatcher" [min]="currentDateTime"
              [owlDateTimeTrigger]="postScheduleDate" [owlDateTime]="postScheduleDate" autocomplete="off"
              class="buffer--text-color-black buffer--font-family-sans-medium buffer--cursor-default"
              formControlName="postScheduleDate" id="postScheduleDate" matInput readonly type="text" />
            <button matSuffix mat-icon-button [owlDateTimeTrigger]="postScheduleDate">
              <i class="material-icons buffer--text-color-gray">timer</i>
            </button>
            <owl-date-time #postScheduleDate [hideOtherMonths]="false" [hour12Timer]="true" [startAt]="currentDateTime"
              [stepMinute]="15" readonly panelClass="buffer--dialog-bottom-sheet-custom-panel"></owl-date-time>
          </mat-form-field>
        </div>
      </form>
    </div>
  </section>

  <section id="schedule-create-form-footer-sec" class="schedule-create-form-footer-sec">

    <div
      class="buffer--padding-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-light-gray">
      <div
        class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
        <div class="clearfix">
          <button (click)="handlePreviousBtnClick()"
            class="buffer--height-12 buffer--font-family-sans-medium buffer--font-size-sm" mat-button>
            <span>Back</span>
          </button>
        </div>

        <div class="clearfix">
          <div
            class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
            <div class="clearfix buffer--margin-left-3">
              <button (click)="savePost(postStatus.SAVED)" [disabled]="eventCreateTypeTextForm.invalid"
                class="buffer--height-12 buffer--font-family-sans-medium buffer--font-size-sm" mat-stroked-button
                type="button">
                <span>Save</span>
              </button>
            </div>
            <div class="clearfix buffer--margin-left-3">
              <button (click)="savePost(postStatus.PUBLISHED)" [disabled]="eventCreateTypeTextForm.invalid"
                class="buffer--height-12 buffer--font-family-sans-medium buffer--font-size-sm" mat-stroked-button
                type="button">
                <span>Share now</span>
              </button>
            </div>
            <div class="clearfix buffer--margin-left-3">
              <button (click)="savePost(postStatus.SCHEDULED)" [disabled]="isButtonDisabled()"
                class="buffer--height-12 buffer--font-family-sans-medium buffer--font-size-sm" color="primary"
                mat-flat-button type="button">
                <span>Schedule</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<ng-template #loadingContainer class="buffer--height-full">
  <buffer--loader></buffer--loader>
</ng-template>