:host {
  position: relative;
  display: block;

  ::ng-deep mat-radio-group {
    .mat-radio-container {
      display: none;
    }

    .mat-radio-button {
      width: calc(33.3333% - 1rem);
      height: 10rem;
      border: 1px solid #f2f2f2;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(1, 14, 40, 0.05);

      &:hover {
        box-shadow: 0 0 0 4px rgba(110, 109, 109, 0.1);
      }
    }

    .mat-radio-checked {
      &:not(:active) {
        box-shadow: 0 0 0 4px rgba(29, 202, 233, 1);
      }
    }

    .mat-radio-label {
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -webkit-box-pack: space-evenly;
      align-items: center;
      justify-content: space-evenly;

      .mat-radio-label-content {
        padding: 0;
      }
    }
  }
}
