.spinner{margin:0 auto;width:50px;height:40px;text-align:center;font-size:10px}
.spinner>div{display:inline-block;margin:0 3px 0 0;width:7px;height:100%;background-color:#0074e4;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}
.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}
.spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}
.spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}
.spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}
@-webkit-keyframes sk-stretchdelay{
0%,100%,40%{-webkit-transform:scaleY(.4)}
20%{-webkit-transform:scaleY(1)}
}
@keyframes sk-stretchdelay{
0%,100%,40%{-webkit-transform:scaleY(.4);transform:scaleY(.4)}
20%{-webkit-transform:scaleY(1);transform:scaleY(1)}
}