<section>
  <form [formGroup]="typeForm" novalidate>
    <div class="p-fluid p-formgrid">
      <div class="b-h-full p-col-12 p-d-flex p-flex-column p-jc-center p-ai-center">
        <div class="p-grid">
          <div class="p-col-12 p-md-4 p-lg-4" (click)="selectTab(1)">
            <div class="p-grid p-dir-col">
              <div class="p-col p-text-center">
                <i class="pi pi-align-center icon-font-size b-text-primary"></i>
                <p class="p-text-bold p-mt-2">Status</p>
              </div>
            </div>
          </div>
          <div class="p-col-12 p-md-4 p-lg-4" (click)="selectTab(2)">
            <div class="p-grid p-dir-col">
              <div class="p-col p-text-center">
                <i class="pi pi-images icon-font-size b-text-help"></i>
                <p class="p-text-bold p-mt-2">Image</p>
              </div>
            </div>
          </div>
          <div class="p-col-12 p-md-4 p-lg-4" (click)="selectTab(3)">
            <div class="p-grid p-dir-col">
              <div class="p-col p-text-center">
                <i class="pi pi-video icon-font-size b-text-info"></i>
                <p class="p-text-bold p-mt-2">Video</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>