:host {
  position: relative;
  display: block;

  ::ng-deep mat-radio-group {
    .mat-radio-container {
      display: none;
    }

    .mat-radio-button {
      width: 100%;
      height: 8rem;
      border: 1px solid rgba(0, 0, 0, 0.18);
      border-radius: 4px;

      &:hover {
        border-color: #000001;
      }
    }

    .mat-radio-checked {
      &:not(:active) {
        border-color: #2c4bff;
      }
    }

    .mat-radio-label {
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -webkit-box-pack: space-evenly;
      align-items: center;
      justify-content: space-evenly;

      .mat-radio-label-content {
        padding: 0;
      }
    }
  }

  .icon-font-size {
    font-size: 1.75rem;
  }
}
