<!-- <section class="b-h-full">
  <div class="p-grid">
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Fan growth" chartType="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Top language" chartType="bar">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Top age" chartType="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Top gender" chartType="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Top countries" chartType="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Top cities" chartType="line">
      </buffer-analyze-chart>
    </div>
  </div>
</section> -->