<!-- <section class="b-h-full">
  <div class="p-grid">
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Fan growth" chart_type="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Top language" chart_type="bar">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Top age" chart_type="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Top gender" chart_type="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Top countries" chart_type="line">
      </buffer-analyze-chart>
    </div>
    <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
      <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Top cities" chart_type="line">
      </buffer-analyze-chart>
    </div>
  </div>
</section> -->