<div
  class="buffer--width-full buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <h2>{{ accountHeader }}</h2>
  <div
    class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">

    <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
      <a [routerLink]="[ACCOUNT_PROFILE_ROUTE]"
        routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
        [routerLinkActiveOptions]="{exact: false}"
        class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
        Profile
      </a>
    </div>

    <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
      <a [routerLink]="[ACCOUNT_INVOICE_ROUTE]"
        routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
        [routerLinkActiveOptions]="{exact: true}"
        class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
        Invoice
      </a>
    </div>

    <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
      <a [routerLink]="[ACCOUNT_BILLING_ROUTE]"
        routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
        [routerLinkActiveOptions]="{exact: true}"
        class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
        Billing
      </a>
    </div>
    <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
      <a [routerLink]="[ACCOUNT_PLAN_ROUTE]"
        routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
        [routerLinkActiveOptions]="{exact: true}"
        class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
        Plan
      </a>
    </div>
  </div>
</div>