<div class="b-w-full b-bg-white p-py-3 b-menu-toolbar b-br-b">
  <div class="b-main-container">
    <buffer--main-header></buffer--main-header>
  </div>
</div>

<section style="margin-top: 80px;">
  <div class="b-main-container">
    <buffer--intro-jumbo></buffer--intro-jumbo>
  </div>
</section>

<div class="b-main-container p-pt-6">
  <section class="p-my-6">
    <buffer--intro-create></buffer--intro-create>
  </section>
  <section class="p-my-6">
    <buffer--intro-publish></buffer--intro-publish>
  </section>
  <section class="p-my-6">
    <buffer--intro-create></buffer--intro-create>
  </section>
</div>