:host {
  height: auto;
  display: block;
  position: relative;

  background-image: url('/assets/images/background/home-hero-image.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
