<section id="dashboard-header-sec" class="dashboard-header-sec">
  <div class="clearfix buffer--header-logo-sec buffer--display-flex buffer--align-items-center">
    <buffer--logo-icon class="buffer--width-full buffer--text-align-center"></buffer--logo-icon>
  </div>

  <div class="clearfix buffer--header-menu-sec">
    <buffer--dashboard-header-menu class="buffer--width-full"></buffer--dashboard-header-menu>
  </div>

  <div class="clearfix buffer--header-account-sec">
    <buffer--dashboard-header-account class="buffer--width-full"></buffer--dashboard-header-account>
  </div>
</section>