<div class="b-w-full b-h-full p-d-flex p-flex-column p-jc-between p-ai-center">
  <div class="p-d-flex p-flex-column p-ai-center">
    <div class="b-h-toolbar p-d-flex p-flex-column p-jc-center p-ai-center">
      <buffer--logo-icon></buffer--logo-icon>
    </div>
    <div class="p-py-3 b-br-y">
      <button type="button" pButton (click)="handleAddPostBtnClick()" icon="pi pi-plus"
        class="p-button-rounded p-button-lg p-p-5" pTooltip="Schedule"></button>
    </div>
    <buffer--dashboard-header-menu></buffer--dashboard-header-menu>
  </div>
  <div class="p-py-4">
    <buffer--header-account></buffer--header-account>
  </div>
</div>