:host {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	flex-shrink: 0;
	justify-content: space-between;

	.buffer--header-logo-sec {
		height: 80px;
	}

	.buffer--header-menu-sec {
		height: calc(100vh - 240px);
	}

	.buffer--header-account-sec {
		display: flex;
		height: 160px;
	}
}
