:host {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;

  .buffer--header-logo-sec {
    height: 65px;
  }

  .buffer--header-menu-sec {
    height: calc(100vh - 130px);
  }

  .buffer--header-account-sec {
    height: 65px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}
