:host {
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

  .buffer--header-logo-sec {
    height: 65px;
  }

  .buffer--header-menu-sec {
    height: calc(100vh - 130px);
  }

  .buffer--header-account-sec {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    height: 65px;
  }
}
