<section class="b-h-full">
  <div class="b-h-full p-py-4 p-d-flex p-flex-column p-jc-between p-ac-between">
    <div class="p-d-flex p-flex-column">
      <buffer--logo-icon class="b-w-full p-px-4 p-py-2"></buffer--logo-icon>
      <buffer--dashboard-header-menu class="b-w-full p-my-2"></buffer--dashboard-header-menu>
    </div>

    <div class="p-d-flex p-flex-column">
      <buffer--social-profile-list class="b-w-full p-mb-2 p-px-3 p-pb-2 b-br-b">
      </buffer--social-profile-list>
      <buffer--header-account class="b-w-full p-px-3"></buffer--header-account>
    </div>
  </div>
</section>