<!-- <meta name="twitter:card" content="player" />
<meta name="twitter:title" content="video" />
<meta name="twitter:image"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/thumbnail_00001.png" />
<meta name="twitter:player" content="https://video.buffer.com/v/5a82df3df78c53d21249f680?embed=true" />
<meta name="twitter:player:width" content="300" />
<meta name="twitter:player:height" content="400" />
<meta name="twitter:player:stream"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta name="twitter:player:stream:content_type" content="video/mp4;" />
<meta name="twitter:url" content="https://video.buffer.com/v/5a82df3df78c53d21249f680" />
<meta property="og:type" content="video" />
<meta property="og:title" content="Buffer" />
<meta property="og:url" content="https://video.buffer.com/v/5a82df3df78c53d21249f680" />
<meta property="og:image"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/thumbnail_00001.png" />
<meta property="og:video"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:url"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:secure_url"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:width" content="300" />
<meta property="og:video:height" content="400" />
<meta property="og:video:type" content="video/mp4" /> -->










<div class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-start">
  <section>
    <div class="dashboard-header-sec">
      <div class="buffer--height-18">
        <div
          class="buffer--width-full buffer--height-full buffer--background-color-white buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
          <div
            class="buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-center buffer--align-items-center">
            <buffer--main-logo></buffer--main-logo>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="buffer--connection-route-sec buffer--overflow-auto">
      <div
        class="buffer--height-full buffer--padding-5 buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center">
        <vg-player class="buffer--max-width-2xl buffer--height-auto buffer--border-radius-lg">
          <vg-overlay-play></vg-overlay-play>
          <vg-controls class="buffer--width-full" vgFor="calendarPostVideo">
            <div
              class="buffer--width-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
              <div
                class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                <vg-play-pause></vg-play-pause>
                <vg-mute></vg-mute>
              </div>
              <div
                class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                <vg-time-display></vg-time-display>
                <vg-volume></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </div>
            </div>
          </vg-controls>
          <video #media [vgMedia]="media" id="calendarPostVideo" preload="auto" [vgMaster]="true"
            src="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4"
            type="video/mp4" class="buffer--width-full buffer--height-auto buffer--border-radius-lg">
          </video>
        </vg-player>
      </div>
    </div>
  </section>
</div>