<!-- <meta name="twitter:card" content="player" />
<meta name="twitter:title" content="video" />
<meta name="twitter:image"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/thumbnail_00001.png" />
<meta name="twitter:player" content="https://video.buffer.com/v/5a82df3df78c53d21249f680?embed=true" />
<meta name="twitter:player:width" content="300" />
<meta name="twitter:player:height" content="400" />
<meta name="twitter:player:stream"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta name="twitter:player:stream:content_type" content="video/mp4;" />
<meta name="twitter:url" content="https://video.buffer.com/v/5a82df3df78c53d21249f680" />
<meta property="og:type" content="video" />
<meta property="og:title" content="Buffer" />
<meta property="og:url" content="https://video.buffer.com/v/5a82df3df78c53d21249f680" />
<meta property="og:image"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/thumbnail_00001.png" />
<meta property="og:video"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:url"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:secure_url"
  content="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4" />
<meta property="og:video:width" content="300" />
<meta property="og:video:height" content="400" />
<meta property="og:video:type" content="video/mp4" /> -->










<div class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-start">
  <section>
    <div class="dashboard-header-sec">
      <div class="b-h-toolbar">
        <div
          class="b-w-full b-h-full b-bg-white buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
          <div
            class="b-h-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-center buffer--align-items-center">
            <buffer--main-logo></buffer--main-logo>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="buffer--connection-route-sec b-of-auto">
      <div
        class="b-h-full buffer--padding-5 buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center">
        <video id="calendarPostVideo" preload="auto"
          src="https://buffer-media-uploads.s3.amazonaws.com/5a799f9f8d1d49ed764416fc/5a82df1902d772333049f679/output/ddf16be78106c19476e37da05c8dfe6f.original.mp4"
          type="video/mp4" class="b-w-full buffer--height-auto buffer--border-radius-lg">
        </video>
      </div>
    </div>
  </section>
</div>