<mat-grid-list cols="3" gutterSize="1.25rem" rowHeight="180">
  <mat-grid-tile class="buffer--background-color-white buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full" cardTitle="Audience" cardIcon="group" cardCounter="0"
      cardInfoTitle="Total Audience" cardTooltipText="Help" cardIconBGColor="primary-100" cardIconColor="primary-500">
    </buffer--analyze-card>
  </mat-grid-tile>

  <mat-grid-tile class="buffer--background-color-white buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full" cardTitle="Impressions" cardIcon="visibility" cardCounter="0"
      cardInfoTitle="Total Impressions" cardTooltipText="Help" cardIconBGColor="accent-100" cardIconColor="accent-500">
    </buffer--analyze-card>
  </mat-grid-tile>

  <mat-grid-tile class="buffer--background-color-white buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full" cardTitle="Engagement" cardIcon="thumbs_up_down" cardCounter="0"
      cardInfoTitle="Total Engagement" cardTooltipText="Help" cardIconBGColor="warn-100" cardIconColor="warn-500">
    </buffer--analyze-card>
  </mat-grid-tile>
</mat-grid-list>