<div class="p-grid">
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Audience" icon="pi-users" [counter]="0"
      info_title="Total Audience" icon_color="primary">
    </buffer-analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Impressions" icon="pi-eye" [counter]="0"
      info_title="Total Impressions" icon_color="help">
    </buffer-analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Engagement" icon="pi-directions" [counter]="0"
      info_title="Total Engagement" icon_color="info">
    </buffer-analyze-card>
  </div>
</div>