<div class="clearfix">
  <div class="buffer--background-color-white buffer--border-radius-lg buffer--box-shadow-lg buffer--border-width buffer--border-style-solid buffer--border-color-primary-500 buffer--padding-16">
    


    <div class="clearfix">
      <buffer--main-logo></buffer--main-logo>
    </div>



    <div class="clearfix buffer--margin-top-10 buffer--margin-bottom-5">
      <p
        class="buffer--font-family-semi-bold buffer--font-size-2xl buffer--line-height-leading-normal"
      >
        Sign in
    </p>
    <p
    class="buffer--font-family-semi-bold buffer--font-size-base buffer--line-height-leading-normal"
    >Continue to grow</p
      >
    </div>


    <div class="clearfix">
      <form [formGroup]="signinForm" novalidate>
        <div class="clearfix buffer--margin-y-2">
          <mat-form-field class="buffer--width-full buffer--font-family-regular" appearance="fill">
            <input
              autocomplete="current-password"
              autocomplete="off"
              formControlName="emailAddress"
              matInput
              placeholder="Email address"
              required
              type="text"
            />
          </mat-form-field>
        </div>

        <div class="clearfix buffer--margin-y-2">
          <mat-form-field class="buffer--width-full buffer--font-family-regular" appearance="fill">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              autocomplete="current-password"
              formControlName="password"
              matInput
              placeholder="Password"
              required
            />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="clearfix">
          <div class="buffer--margin-y-2">
            <button
              color="primary"
              mat-flat-button
              [disabled]="signinForm.invalid"
              class="buffer--width-full buffer--font-family-semi-bold buffer--font-size-base buffer--text-color-white buffer--button-big-height buffer--button-big-padding"
            >
              Sign in
            </button>
          </div>
        </div>

        
      </form>
    </div>
  </div>
</div>


<section id="schedule-create-form-footer-sec" class="schedule-create-form-footer-sec">
  <div
    class="buffer--padding-y-5 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between"
  >
    <div class="clearfix">
      <button
        class="buffer--font-family-semi-bold buffer--font-size-sm"
        mat-button
      >
        Forgot password?
      </button>
    </div>
    <div class="clearfix">
      <button
        class="buffer--font-family-semi-bold buffer--font-size-sm"
        (click)="handleAuthNavigateBtn('sign-up')"
        color="primary"
        mat-flat-button
      >
      Create account
      </button>
    </div>
  </div>
</section>