<div class="b-w-full b-h-toolbar b-br-b">
  <buffer-toolbar [back_button]="true" [show_connections]="true" header_title="Facebook Insight"
    (connection_selected)="connectionSelected($any($event))">
  </buffer-toolbar>
</div>

<div class="b-hs-wt-h b-of-h">
  <div class="b-w-full b-br-b p-px-5 b-h-toolbar p-d-flex p-ai-center">
    <buffer-filter class="b-w-full" [active_connection_id]="(active_connection_id$ | async) || ''"
      [insight_type]="insight_type">
    </buffer-filter>
  </div>
  <div class="b-hs-w-h b-of-auto b-bg-lg p-p-5">
    <ng-container *ngIf="performance$ | async as performance_insight">
      <div class="p-grid p-mb-5">
        <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Page CTA click history" chart_type="column"
            [chart_labels]="performance_insight.categories" [chart_series]="[
            {name: 'Call now', data: performance_insight.page_call_phone_clicks_logged_in_unique?.response, type: 'column', color: '#04D98B'},
            {name: 'Get directions', data: performance_insight.page_get_directions_clicks_logged_in_unique?.response, type: 'column', color: '#e0245e'},
            {name: 'Website clicks', data: performance_insight.page_website_clicks_logged_in_unique?.response, type: 'column', color: '#88929e'}
            ]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Page views history" chart_type="column"
            [chart_labels]="performance_insight.categories"
            [chart_series]="[{name: 'Logged in', data: performance_insight.page_views_logged_in_total?.response, type: 'column'}, {name: 'Logged out', data: performance_insight.page_views_logout?.response, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
      </div>
    </ng-container>
  </div>
</div>