<div (mouseleave)="closePopover()"
  class="clearfix buffer--width-64 buffer--background-color-white buffer--padding-5 buffer--box-shadow-xl buffer--border-width-2 buffer--border-style-solid buffer--border-radius-lg buffer--border-color-light-gray">
  <div class="clearfix">
    <h2 class="buffer--font-family-sans-medium buffer--font-size-lg">{{ popoverInfo?.title }}</h2>
  </div>
  <div class="clearfix buffer--margin-y-5">
    <p class="buffer--font-size-base">
      {{ popoverInfo?.message }}
    </p>
  </div>
  <div class="clearfix">
    <div class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-end">
      <button
        class="buffer--height-10 buffer--width-full buffer--background-color-light-gray buffer--font-family-sans-medium buffer--font-size-sm"
        mat-flat-button (click)="closePopover()">
        Close
      </button>
    </div>
  </div>
</div>