<div class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
  <section>
    <div
      class="dashboard-header-sec buffer--position-fixed buffer--width-20 buffer--position-top-0 buffer--position-left-0 buffer--height-screen buffer--background-color-white buffer--border-width-0 buffer--border-right-width buffer--border-style-solid buffer--border-color-light-gray">
      <buffer--dashboard-header></buffer--dashboard-header>
    </div>
  </section>

  <section>
    <div class="dashboard-route-sec">
      <div id="buffer--dashboard-content-view-sec" class="buffer--dashboard-content-view-sec">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>