<p-fieldset>
  <p-header>
    <div class="p-d-flex p-ai-center p-jc-between">
      <i [attr.class]="'p-mr-2 b-ci pi ' + cardIcon + ' buffer--text-color-' + cardIconColor"></i>
      <h5>{{ cardTitle }}</h5>
    </div>
  </p-header>
  <div class="p-d-flex p-flex-column p-ai-center p-jc-between p-m-3">
    <div class="p-text-center">
      <h1 class="buffer--text-color-blue-500 p-text-bold">{{ cardCounter }}</h1>
      <p class="p-text-bold">{{ cardInfoTitle }}</p>
    </div>
  </div>
</p-fieldset>