<div class="b-h-full p-d-flex p-jc-between p-ai-center">
  <h6 [routerLink]="[ACCOUNT_PROFILE_ROUTE]" routerLinkActive="b-tr-menu-active"
    [routerLinkActiveOptions]="{exact: true}" class="b-tr-menu">
    Profile
  </h6>
  <h6 [routerLink]="[ACCOUNT_INVOICE_ROUTE]" routerLinkActive="b-tr-menu-active"
    [routerLinkActiveOptions]="{exact: true}" class="b-tr-menu">
    Invoice
  </h6>
  <h6 [routerLink]="[ACCOUNT_BILLING_ROUTE]" routerLinkActive="b-tr-menu-active"
    [routerLinkActiveOptions]="{exact: true}" class="b-tr-menu">
    Billing
  </h6>
  <h6 [routerLink]="[ACCOUNT_PLAN_ROUTE]" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: true}"
    class="b-tr-menu">
    Plan
  </h6>
</div>