<div [ngClass]="{ 'buffer--opacity-50': !upcomingPost }"
  class="clearfix buffer--padding-x-2 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
  <div class="clearfix buffer--position-relative">
    <div
      class="buffer--margin-y-2 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
      <div class="clearfix">

        <div [ngClass]="{
          'buffer--text-color-primary-500': upcomingPost,
          'buffer--text-color-warn-500': !upcomingPost
        }"
          class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
          <div class="clearfix buffer--margin-right-1">
            <i class="material-icons buffer--font-size-sm buffer--vertical-align-middle">adjust</i>
          </div>
          <div class="clearfix">
            <p class="buffer--font-family-semi-bold buffer--font-size-xs">
              {{ calendarData.event.start | date: 'shortTime' }}</p>
          </div>
        </div>


      </div>
      <div class="clearfix">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="buffer--width-7 buffer--height-7">
          <mat-icon class="buffer--font-size-base">more_vert</mat-icon>
        </button>
      </div>
    </div>
    <div class="clearfix buffer--margin-y-1">
      <div [ngSwitch]="calendarData.event.extendedProps.postType">
        <div *ngSwitchCase="'image'">
          <div class="clearfix">
            <img [defaultImage]="calendarData.event.extendedProps.postImages[0].fileURL"
              [lazyLoad]="calendarData.event.extendedProps.postImages[0].fileURL"
              class="buffer--width-full buffer--border-radius-lg"
              [alt]="calendarData.event.extendedProps.postImages[0].fileName" />
          </div>
        </div>
        <div *ngSwitchCase="'video'">
          <div class="clearfix">
            <vg-player class="buffer--width-full buffer--margin-bottom-2 buffer--border-radius-lg buffer--outline-none">
              <vg-controls vgFor="postVideo">
                <vg-play-pause></vg-play-pause>
              </vg-controls>
              <video #media [vgMedia]="media" id="postVideo" preload="auto" [vgMaster]="true"
                [src]="calendarData.event.extendedProps.postVideos[0].fileURL" type="video/mp4"
                class="buffer--width-full">
              </video>
            </vg-player>
          </div>
        </div>

        <div *ngSwitchDefault>
          <p
            class="buffer--font-family-semi-bold buffer--font-size-xs buffer--text-color-black buffer--line-height-leading-snug">
            {{ calendarData.event.extendedProps.postCaption }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onPostActionBtnClicked('view')">
    <mat-icon>description</mat-icon>
    <span class="buffer--vertical-align-middle">Details</span>
  </button>
  <button mat-menu-item *ngIf="upcomingPost" (click)="onPostActionBtnClicked('edit')">
    <mat-icon>create</mat-icon>
    <span class="buffer--vertical-align-middle">Edit</span>
  </button>
  <button mat-menu-item (click)="onPostActionBtnClicked('reschedule')">
    <mat-icon>query_builder</mat-icon>
    <span class="buffer--vertical-align-middle">Reschedule</span>
  </button>
  <button mat-menu-item (click)="onPostActionBtnClicked('delete')">
    <mat-icon>delete</mat-icon>
    <span class="buffer--vertical-align-middle">Delete</span>
  </button>
</mat-menu>