<div class="clearfix">
  <div
    class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
    <div
      class="clearfix buffer--social-profile-list-sec buffer--width-percent-60 buffer--padding-right-5 buffer--max-height-64 buffer--overflow-y-auto">
      <div
        class="clearfix buffer--social-profile-list buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--padding-y-5 buffer--border-width-0 buffer--border-top-width buffer--border-style-solid buffer--border-color-gray">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix buffer--width-percent-40 buffer--height-full buffer--padding-left-5">

      <div class="clearfix">
        <div class="clearfix">
          <buffer--social-profile-add-modal-content-plan></buffer--social-profile-add-modal-content-plan>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="clearfix">
  <!-- <buffer--loader></buffer--loader> -->
</div>