<div class="clearfix">
  <div
    class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between"
    [ngClass]="{ 'buffer--display-flex-direction-column' : (isWeb$ | async) === false }">
    <div
      class="clearfix buffer--social-profile-list-sec buffer--width-percent-60 buffer--max-height-64 buffer--overflow-y-auto"
      [ngClass]="{ 'buffer--padding-right-10' : (isWeb$ | async), 'buffer--width-full buffer--padding-0' : (isWeb$ | async) === false }">

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>

      <div
        class="clearfix buffer--social-profile-list buffer--margin-y-2 buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg">
        <div
          class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-resource></buffer--social-profile-add-modal-content-resource>
          </div>
          <div class="clearfix">
            <buffer--social-profile-add-modal-content-action></buffer--social-profile-add-modal-content-action>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix buffer--width-percent-40 buffer--height-full buffer--padding-left-10">

      <div class="clearfix">
        <div class="clearfix">
          <buffer--social-profile-add-modal-content-plan></buffer--social-profile-add-modal-content-plan>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="clearfix">
  <!-- <buffer--loader></buffer--loader> -->
</div>