:host {
  position: relative;
  display: block;

  .buffer--social-profile-list-sec {
    .buffer--social-profile-list {
      &:first-child {
        margin-top: 0 !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
