:host {
  display: block;
  position: relative;

  ::ng-deep .mat-radio-container {
    display: none;
  }

  ::ng-deep .mat-radio-button {
    height: 120px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: calc(33.3333% - 1.25rem);

    &:hover {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.01);
    }
  }

  ::ng-deep .mat-radio-checked {
    border: 1px dashed #164d59;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  ::ng-deep .mat-radio-label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .buffer--schedule-post-action-button {
    padding: 5px 26px !important;
  }
}
