<div class="clearfix">
  <div
    class="buffer--social-accounts-list buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center"
  >
    <div class="clearfix buffer--social-account-image buffer--margin-left-2">
      <a href="/gumbum" matTooltip="Facebook Page">
        <img
          class="buffer--width-full buffer--border-radius-full buffer--box-shadow-outline buffer--padding-1"
          src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863"
        />
        <div
          class="clearfix buffer--social-account-logo buffer--social-account-logo-facebook buffer--position-absolute buffer--border-radius-full"
        ></div>
      </a>
    </div>
    <div class="clearfix buffer--social-account-image buffer--margin-left-2">
      <a href="/gumbum" matTooltip="Facebook Page">
        <img
          class="buffer--width-full buffer--border-radius-full"
          src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863"
        />
        <div
          class="clearfix buffer--social-account-logo buffer--social-account-logo-pinterest buffer--position-absolute buffer--border-radius-full"
        ></div>
      </a>
    </div>
    <div class="clearfix buffer--social-account-image buffer--margin-left-2">
      <a href="/gumbum" matTooltip="Facebook Page">
        <img
          class="buffer--width-full buffer--border-radius-full"
          src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863"
        />
        <div
          class="clearfix buffer--social-account-logo buffer--social-account-logo-linkedin buffer--position-absolute buffer--border-radius-full"
        ></div>
      </a>
    </div>
    <div class="clearfix buffer--social-account-image buffer--margin-left-2">
      <a href="/gumbum" matTooltip="Facebook Page">
        <img
          class="buffer--width-full buffer--border-radius-full buffer--box-shadow-outline buffer--padding-1"
          src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863"
        />
        <div
          class="clearfix buffer--social-account-logo buffer--social-account-logo-instagram buffer--position-absolute buffer--border-radius-full"
        ></div>
      </a>
    </div>
    <div class="clearfix buffer--social-account-image buffer--margin-left-2">
      <a href="/gumbum" matTooltip="Facebook Page">
        <img
          class="buffer--width-full buffer--border-radius-full"
          src="https://s3.amazonaws.com/assets.materialup.com/users/pictures/000/401/352/preview/avatar.jpg?1551195863"
        />
        <div
          class="clearfix buffer--social-account-logo buffer--social-account-logo-twitter buffer--position-absolute buffer--border-radius-full"
        ></div>
      </a>
    </div>
  </div>
</div>
