:host {
	position: relative;
	width: 100%;

	.buffer--intro-publish-content {
		-webkit-box-align: center;
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		height: 400px;
		justify-content: center;

		.buffer--intro-publish-content-photo {
			width: 100%;
			height: 100%;
			background-image: url('/assets/images/background/buffer--publish-graphics.svg');
			background-position: left center;
			background-size: contain;
			background-repeat: no-repeat;
			-webkit-box-ordinal-group: 2;
			order: 1;
		}

		.buffer--intro-publish-content-text {
			-webkit-box-ordinal-group: 3;
			order: 2;
		}
	}
}
