<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between buffer--align-items-center">
    <button mat-icon-button [routerLink]="['/schedule']" routerLinkActive="buffer--background-color-primary-100"
      matTooltip="Schedule" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden">
      <mat-icon routerLinkActive="buffer--text-color-primary-500">schedule</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/bucket']" routerLinkActive="buffer--background-color-primary-100"
      matTooltip="Bucket" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden">
      <mat-icon routerLinkActive="buffer--text-color-primary-500">bubble_chart</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/message']" routerLinkActive="buffer--background-color-primary-100"
      matTooltip="Conversation" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden">
      <mat-icon routerLinkActive="buffer--text-color-primary-500">message</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/analytics']" routerLinkActive="buffer--background-color-primary-100"
      matTooltip="Analytics" matTooltipPosition="right" matTooltipClass="buffer--font-size-xs"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden">
      <mat-icon routerLinkActive="buffer--text-color-primary-500">equalizer</mat-icon>
    </button>

  </div>
</div>