<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between buffer--align-items-center">
    <button mat-icon-button [routerLink]="['/dashboard']" routerLinkActive="buffer--background-color-white"
      matTooltip="Dashboard" matTooltipPosition="right"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden buffer--background-color-white">
      <i class="material-icons" routerLinkActive="buffer--text-color-accent-700">dashboard</i>
    </button>

    <button mat-icon-button [routerLink]="['/schedule']" routerLinkActive="buffer--background-color-white"
      matTooltip="Schedule" matTooltipPosition="right"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden buffer--background-color-white">
      <i class="material-icons" routerLinkActive="buffer--text-color-accent-700">schedule</i>
    </button>

    <button mat-icon-button [routerLink]="['/bucket']" routerLinkActive="buffer--background-color-white"
      matTooltip="Bucket" matTooltipPosition="right"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden buffer--background-color-white">
      <i class="material-icons" routerLinkActive="buffer--text-color-accent-700">bubble_chart</i>
    </button>

    <button mat-icon-button [routerLink]="['/message']" routerLinkActive="buffer--background-color-white"
      matTooltip="Conversation" matTooltipPosition="right"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden buffer--background-color-white">
      <i class="material-icons" routerLinkActive="buffer--text-color-accent-700">message</i>
    </button>

    <button mat-icon-button [routerLink]="['/analyze']" routerLinkActive="buffer--background-color-white"
      matTooltip="Analytics" matTooltipPosition="right"
      class="clearfix buffer--width-12 buffer--height-12 buffer--margin-y-3 buffer--outline-hidden buffer--background-color-white">
      <i class="material-icons" routerLinkActive="buffer--text-color-accent-700">equalizer</i>
    </button>

  </div>
</div>