:host {
  background-color: #ffffff;
  display: block;
  position: relative;

  ::ng-deep {
    .mat-calendar-body-today:not(.mat-calendar-body-selected) {
      background-color: #b9e4c9;
      border-color: rgba(0, 0, 0, 0.08);
    }
  }
}
