:host {
  position: relative;
  display: block;
  background-color: #ffffff;

  ::ng-deep {
    .mat-calendar-body-today:not(.mat-calendar-body-selected) {
      border-color: #f2f2f2;
      background-color: #b9e4c9;
    }
  }
}
