<div class="clearfix">
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="eventCreateChooseTypeForm">
      <buffer--post-create-modal-form-type #postTypeChooseStep></buffer--post-create-modal-form-type>
    </mat-step>

    <mat-step [stepControl]="eventCreateTypeTextForm">
      <ng-template matStepLabel>Content</ng-template>
      <buffer--post-create-modal-form-text #postTypeTextStep *ngIf="(postType$ | async) === 'text'">
      </buffer--post-create-modal-form-text>
      <buffer--post-create-modal-form-image #postTypeImageStep *ngIf="(postType$ | async) === 'image'">
      </buffer--post-create-modal-form-image>
      <buffer--post-create-modal-form-video #postTypeVideoStep *ngIf="(postType$ | async) === 'video'">
      </buffer--post-create-modal-form-video>
    </mat-step>
  </mat-horizontal-stepper>
</div>