<div
  class="buffer--padding-x-5 buffer--height-20 buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-gray">
  <div class="clearfix buffer--width-percent-25">
    <buffer--facebook-profile-selection class="buffer--width-full"></buffer--facebook-profile-selection>
  </div>

  <div class="clearfix">
    <div
      class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
      <div class="clearfix buffer--margin-left-5">
        <buffer--facebook-routes></buffer--facebook-routes>
      </div>
      <div class="clearfix buffer--margin-left-5">
        <buffer--facebook-date-selection></buffer--facebook-date-selection>
      </div>
    </div>
  </div>
</div>