<div class="b-w-full b-h-full p-grid p-m-0 p-justify-between p-align-center b-br-b">
  <div class="p-col-6 p-p-0">
    <buffer--facebook-routes></buffer--facebook-routes>
  </div>

  <div class="p-px-4 p-col-6 p-py-0">
    <div class="p-grid p-m-0">
      <div class="p-col-6 p-px-3">
        <buffer--facebook-profile-selection class="b-w-full"></buffer--facebook-profile-selection>
      </div>
      <div class="p-col-6">
        <buffer--facebook-date-selection></buffer--facebook-date-selection>
      </div>
    </div>
  </div>
</div>