<div
  class="buffer--padding-x-5 buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
  <buffer--facebook-routes></buffer--facebook-routes>

  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-flex-end">
    <buffer--facebook-profile-selection></buffer--facebook-profile-selection>
    <buffer--facebook-date-selection></buffer--facebook-date-selection>
  </div>
</div>