:host {
  display: block;
  position: relative;

  .buffer--calendar-week-view-header-sec {
    height: 80px;

    .buffer--calendar-week-view-header-day {
      text-align: center;
      width: calc(100% / 7) !important;
    }
  }
}
