<div class="clearfix">
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [eventTemplate]="eventTemplate"
    [headerTemplate]="customHeaderTemplate"
  >
    <ng-template
      #customHeaderTemplate
      let-days="days"
      let-locale="locale"
      let-dayClicked="dayClicked"
      let-eventDropped="eventDropped"
    >
      <div class="cal-day-headers cursor-default">
        <div
          class="cal-header"
          *ngFor="let day of days"
          [class.cal-past]="day.isPast"
          [class.cal-future]="day.isFuture"
        >
          <div class="top" [class.today]="day.isToday">
            <div class="buffer--font-size-xs buffer--text-transform-uppercase">
              {{ day.date | date: 'E' }}
            </div>
            <div class="buffer--font-size-2xl">{{ day.date | date: 'dd' }}</div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #eventTemplate let-weekEvent="weekEvent" let-locale="locale">
      <p>
        {{ weekEvent.event.title }}
      </p>
    </ng-template>
  </mwl-calendar-week-view>
</div>
