<div class="p-d-flex p-jc-start p-flex-column">
  <div class="b-w-full b-h-toolbar b-br-b">
    <buffer--toolbar [backButton]="true" [showConnections]="true" headerTitle="LinkedIn Profile"></buffer--toolbar>
  </div>

  <section class="b-hs-wt-h b-of-h">
    <div class="b-h-full b-of-auto">
      <div class="p-p-4 b-h-full b-of-auto">
        <section class="p-grid">
          <ng-container *ngIf="connection$ | async as connection" class="p-col-12 p-md-6 p-lg-4 p-sm-12 p-xs-12">
            <p-fieldset>
              <p-header>
                <div class="b-ca b-ca-lg">
                  <img [lazyLoad]="connection.connectionPicture" class="b-w-full b-h-full b-br-full"
                    defaultImage="/assets/images/svg/default-media.svg"
                    errorImage="/assets/images/svg/default-media.svg" />
                </div>
              </p-header>
              <h6>{{ connection.connectionName }}</h6>
              <p>{{ connection.connectionCategory }}</p>
              <button (click)="addConnection(connection)"
                class="p-button-success p-button-sm p-button-text b-w-full p-mt-4" label="Add to plan" pButton
                type="button">
              </button>
            </p-fieldset>
          </ng-container>
        </section>
      </div>
    </div>
  </section>
</div>