<div *ngIf="isWeb | async" class="p-d-flex">
  <ng-container *ngIf="(connections$ | async)?.length! <= 10; else connectionsCarousel" class="p-d-flex">
    <div [ngClass]="{'b-tb-con-active': connection.id === (activeConnection$ | async)}" class="b-tb-con p-ml-2"
      *ngFor="let connection of connections$ | async; trackBy:trackBy;">
      <div [pTooltip]="connection.connectionName" tooltipPosition="bottom" class="b-ca b-ca-md b-post-cl b-outline-none"
        (click)="clicked(connection)">
        <img [alt]="connection.connectionName" [lazyLoad]="connection.connectionPicture"
          class="b-w-full b-h-full b-br-full" defaultImage="/assets/images/svg/default-media.svg"
          errorImage="/assets/images/svg/default-media.svg" />
        <div [attr.class]="'b-ca-sl b-ca-sl-' + connection.connectionType">
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #connectionsCarousel>
    <p-carousel [value]="(connections$ | async)!" [numVisible]="14" [numScroll]="5" indicatorsContentClass="b-d-h">
      <ng-template let-connection pTemplate="item">
        <div (click)="clicked(connection)" [pTooltip]="connection.connectionName" tooltipPosition="bottom"
          class="b-ca b-ca-md b-post-cl">
          <img [alt]="connection.connectionName" [lazyLoad]="connection.connectionPicture"
            class="b-w-full b-h-full b-br-full" defaultImage="/assets/images/svg/default-media.svg"
            errorImage="/assets/images/svg/default-media.svg" />
          <div [attr.class]="'b-ca-sl b-ca-sl-' + connection.connectionType">
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</div>