<div class="clearfix buffer--padding-10 buffer--display-flex buffer--display-flex-direction-column">
  <section id="buffer--schedule-calendar-settings-form-sec" class="buffer--schedule-calendar-settings-form-sec">
    <buffer--calendar-settings-modal-form></buffer--calendar-settings-modal-form>
  </section>

  <section id="schedule-calendar-settings-modal-form-footer-sec"
    class="schedule-calendar-settings-modal-form-footer-sec">
    <div class="clearfix buffer--margin-top-10 buffer--display-flex buffer--flex-justify-content-end">
      <button class="buffer--height-12 buffer--font-family-sans-medium buffer--font-size-sm"
        (click)="handleCloseBtnClick()" mat-stroked-button>
        Close
      </button>
    </div>
  </section>
</div>