<div class="p-px-6 p-pt-5 p-pb-2 b-bg-white b-br-sm">
  <form novalidate [formGroup]="form">
    <div class="p-fluid p-formgrid">
      <div class="p-field p-col-12">
        <label for="user_company_name">Company<span class="b-input-label-required">*</span></label>
        <input id="user_company_name" type="text" pInputText formControlName="user_company_name"
          class="p-inputtext-lg" />
      </div>
      <div class="p-field p-col-12">
        <label for="user_company_size">Company size<span class="b-input-label-required">*</span></label>
        <p-dropdown inputId="user_company_size" [options]="company_size_options" formControlName="user_company_size"
          class="p-inputtext-lg" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <label for="user_business_type">Business type<span class="b-input-label-required">*</span></label>
        <p-dropdown inputId="user_business_type" [options]="business_type_options" formControlName="user_business_type"
          class="p-inputtext-lg" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <label for="user_industry">user_industry<span class="b-input-label-required">*</span></label>
        <p-dropdown inputId="user_industry" [options]="user_industry_options" formControlName="user_industry"
          class="p-inputtext-lg" optionLabel="label"></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <button pButton type="button" label="Save changes" class="b-w-full p-button-lg"
          [disabled]="form.invalid"></button>
      </div>
    </div>
  </form>
</div>