<div class="p-d-flex p-jc-start p-flex-column">
  <div class="b-w-full b-h-toolbar b-br-b">
    <buffer-toolbar [back_button]="true" [show_connections]="false" header_title="Social Profiles"></buffer-toolbar>
  </div>

  <section class="b-hs-wt-h b-of-h">
    <div class="b-h-full b-of-auto">
      <p-table #profilesTable [showCurrentPageReport]="true" [value]="$any(connections$ | async)" dataKey="id"
        [filterDelay]="0" [globalFilterFields]="['connection_name']" sortMode="multiple">
        <ng-template pTemplate="caption">
          <div class="b-h-full p-grid p-justify-between p-align-center p-px-5 p-m-0">
            <div class="p-col-4 p-p-0">
              <span class="p-input-icon-left b-w-full">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search profile" autocomplete="off"
                  (input)="profilesTable.filterGlobal($any($event.target).value, 'contains')"
                  class="p-inputtext-sm b-w-full">
              </span>
            </div>
            <div class="p-col-2">
              <button pButton type="button" label="Add Social Profile(s)" class="p-button-sm b-w-full"
                (click)="navigate([choose_connection_route])"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2" pSortableColumn="connection_name">Profile <p-sortIcon field="connection_name"></p-sortIcon>
            </th>
            <th pSortableColumn="connection_category">Type <p-sortIcon field="connection_category"></p-sortIcon>
            </th>
            <th pSortableColumn="connection_added">Added on <p-sortIcon field="connection_added"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-connection>
          <tr>
            <td colspan="2">
              <div class="b-h-full p-d-flex p-ai-center p-jc-start">
                <div class="b-ca b-ca-lg p-mr-3">
                  <img [lazyLoad]="connection.connection_picture" class="b-w-full b-h-full b-br-full"
                    defaultImage="/assets/images/svg/default-media.svg"
                    errorImage="/assets/images/svg/default-media.svg" />
                  <div [attr.class]="'b-ca-sl b-ca-sl-' + connection.connection_type">
                  </div>
                </div>
                <div>
                  <h6>{{ connection.connection_name }}</h6>
                </div>
              </div>
            </td>
            <td>
              <p>{{ getConnectionType(connection.connection_type) }}</p>
            </td>
            <td>
              <small>
                <i class="pi pi-calendar b-va-m p-mr-1"></i>
                {{ connection.connection_added | date: 'EEE, MMM dd, y' }}</small>
            </td>
            <td>
              <div class="p-d-flex p-jc-start p-ai-center">
                <p-inputSwitch pTooltip="Status" tooltipPosition="top"></p-inputSwitch>
                <button (click)="connectionSelect(connection)"
                  class="p-button-rounded p-button-text p-button-plain p-mx-3" icon="pi pi-plus" pButton type="button"
                  pTooltip="Schedule" tooltipPosition="top">
                </button>
                <button (click)="deleteConnection(connection)" class="p-button-rounded p-button-text p-button-danger"
                  icon="pi pi-trash" pButton type="button" pTooltip="Delete" tooltipPosition="top">
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              <div class="p-m-5">
                <div class="b-h-full p-d-flex p-flex-column p-ai-center">
                  <div class="p-text-center">
                    <img src="/assets/images/svg/no-connection.svg" class="b-empty-msg-img" />
                  </div>
                  <div class="p-my-5 p-text-center">
                    <h3>No connection found</h3>
                    <p>When you connect, it'll show up here.</p>
                  </div>
                  <button pButton (click)="navigate([choose_connection_route])"
                    label="Connect Social Accounts"></button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>