:host {
  height: auto;
  display: block;
  position: relative;
  background-color: #f8f8f8;

  .dashboard-header-sec {
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    width: 200px;
    height: calc(100vh - 0px);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  .dashboard-route-sec {
    width: calc(100vw - 200px);
  }
}
