:host {
  display: block;
  overflow: hidden;
  position: relative;

  ::ng-deep {
    .mat-drawer-end {
      border: none;
    }

    .dashboard-header-sec {
      top: 0;
      left: 0;
      width: 5rem;
      display: block;
      position: fixed;
      height: 100vh;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
    }

    .buffer--schedule-menu-sec {
      height: 65px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .buffer--schedule-calendar-view-sec {
      height: calc(100vh - 65px);
    }

    .dashboard-route-sec {
      width: calc(100vw - 5rem);
    }

    .fc-widget-header {
      border-right-width: 0;
      margin-right: 0 !important;
    }

    .mat-calendar-body-cell {
      font-size: 0.75rem;
      font-family: 'Averta SemiBold';
    }

    .buffer--schedule-calendar-sec {
      width: 100%;
    }
  }
}
