:host {
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;

  .dashboard-header-sec {
    top: 0;
    left: 0;
    width: 5rem;
    display: block;
    position: fixed;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }

  .dashboard-route-sec {
    width: calc(100vw - 5rem);
  }

  ::ng-deep {
    .mat-calendar-body-cell {
      font-size: 0.75rem;
      font-family: 'Averta SemiBold';
    }

    .buffer--schedule-calendar-sec {
      width: calc(100% - 16rem);
    }

    .buffer--schedule-sidenav-sec {
      right: 0.5rem;
    }
  }
}
