<section class="dashboard-header-sec buffer--float-left" id="dashboard-header-sec">
  <div
    class="buffer--position-fixed buffer--position-top-0 buffer--position-left-0 buffer--width-20 buffer--height-screen buffer--background-color-white buffer--border-width-0 buffer--border-right-width buffer--border-style-solid buffer--border-color-gray">
    <buffer--dashboard-header></buffer--dashboard-header>
  </div>
</section>

<section class="dashboard-route-sec buffer--float-right" id="dashboard-route-sec">
  <section class="buffer--dashboard-menu-sec" id="buffer--dashboard-menu-sec">
    <div
      class="buffer--width-full buffer--height-20 buffer--background-color-white buffer--padding-x-5 buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-gray buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
      <buffer--schedule-header class="buffer--width-full"></buffer--schedule-header>
    </div>
  </section>

  <section id="buffer--schedule-calendar-view-sec" class="buffer--schedule-calendar-view-sec">
    <mat-sidenav-container>
      <mat-sidenav-content class="buffer--border-transparent">

        <div class="clearfix buffer--schedule-calendar-sec">
          <div class="clearfix">
            <buffer--schedule-calendar-view [calendarView]="calendarView"></buffer--schedule-calendar-view>
          </div>
        </div>
      </mat-sidenav-content>

      <mat-sidenav [fixedInViewport]="matSideNavFixedInViewport" [fixedTopGap]="matSideNavFixedTopGap"
        class="buffer--width-66 buffer--border-width-0 buffer--border-left-width buffer--border-style-solid buffer--border-color-gray"
        [mode]="matSideNavMode"
        [opened]="(calendarSidebarOpened$ | async) && (isHandset$ | async) === false && (isTablet$ | async) === false"
        [position]="matSideNavPosition">
        <div class="clearfix buffer--width-full buffer--height-full buffer--background-color-white">
          <div class="clearfix">
            <buffer--schedule-add-post-button></buffer--schedule-add-post-button>
          </div>

          <div class="clearfix">
            <buffer--schedule-date-selection></buffer--schedule-date-selection>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </section>
</section>