:host {
  position: relative;
  display: block;
  overflow: hidden;

  ::ng-deep {
    .mat-drawer-end {
      border: none;
    }

    .fc-widget-header {
      margin-right: 0 !important;
      border-right-width: 0;
    }

    .mat-calendar-body-cell {
      font-family: 'Buffer SemiBold';
      font-size: 0.75rem;

      .mat-calendar-body-cell-content {
        width: 100%;
        height: 100%;

        &:not(.mat-calendar-body-selected) {
          color: #484848 !important;
        }
      }
    }

    .buffer--schedule-calendar-sec {
      width: 100%;
    }
  }
}
