<div class="clearfix buffer--overflow-y-auto">
    <form novalidate [formGroup]="profileChangePasswordForm" class="buffer--padding-x-2">

        <div class="clearfix">
            <label class="buffer--cursor-default buffer--font-family-semi-bold buffer--font-size-sm"
                for="profilePassword">Current password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-semi-bold buffer--cursor-default"
                    [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="profilePassword"
                    id="profilePassword" matInput placeholder="Enter current password" spellcheck="false" />
                <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                    <mat-icon class="buffer--text-color-dark-gray">
                        {{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <label for="profileNewPassword"
                class="buffer--cursor-default buffer--font-family-semi-bold buffer--font-size-sm">New password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-semi-bold buffer--cursor-default"
                    formControlName="profileNewPassword" id="profileNewPassword" matInput
                    placeholder="Enter new password" spellcheck="false"
                    [type]="hideNewPassword ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
                    <mat-icon class="buffer--text-color-dark-gray">
                        {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error align="end" *ngIf="profileChangePasswordForm.controls.profileNewPassword.invalid">Enter a
                    valid
                    last name.</mat-error>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <label for="profileNewConfirmPassword"
                class="buffer--cursor-default buffer--font-family-semi-bold buffer--font-size-sm">Confirm new
                password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-semi-bold buffer--cursor-default"
                    formControlName="profileNewConfirmPassword" id="profileNewConfirmPassword" matInput
                    placeholder="Confirm new password" spellcheck="false"
                    [type]="hideNewConfirmPassword ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideNewConfirmPassword = !hideNewConfirmPassword">
                    <mat-icon class="buffer--text-color-dark-gray">
                        {{ hideNewConfirmPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error align="end" *ngIf="profileChangePasswordForm.controls.profileNewConfirmPassword.invalid">
                    Enter a
                    valid
                    last name.</mat-error>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <div class="clearfix buffer--width-full">
                <button mat-flat-button [disabled]="profileChangePasswordForm.invalid" color="primary"
                    class="buffer--width-full buffer--font-family-semi-bold buffer--font-size-base buffer--height-14">
                    Change password
                </button>
            </div>
        </div>

    </form>


</div>