:host {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 400px;
  justify-content: center;
  padding: 0;
  position: relative;
}
