<div class="clearfix">
  <section id="schedule-edit-form-header-sec"
    class="schedule-edit-form-header-sec buffer--padding-top-10 buffer--padding-left-10 buffer--padding-bottom-5 buffer--padding-right-10">
    <buffer--post-edit-modal-form-header [formHeader]="formHeader" [formHeaderIcon]="formHeaderIcon">
    </buffer--post-edit-modal-form-header>
  </section>

  <section id="schedule-edit-form-content-sec"
    class="schedule-edit-form-content-sec buffer--height-70  buffer--padding-x-5 buffer--overflow-y-auto">
    <div class="buffer--padding-x-5">
      <form novalidate [formGroup]="eventEditTypeTextForm">
        <div class="clearfix">
          <label for="postCaption"
            class="buffer--text-color-black buffer--cursor-pointer buffer--font-family-semi-bold buffer--font-size-sm">Caption</label>
          <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
            <textarea #autosize="cdkTextareaAutosize" [errorStateMatcher]="eventEditPostFormErrorMatcher"
              bufferEventPropagation cdkAutosizeMaxRows="5" cdkAutosizeMinRows="3" cdkTextareaAutosize
              class="buffer--font-family-semi-bold buffer--cursor-pointer buffer--line-height-leading-relaxed"
              formControlName="postCaption" id="postCaption" matInput placeholder="Write something" required
              spellcheck="false"></textarea>
          </mat-form-field>
        </div>

        <div class="clearfix">
          <label
            class="buffer--cursor-default buffer--font-family-semi-bold buffer--font-size-sm"
            for="postLink">Link Preview</label>
          <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
            <input class="buffer--font-family-semi-bold buffer--cursor-pointer" formControlName="postLink" id="postLink"
              matInput placeholder="Insert your link here" spellcheck="false" type="url" />
          </mat-form-field>
        </div>

        <div class="clearfix">
          <label for="postLocation"
            class="buffer--cursor-pointer buffer--font-family-semi-bold buffer--font-size-sm">Location</label>
          <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
            <input class="buffer--font-family-semi-bold buffer--cursor-pointer" formControlName="postLocation"
              id="postLocation" matInput placeholder="Add a location" spellcheck="false" type="text" />
          </mat-form-field>
        </div>

        <div class="clearfix">
          <label for="postDate"
            class="buffer--cursor-pointer buffer--font-family-semi-bold buffer--font-size-sm">Date</label>
          <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
            <input [errorStateMatcher]="eventEditPostFormErrorMatcher" [min]="currentDateTime"
              [owlDateTimeTrigger]="postDate" [owlDateTime]="postDate" autocomplete="off"
              class="buffer--font-family-semi-bold buffer--cursor-pointer" formControlName="postDate" id="postDate"
              matInput readonly type="text" />
            <button matSuffix mat-icon-button [owlDateTimeTrigger]="postDate">
              <mat-icon class="buffer--text-color-dark-gray">timer</mat-icon>
            </button>
            <owl-date-time #postDate [hideOtherMonths]="false" [hour12Timer]="true" [startAt]="currentDateTime"
              [stepMinute]="15" readonly panelClass="buffer--dialog-bottom-sheet-custom-panel"></owl-date-time>
          </mat-form-field>
        </div>
      </form>
    </div>
  </section>

  <section id="schedule-edit-form-footer-sec"
    class="schedule-edit-form-footer-sec buffer--padding-top-5 buffer--padding-left-10 buffer--padding-bottom-10 buffer--padding-right-10">
    <div
      class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">

      <div class="clearfix">
        <div
          class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
          <div class="clearfix buffer--margin-left-3">
            <button [disabled]="eventEditTypeTextForm.invalid"
              class="buffer--font-family-semi-bold buffer--font-size-sm buffer--text-color-dark-gray" mat-stroked-button
              type="button">
              <span>Draft</span>
            </button>
          </div>
          <div class="clearfix buffer--margin-left-3">
            <button [disabled]="eventEditTypeTextForm.invalid"
              class="buffer--font-family-semi-bold buffer--font-size-sm buffer--text-color-dark-gray" mat-stroked-button
              type="button">
              <span>Share now</span>
            </button>
          </div>
          <div class="clearfix buffer--margin-left-3">
            <button (click)="handleTextFormSubmit()" [disabled]="eventEditTypeTextForm.invalid"
              class="buffer--font-family-semi-bold buffer--font-size-sm" color="primary" mat-flat-button type="button">
              <span>Schedule</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>