<div
  class="buffer--width-full buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
  <section class="dashboard-header-sec" id="dashboard-header-sec">
    <div
      class="buffer--position-fixed buffer--position-top-0 buffer--position-left-0 buffer--width-20 buffer--height-screen buffer--background-color-white buffer--border-width-0 buffer--border-right-width buffer--border-style-solid buffer--border-color-light-gray">
      <buffer--dashboard-header></buffer--dashboard-header>
    </div>
  </section>

  <section class="dashboard-route-sec" id="dashboard-route-sec">
    <section class="buffer--dashboard-menu-sec" id="buffer--dashboard-menu-sec">
      <div
        class="buffer--width-full buffer--height-18 buffer--background-color-white buffer--padding-x-5 buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
        <buffer--analyze-top-toolbar></buffer--analyze-top-toolbar>
      </div>
    </section>

    <section id="buffer--dashboard-content-view-sec" class="buffer--dashboard-content-view-sec">
      <router-outlet></router-outlet>
    </section>
  </section>
</div>