<div class="b-h-full">
  <h1 class="b-intro-header">Growing your brand wasn't<br />this <span class="buffer--heading-span">easy</span> before
  </h1>
  <h4 class="p-my-6">
    Grow your social media presence with Iconosquare,<br />the most powerful analytics, management & scheduling<br />
    platform for brands and agencies.
  </h4>
  <button pButton label="Try free for 15 days" class="p-button-lg p-px-6 p-py-5"></button>
  <div class="p-my-5">
    <p>No credit card required.</p>
  </div>
</div>