<div class="clearfix">
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="eventCreateChooseTypeForm">
      <buffer--schedule-post-create-modal-form-type #postTypeChooseStep></buffer--schedule-post-create-modal-form-type>
    </mat-step>

    <mat-step [stepControl]="eventCreateTypeTextForm">
      <ng-template matStepLabel>Content</ng-template>
      <buffer--schedule-post-create-modal-form-text
        #postTypeTextStep
        *ngIf="(postType$ | async) === 'text'"
      ></buffer--schedule-post-create-modal-form-text>
      <buffer--schedule-post-create-modal-form-image
        #postTypeImageStep
        *ngIf="(postType$ | async) === 'image'"
      ></buffer--schedule-post-create-modal-form-image>
      <buffer--schedule-post-create-modal-form-video
        #postTypeVideoStep
        *ngIf="(postType$ | async) === 'video'"
      ></buffer--schedule-post-create-modal-form-video>
    </mat-step>
  </mat-horizontal-stepper>
</div>
