<div class="clearfix">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="eventCreatePostTypeForm">
      <form [formGroup]="eventCreatePostTypeForm" class="buffer--padding-5" novalidate>
        <div class="clearfix">
          <p class="buffer--font-size-xl buffer--font-family-semi-bold buffer--line-height-leading-zero">
            What do you want to share?
          </p>
        </div>

        <div class="clearfix buffer--margin-top-5">
          <mat-radio-group
            class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between"
            formControlName="postType"
            (change)="onRadioButtonValueChanged()"
          >
            <mat-radio-button value="text">
              <div
                class="clearfix buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between"
              >
                <div class="clearfix">
                  <i class="material-icons buffer--font-size-4xl buffer--text-color-green-800 buffer--margin-bottom-3"
                    >text_fields</i
                  >
                </div>
                <div class="clearfix">
                  <p class="buffer--font-size-sm buffer--margin-0">Status</p>
                </div>
              </div>
            </mat-radio-button>
            <mat-radio-button value="image">
              <div
                class="clearfix buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between"
              >
                <div class="clearfix">
                  <i class="material-icons buffer--font-size-4xl buffer--text-color-green-800 buffer--margin-bottom-3"
                    >filter</i
                  >
                </div>
                <div class="clearfix">
                  <p class="buffer--font-size-sm buffer--margin-0">Images</p>
                </div>
              </div>
            </mat-radio-button>
            <mat-radio-button value="video">
              <div
                class="clearfix buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-space-between"
              >
                <div class="clearfix">
                  <i class="material-icons buffer--font-size-4xl buffer--text-color-green-800 buffer--margin-bottom-3"
                    >subscriptions</i
                  >
                </div>
                <div class="clearfix">
                  <p class="buffer--font-size-sm buffer--margin-0">Video</p>
                </div>
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="postTypeText" [stepControl]="eventCreateTypeTextForm">
      <buffer--schedule-event-create-modal-form-text #postTypeTextStep></buffer--schedule-event-create-modal-form-text>
    </mat-step>
    <mat-step *ngIf="postTypeImage" [stepControl]="eventCreateTypeImageForm">
      <buffer--schedule-event-create-modal-form-image
        #postTypeImageStep
      ></buffer--schedule-event-create-modal-form-image>
    </mat-step>
    <mat-step *ngIf="postTypeVideo" [stepControl]="eventCreateTypeVideoForm">
      <buffer--schedule-event-create-modal-form-video
        #postTypeVideoStep
      ></buffer--schedule-event-create-modal-form-video>
    </mat-step>
  </mat-horizontal-stepper>
</div>
