<div
  class="buffer--padding-5 buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
    <section>
      <h3>
        {{ formHeader }}
      </h3>
    </section>
    <section>
      <button class="buffer--width-8 buffer--height-8 buffer--background-color-light-gray" mat-icon-button
        tooltip="Close" (click)="handlePostCreateModalCloseBtnClick()">
        <i class="material-icons buffer--font-size-2xl buffer--font-weight-bold buffer--text-color-black">close</i>
      </button>
    </section>
  </div>
</div>