<div class="clearfix buffer--margin-top-5">
  <div class="clearfix">
    <p class="buffer--line-height-leading-loose buffer--margin-y-1 buffer--padding-0">
      <span><i class="material-icons buffer--vertical-align-middle buffer--margin-right-2">event_note</i></span>
      <span>{{ eventDateAndTime | date: 'fullDate' }}</span>
    </p>
  </div>
  <div class="clearfix">
    <p class="buffer--line-height-leading-loose buffer--margin-y-1 buffer--padding-0">
      <span><i class="material-icons buffer--vertical-align-middle buffer--margin-right-2">access_time</i></span>
      <span>{{ eventDateAndTime | date: 'shortTime' }}</span>
    </p>
  </div>
</div>
