<div class="p-grid">
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Status Posted"
      cardIcon="pi-align-center" cardCounter="0" cardInfoTitle="Total Status Posted" cardIconColor="blue-500">
    </buffer--analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Images Posted" cardIcon="pi-images"
      cardCounter="0" cardInfoTitle="Total Images Posted" cardIconColor="primary-500">
    </buffer--analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Videos Posted" cardIcon="pi-video"
      cardCounter="0" cardInfoTitle="Total Videos Posted" cardIconColor="accent-500">
    </buffer--analyze-card>
  </div>
</div>