<div class="p-grid">
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Status Posted" icon="pi-align-center" [counter]="0"
      info_title="Total Status Posted" icon_color="primary">
    </buffer-analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Images Posted" icon="pi-images" [counter]="0"
      info_title="Total Images Posted" icon_color="help">
    </buffer-analyze-card>
  </div>
  <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
    <buffer-analyze-card class="b-w-full b-h-full" title="Videos Posted" icon="pi-video" [counter]="0"
      info_title="Total Videos Posted" icon_color="info">
    </buffer-analyze-card>
  </div>
</div>