<mat-grid-list cols="4" gutterSize="1.25rem" rowHeight="180">
  <mat-grid-tile class="buffer--background-color-white buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full buffer--height-full" cardTitle="Media Published" cardIcon="loupe" cardCounter="0"
      cardInfoTitle="Total Media Published" cardTooltipText="Help" cardIconBGColor="gray" cardIconColor="black">
    </buffer--analyze-card>
  </mat-grid-tile>
  <mat-grid-tile class="buffer--background-color-white buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full buffer--height-full" cardTitle="Videos Posted" cardIcon="subscriptions" cardCounter="0"
      cardInfoTitle="Total Videos Posted" cardTooltipText="Help" cardIconBGColor="gray" cardIconColor="black">
    </buffer--analyze-card>
  </mat-grid-tile>
  <mat-grid-tile class="buffer--background-color-white buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full buffer--height-full" cardTitle="Images Posted" cardIcon="photo_library" cardCounter="0"
      cardInfoTitle="Total Images Posted" cardTooltipText="Help" cardIconBGColor="gray" cardIconColor="black">
    </buffer--analyze-card>
  </mat-grid-tile>
  <mat-grid-tile class="buffer--background-color-white buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--border-radius-lg buffer--box-shadow-sm">
    <buffer--analyze-card class="buffer--width-full buffer--height-full" cardTitle="Status Posted" cardIcon="text_fields" cardCounter="0"
      cardInfoTitle="Total Status Posted" cardTooltipText="Help" cardIconBGColor="gray" cardIconColor="black">
    </buffer--analyze-card>
  </mat-grid-tile>
</mat-grid-list>