<section
  id="buffer--schedule-month-menu-sec"
  class="buffer--schedule-month-menu-sec buffer--background-color-white buffer--width-full buffer--padding-y-3"
>
  <div class="clearfix">
    <buffer--schedule-month-header></buffer--schedule-month-header>
  </div>
</section>

<section id="buffer--schedule-month-calendar-view-sec" class="buffer--schedule-month-calendar-view-sec">
  <mat-sidenav-container>
    <mat-sidenav-content class="buffer--border-transparent">
      <div class="clearfix buffer--schedule-calendar-sec">
        <buffer--schedule-month-calendar></buffer--schedule-month-calendar>
      </div>
    </mat-sidenav-content>

    <mat-sidenav mode="side" opened position="end" [fixedTopGap]="65" [fixedInViewport]="true" class="buffer--width-64">
      <div class="clearfix buffer--width-full buffer--height-full buffer--background-color-white">
        <div class="clearfix">
          <buffer--schedule-calendar-add-post-button></buffer--schedule-calendar-add-post-button>
        </div>

        <div class="clearfix">
          <buffer--schedule-calendar-date-selection></buffer--schedule-calendar-date-selection>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</section>
