:host {
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .buffer--schedule-month-menu-sec {
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .buffer--schedule-month-calendar-view-sec {
    height: calc(100vh - 65px);
  }
}
