<div class="clearfix buffer--padding-x-10 buffer--height-20">
  <div
    class="clearfix buffer--width-full buffer--height-full buffer--background-color-white buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
    <div
      class="buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
      <div class="clearfix">
        <p class="buffer--font-size-lg buffer--font-family-bold">{{ headerTitle }}
        </p>
      </div>
      <div class="clearfix">
        <button mat-flat-button class="buffer--height-14 buffer--font-family-semi-bold buffer--font-size-sm"
          color="primary">
          <i class="material-icons buffer--font-size-2xl">swap_calls</i>
          <span class="buffer--font-family-semi-bold buffer--font-size-sm buffer--margin-left-2">Upgrade
          </span>
        </button>
      </div>
    </div>
  </div>
</div>