:host {
  display: block;
  position: relative;

  .buffer--upload-media-sec {
    .upload-item-content {
      float: left;
      width: 90px;
      height: 90px;
      margin: 0.5rem;
      position: relative;
      border-radius: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.08);

      &:nth-of-type(odd) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .uploaded-item-preview {
        width: 100%;
        height: 100%;
      }

      .cancel-item {
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        padding: 2px;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .progress-text-content {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }

  ::ng-deep {
    .dropzone {
      min-height: 150px;
      border-radius: 0.5rem;
      padding: 1rem !important;
      background-color: rgba(0, 0, 0, 0.08) !important;

      .dropzone.dz-wrapper {
        width: 100%;
        border: none;
        display: flex;
        min-height: 0;
        max-height: 100%;
        color: #323232;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        background: transparent;
      }
    }

    .dropzone.dz-wrapper .dz-message .dz-text {
      width: 100%;
      display: flex;
      text-align: center;
      position: relative;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .dropzone.dz-wrapper .dz-message {
      margin: 0;
      width: 100%;
      height: 8rem;
      max-width: 100%;
      color: #323232;
      overflow: hidden;
      position: relative;
      border-radius: 0.5rem;
      animation: slideInDown 0.5s linear;
      border: 2px dashed rgba(0, 0, 0, 0.1);
    }

    .dropzone .dz-preview .dz-details {
      opacity: 1;
      font-size: 13px;
      padding: 2em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.9);
    }

    .dropzone .dz-preview .dz-progress {
      opacity: 1;
      z-index: 1000;
      pointer-events: none;
      height: 16px;
      left: 50%;
      top: 50%;
      margin-top: -8px;
      width: 80px;
      margin-left: -40px;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 8px;
      overflow: hidden;
    }

    .dz-processing {
      .dz-upload-progress {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        -webkit-transition: display 300ms ease-in-out;
        -moz-transition: display 300ms ease-in-out;
        -ms-transition: display 300ms ease-in-out;
        -o-transition: display 300ms ease-in-out;
        transition: display 300ms ease-in-out;
      }
    }

    .dz-complete {
      .dz-upload-progress {
        display: none;
      }
    }
  }
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
