<p-fieldset class="b-w-full b-h-full">
  <p-header>
    <div class="p-d-flex p-ai-center p-jc-between">
      <i class="p-mr-2 b-ci pi pi-chart-line b-text-primary"></i>
      <h5>{{ chartTitle }}</h5>
    </div>
  </p-header>

  <div class="p-d-flex p-flex-column">
    <div class="p-d-flex p-jc-end">
      <button (click)="exportToJPEG()" pButton pTooltip="Export as JPEG" tooltipPosition="top" type="button"
        icon="pi pi-image" class="p-button-plain p-button-rounded p-button-text p-ml-3 p-p-4"></button>
      <button (click)="exportToExcel()" pButton pTooltip="Export as Excel" tooltipPosition="top" type="button"
        icon="pi pi-file-excel" class="p-button-plain p-button-rounded p-button-text p-ml-3 p-p-4"></button>
    </div>

    <highcharts-chart class="b-w-full" [Highcharts]="Highcharts" [constructorType]="'chart'" [options]="optFromInput"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>

  </div>
</p-fieldset>