:host {
  position: relative;
  display: block;

  ::ng-deep {
    .highcharts-contextmenu {
      padding: 5rem;

      .highcharts-menu {
        padding: 1rem !important;
        border: 1px solid #f2f2f2 !important;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;

        .highcharts-menu-item {
          padding: 0.75rem !important;
          border-radius: 0.5rem;
          color: #484848 !important;
          font-family: 'Buffer SemiBold' !important;
          font-size: 0.75rem !important;

          &:hover {
            background-color: #f2f2f2 !important;
          }
        }
      }
    }

    .highcharts-button-symbol {
      transform: translate(8px, 10px) !important;
    }
  }
}
