<div
  class="clearfix buffer--padding-x-10 buffer--padding-y-5 buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-gray">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
    <div class="clearfix">
      <p class="buffer--font-size-xl buffer--font-family-semi-bold">
        Social profiles
      </p>
    </div>
    <div class="clearfix">
      <button class="buffer--width-12 buffer--height-12" mat-icon-button matTooltip="Close"
        matTooltipClass="buffer--font-size-xs" (click)="handleSocialProfileListModalCloseBtnClick()">
        <mat-icon class="buffer--font-size-2xl buffer--font-weight-bold buffer--text-color-black">close</mat-icon>
      </button>
    </div>
  </div>
</div>