<div class="b-w-full b-h-toolbar b-br-b">
  <buffer-toolbar [back_button]="true" [show_connections]="true" header_title="Facebook Insight"
    (connection_selected)="connectionSelected($any($event))">
  </buffer-toolbar>
</div>

<div class="b-hs-wt-h b-of-h">
  <div class="b-w-full b-br-b p-px-5 b-h-toolbar p-d-flex p-ai-center">
    <buffer-filter class="b-w-full" [active_connection_id]="(active_connection_id$ | async) || ''"
      [insight_type]="insight_type">
    </buffer-filter>
  </div>
  <div class="b-hs-w-h b-of-auto b-bg-lg p-p-2">
    <ng-container *ngIf="posts$ | async as posts_insight">
      <div class="p-grid">
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Posts" connection_type="Facebook"
            [counter]="posts_insight.total_posts_count" info_title="Total posts"
            help_info="The number of posts created within this date range.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Impressions" connection_type="Facebook"
            [counter]="posts_insight.total_impressions_count" info_title="Total Post Impressions"
            help_info="The number of times your Page's post entered a person's screen. Posts include statuses, photos, links, videos and more."
            icon_color="success">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Reach" connection_type="Facebook"
            [counter]="posts_insight.total_reach_count" info_title="Total Reach"
            help_info="The number of unique people who saw the post(s) sent during this period.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Hash Tags" connection_type="Facebook"
            [counter]="posts_insight.total_hash_tags_count" info_title="Total Hash Tags"
            help_info="Total Hash Tags for the posts created with this date range.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Engagement" connection_type="Facebook"
            [counter]="posts_insight.total_engaged_users_count" info_title="Total Engagement"
            help_info="The number of people who clicked anywhere in your posts_insight.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Engagement Rate" connection_type="Facebook"
            [counter]="engagementRate(posts_insight.total_engaged_users_count, posts_insight.total_impressions_count)"
            info_title="Total Engagement Rate"
            help_info="Impressions that resulted in an engagement (engagement divided by impressions).">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Engaged Fans" connection_type="Facebook"
            [counter]="posts_insight.total_engaged_fans_count" info_title="Total Engaged Fans"
            help_info="People who have liked your Page and engaged with your post.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Post Clicks" connection_type="Facebook"
            [counter]="posts_insight.total_clicks_count" info_title="Total Post Clicks"
            help_info="The number of times people clicked on anywhere in your posts without generating a story.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Likes" connection_type="Facebook"
            [counter]="posts_insight.total_likes_count" info_title="Total Likes"
            help_info="The number of likes on your post(s)">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Comments" connection_type="Facebook"
            [counter]="posts_insight.total_comments_count" info_title="Total Comments"
            help_info="The number of comments on your post(s)">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Shares" connection_type="Facebook"
            [counter]="posts_insight.total_shares_count" info_title="Total Shares"
            help_info="The number of shares on your post(s)">
          </buffer-analyze-card>
        </div>
        <div class="p-col-3 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Reactions" connection_type="Facebook"
            [counter]="posts_insight.total_reactions_count" info_title="Total Reactions"
            help_info="The number of reactions on your post(s)" icon_color="success">
          </buffer-analyze-card>
        </div>
      </div>

      <div class="b-bg-white p-m-2 b-br b-br-sm">
        <buffer-post-table [single_posts]="posts_insight.single_posts"></buffer-post-table>
      </div>

      <!-- <div class="p-grid p-mt-2 p-mb-5">
        <div class="p-col">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Posts" chart_type="area"
            connection_type="Facebook" [chart_labels]="posts_insight.categories"
            [chart_series]="[{name: 'Posts', data: posts_insight.posts_chart.response, type: 'area'}]">
          </buffer-analyze-chart>
        </div>
      </div> -->
    </ng-container>
  </div>
</div>