<section class="b-main-content b-of-h">
  <div class="b-w-full b-h-toolbar p-px-4 b-br-b">
    <buffer--toolbar [backButton]="false" [showConnections]="true" headerTitle="Dashboard"></buffer--toolbar>
  </div>
  <div class="b-hs-wt-h b-of-auto">
    <div class="p-p-4">
      <div class="p-mb-4">
        <buffer--dashboard-social-performance></buffer--dashboard-social-performance>
      </div>
      <div class="p-mb-4">
        <buffer--dashboard-social-profile-overview></buffer--dashboard-social-profile-overview>
      </div>
      <div>
        <buffer--dashboard-posts-overview></buffer--dashboard-posts-overview>
      </div>
    </div>
  </div>
</section>