<div class="p-d-flex p-jc-start p-flex-column">
  <div class="b-w-full b-h-toolbar b-br-b">
    <buffer--toolbar [backButton]="true" [showConnections]="false" headerTitle="Connect"></buffer--toolbar>
  </div>

  <section class="b-hs-wt-h b-of-auto">
    <div class="p-p-4 b-h-full">
      <div class="p-grid">
        <p-fieldset *ngFor="let connection of connections; trackBy:trackBy;" class="p-col-12 p-md-6 p-lg-3 p-sm-12 p-xs-12 p-p-2">
          <p-header>
            <div class="b-ca b-ca-md">
              <img [src]="'/assets/images/icon/'+connection.image+'.svg'" class="b-w-full b-h-full b-br-full" />
            </div>
          </p-header>
          <h6 class="p-text-capitalize">{{ connection.name }}</h6>
          <button (click)="chooseNewConnection(connection.type)" class="p-button-sm p-button-text b-w-full p-mt-4"
            label="Connect" pButton type="button">
          </button>
        </p-fieldset>
      </div>
    </div>
  </section>
</div>