<div class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-start">
  <section>
    <div class="dashboard-header-sec">
      <buffer--connection-header headerTitle="Connect a New Social Account"></buffer--connection-header>
    </div>
  </section>

  <section>
    <mat-sidenav-container>
      <mat-sidenav-content class="buffer--background-color-white buffer--connection-route-sec buffer--overflow-hidden">
        <div class="clearfix buffer--width-full buffer--height-full">
          <div class="clearfix buffer--padding-x-10 buffer--padding-y-5 buffer--height-full buffer--overflow-auto">
            <div class="clearfix buffer--width-full">
              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/facebook.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Facebook Page</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button (click)="chooseNewConnection(connectionType.FACEBOOK_PAGE)"
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/facebook.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Facebook Group</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button (click)="chooseNewConnection(connectionType.FACEBOOK_GROUP)"
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/instagram.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Instagram Business</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/instagram.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Instagram Personal</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/twitter.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Twitter</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/linkedin.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        LinkedIn Page</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/linkedin.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        LinkedIn Profile</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button (click)="chooseNewConnection(connectionType.LINKEDIN_PROFILE)"
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>

              <div
                class="buffer--padding-y-3 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix buffer--height-full buffer--width-percent-50">
                  <div
                    class="clearfix buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-8 buffer--height-8 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img src="/assets/images/icon/pinterest.svg" class="buffer--width-full buffer--height-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-family-sans-medium buffer--line-height-leading-zero">
                        Pinterest</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Connect
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
      <mat-sidenav [position]="matSideNavPosition" [mode]="matSideNavMode" opened
        [fixedInViewport]="matSideNavFixedInViewport" [fixedTopGap]="matSideNavFixedTopGap"
        class="buffer--width-percent-30 buffer--background-color-white buffer--border-color-light-gray">
        <div class="clearfix buffer--height-full buffer--padding-x-10 buffer--padding-y-6">
          <buffer--connection-plan-sidebar></buffer--connection-plan-sidebar>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </section>
</div>