<section class="b-h-18">
  <buffer--account-header accountHeader="Profile"></buffer--account-header>
</section>

<section class="b-hs-wt-h buffer--overflow-y-auto">
  <p-tabView>
    <p-tabPanel class="p-d-flex p-jc-center" header="Update profile" [cache]="false">
      <ng-template pTemplate="content">
        <buffer--profile-form></buffer--profile-form>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel class="p-d-flex p-jc-center" header="Update email" [cache]="false">
      <ng-template pTemplate="content">
        <buffer--profile-change-email-form></buffer--profile-change-email-form>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel class="p-d-flex p-jc-center" header="Change password" [cache]="false">
      <ng-template pTemplate="content">
        <buffer--profile-change-password-form></buffer--profile-change-password-form>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</section>