<section class="buffer--height-18">
  <div
    class="buffer--height-full buffer--padding-x-5 buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
    <buffer--account-header accountHeader="Profile"></buffer--account-header>
  </div>
</section>

<section class="buffer--height-18">
  <div
    class="buffer--height-full buffer--padding-x-5 buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
    <buffer--profile-toolbar></buffer--profile-toolbar>
  </div>
</section>

<section
  class="buffer--padding-10 buffer--height-screen-with-header buffer--background-color-light-gray buffer--overflow-y-auto">
  <div
    class="buffer--height-full buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-flex-start">
    <router-outlet></router-outlet>
  </div>
</section>