<div class="p-px-6 p-pt-5 b-br b-br-sm">
  <form novalidate [formGroup]="profileChangeEmailForm">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12">
        <label for="profileEmailAddress">Current email</label>
        <input id="profileEmailAddress" type="email" pInputText formControlName="profileEmailAddress" />
      </div>
      <div class="p-field p-col-12">
        <label for="profileNewEmailAddress">New email</label>
        <input id="profileNewEmailAddress" type="email" pInputText formControlName="profileNewEmailAddress" />
      </div>
      <div class="p-field p-col-12">
        <p-checkbox inputId="profileSentEmail" formControlName="profileSentEmail"></p-checkbox>
        <label for="profileSentEmail" class="p-ml-2 p-mb-0">
          Send email after posting to connections.
        </label>
      </div>
      <div class="p-field p-col-12">
        <button pButton type="button" label="Update email" class="b-w-full"
          [disabled]="profileChangeEmailForm.invalid"></button>
      </div>
    </div>
  </form>
</div>