<div class="clearfix buffer--padding-5">
  <div class="clearfix buffer--display-flex buffer--display-flex-direction-column">
    <h1 class="buffer--text-color-black buffer--font-family-semi-bold buffer--font-size-base">
      Re-schedule this post?
    </h1>
  </div>
  <div class="clearfix buffer--margin-top-5 buffer--display-flex buffer--flex-justify-content-end">
    <button mat-button (click)="onRescheduleModalClosed()" class="buffer--border-radius-lg">
      Cancel
    </button>
    <button color="primary" mat-button mat-dialog-close class="buffer--border-radius-lg">
      Re-schedule
    </button>
  </div>
</div>
