<div
    class="clearfix buffer--loader-sec buffer--position-absolute buffer--position-top-0 buffer--position-left-0 buffer--z-index-75 b-h-full b-w-full buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center">
    <div
        class="clearfix b-bg-white buffer--box-shadow-lg buffer--width-12 buffer--height-12 buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
        <mat-spinner color="primary" [diameter]="30" [strokeWidth]="3"></mat-spinner>
    </div>
</div>