<div class="clearfix buffer--margin-x-8">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center"
  >
    <div class="clearfix buffer--margin-x-1">
      <button
        mat-button
        class="buffer--background-color-indigo-100 buffer--text-color-gray-900 buffer--font-weight-bold buffer--font-family-semi-bold buffer--border-radius-lg"
      >
        <mat-icon>schedule</mat-icon>
        <span class="buffer--margin-left-2">Schedule</span>
      </button>
    </div>

    <div class="clearfix buffer--margin-x-1">
      <button
        mat-button
        class="buffer--text-color-white buffer--font-weight-bold buffer--font-family-semi-bold buffer--border-radius-lg"
      >
        <mat-icon>subject</mat-icon>
        <span class="buffer--margin-left-2">Queue</span>
      </button>
    </div>

    <div class="clearfix buffer--margin-x-1">
      <button
        mat-button
        class="buffer--text-color-white buffer--font-weight-bold buffer--font-family-semi-bold buffer--border-radius-lg"
      >
        <mat-icon>message</mat-icon>
        <span class="buffer--margin-left-2">Conversation</span>
      </button>
    </div>

    <div class="clearfix buffer--margin-x-1">
      <button
        mat-button
        class="buffer--text-color-white buffer--font-weight-bold buffer--font-family-semi-bold buffer--border-radius-lg"
      >
        <mat-icon>assessment</mat-icon>
        <span class="buffer--margin-left-2">Analytics</span>
      </button>
    </div>
  </div>
</div>
