<div class="p-px-6 p-pt-5 b-br b-br-sm">
  <form novalidate [formGroup]="profileSetupForm">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12">
        <label for="profileFirstName">First name</label>
        <input id="profileFirstName" type="text" pInputText formControlName="profileFirstName" />
      </div>
      <div class="p-field p-col-12">
        <label for="profileLastName">Last name</label>
        <input id="profileLastName" type="text" pInputText formControlName="profileLastName" />
      </div>
      <div class="p-field p-col-12">
        <label for="profileBio">Bio</label>
        <textarea id="profileBio" type="text" rows="4" [autoResize]="true" pInputTextarea
          formControlName="profileBio"></textarea>
      </div>
      <div class="p-field p-col-12">
        <label for="profileCountry">Country</label>
        <p-dropdown inputId="profileCountry" [options]="countries" formControlName="profileCountry"
          placeholder="Select country" optionLabel="name"></p-dropdown>
      </div>
      <div class="p-field p-col-12">
        <button pButton type="button" label="Update profile" class="b-w-full"
          [disabled]="profileSetupForm.invalid"></button>
      </div>
    </div>
  </form>
</div>