:host {
  display: block;
  overflow: hidden;

  ::ng-deep {
    .p-datatable .p-datatable-thead > tr > th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      box-shadow: 0 2px 0 #2c4bff;
    }
    .p-datatable-wrapper {
      padding: 0;
    }

    .b-table-group {
      background: #ffffff;
      box-shadow: 0 2px 0 #88929e;
    }
  }
}
