<section class="buffer--account-title-sec buffer--height-18" id="buffer--account-title-sec">
    <div
        class="clearfix buffer--height-full buffer--padding-x-5 buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
        <buffer--account-header accountHeader="Plan"></buffer--account-header>
    </div>
</section>



<section
    class="buffer--padding-10 buffer--height-screen-without-header buffer--account-setup-sec buffer--overflow-y-auto"
    id="buffer--account-setup-sec">
    <section class="buffer--account-title-sec buffer--text-align-center">
        <h1 class="buffer--font-size-2xl">The right plan to grow</h1>
        <div class="buffer--margin-y-5">
            <div class="buffer--display-flex buffer--text-align-center">
                <h4 class="buffer--margin-top-1">Pay monthly</h4>
                <mat-slide-toggle color="primary" class="buffer--margin-x-2">
                </mat-slide-toggle>
                <h4 class="buffer--margin-top-1">Pay yearly</h4>
            </div>
        </div>
    </section>
</section>