<div class="b-bg-white b-h-full p-px-4">
  <div class="b-h-full p-d-flex p-jc-between p-ai-center">
    <div class="p-d-flex p-ai-center">
      <ng-container class="b-br-r p-mr-3" *ngIf="backButton">
        <button aria-label="Back" class="p-button-rounded p-button-text p-button-plain p-mr-3" (click)="backClicked()"
          icon="pi pi-arrow-left" pButton pTooltip="Back" type="button"></button>
      </ng-container>
      <h3>{{ headerTitle }}</h3>
    </div>
    <div class="p-d-flex p-ai-center">
      <ng-container *ngIf="showConnections" class="p-d-flex">
        <buffer--connections class="p-mx-3" (connectionSelected)="isConnectionSelected($event)">
        </buffer--connections>
      </ng-container>
      <button aria-label="Add Connection" pButton class="p-button-rounded p-button-outlined p-button-lg p-p-4"
        pTooltip="Add Connection" (click)="navigate()" icon="pi pi-plus"></button>
    </div>
  </div>
</div>