<div class="b-w-full b-h-toolbar b-br-b">
  <buffer-toolbar [back_button]="true" [show_connections]="true" header_title="Instagram Insight"
    (connectionSelected)="connectionSelected($any($event))">
  </buffer-toolbar>
</div>

<section class="b-main-content b-of-h">
  <buffer-filter></buffer-filter>

  <section class="b-hs-wt-h b-of-auto">
    <div class="b-w-full">
      <p-tabView>
        <p-tabPanel header="Overview">
          <ng-template pTemplate="content">
            <buffer-overview [insight]="(insight$ | async)!"></buffer-overview>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Media">
          <buffer-posts [insight]="(insight$ | async)!"></buffer-posts>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</section>