:host {
  width: 100%;
  position: relative;

  .buffer--intro-publish-content {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .buffer--intro-publish-content-photo {
      order: 1;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url('/assets/images/background/buffer--publish-graphics.svg');
    }

    .buffer--intro-publish-content-text {
      order: 2;
    }
  }
}
