<div class="p-px-6 p-pt-5 p-pb-2 b-bg-white b-br-sm">
    <form novalidate [formGroup]="form">
        <div class="p-fluid p-formgrid">
            <div class="p-field p-col-12">
                <label for="user_password">Current password<span class="b-input-label-required">*</span></label>
                <input id="user_password" autocomplete="new-password" type="password" pInputText
                    formControlName="user_password" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <label for="new_password">Password<span class="b-input-label-required">*</span></label>
                <input id="new_password" autocomplete="new-password" type="password" pInputText pPassword
                    formControlName="new_password" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <label for="confirm_password">Password confirmation<span class="b-input-label-required">*</span></label>
                <input id="confirm_password" autocomplete="new-password" type="password" pInputText pPassword
                    formControlName="confirm_password" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <button pButton type="button" label="Change password" class="b-w-full p-button-lg"
                    [disabled]="form.invalid"></button>
            </div>
        </div>
    </form>
</div>