<div class="p-px-6 p-pt-5 p-pb-2 b-bg-white b-br-sm">
    <form novalidate [formGroup]="passwordForm">
        <div class="p-fluid p-formgrid">
            <div class="p-field p-col-12">
                <label for="profilePassword">Current password<span class="b-input-label-required">*</span></label>
                <input id="profilePassword" autocomplete="new-password" type="password" pInputText
                    formControlName="profilePassword" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewPassword">Password<span class="b-input-label-required">*</span></label>
                <input id="profileNewPassword" autocomplete="new-password" type="password" pInputText pPassword
                    formControlName="profileNewPassword" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewConfirmPassword">Password confirmation<span class="b-input-label-required">*</span></label>
                <input id="profileNewConfirmPassword" autocomplete="new-password" type="password" pInputText pPassword
                    formControlName="profileNewConfirmPassword" class="p-inputtext-lg" />
            </div>
            <div class="p-field p-col-12">
                <button pButton type="button" label="Change password" class="b-w-full p-button-lg"
                    [disabled]="passwordForm.invalid"></button>
            </div>
        </div>
    </form>
</div>