<div class="clearfix">
  <form [formGroup]="eventCreateTypeTextForm" novalidate>
    <div class="clearfix buffer--padding-5">
      <div class="clearfix">
        <h1 class="buffer--font-size-2xl buffer--text-color-green-800">
          <span
            ><i class="material-icons buffer--vertical-align-bottom">
              format_size
            </i></span
          >
          <span class="buffer--margin-left-3">New post</span>
        </h1>
      </div>
      <div class="clearfix buffer--margin-top-5">
        <label class="buffer--font-family-semi-bold buffer--font-size-sm">Caption</label>
        <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
          <textarea
            matInput
            required
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="6"
            formControlName="postText"
            placeholder="Write something"
            #autosize="cdkTextareaAutosize"
            class="buffer--line-height-leading-relaxed"
            [errorStateMatcher]="eventCreatePostFormErrorMatcher"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="clearfix">
        <label class="buffer--font-family-semi-bold buffer--font-size-sm">Link Preview</label>
        <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
          <input
            matInput
            type="text"
            formControlName="postLink"
            autocomplete="new-password"
            placeholder="Insert your link here"
          />
        </mat-form-field>
      </div>

      <div class="clearfix">
        <label class="buffer--font-family-semi-bold buffer--font-size-sm">Geolocation</label>
        <mat-form-field class="buffer--width-full buffer--font-family-regular buffer--margin-top-3" appearance="fill">
          <input
            matInput
            type="text"
            autocomplete="new-password"
            formControlName="postLocation"
            placeholder="Insert your link here"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="clearfix buffer--padding-5 buffer--background-color-gray-100">
      <div
        class="buffer--display-flex buffer--align-items-center buffer--display-flex-direction-row buffer--flex-justify-content-space-between"
      >
        <div class="clearfix">
          <button mat-icon-button (click)="onPreviousButtonClicked()">
            <mat-icon>
              arrow_back_ios
            </mat-icon>
          </button>
        </div>
        <div
          class="clearfix buffer--display-flex buffer--align-items-center buffer--display-flex-direction-row buffer--flex-justify-content-space-between"
        >
          <div class="clearfix">
            <button
              mat-stroked-button
              class="buffer--schedule-post-action-button buffer--background-color-white buffer--font-family-semi-bold buffer--font-size-sm buffer--box-shadow buffer--border-radius-lg"
            >
              <mat-icon class="buffer--font-size-xl buffer--width-5 buffer--height-5">bookmarks</mat-icon>
              <span class="buffer--margin-left-2">Save draft</span>
            </button>
          </div>
          <div class="clearfix buffer--margin-left-3">
            <button
              mat-stroked-button
              class="buffer--schedule-post-action-button buffer--background-color-white buffer--font-family-semi-bold buffer--font-size-sm buffer--box-shadow buffer--border-radius-lg"
            >
              <mat-icon class="buffer--font-size-xl buffer--width-5 buffer--height-5">alarm</mat-icon>
              <span class="buffer--margin-left-2">Schedule</span>
            </button>
          </div>
          <div class="clearfix buffer--margin-left-3">
            <button
              color="primary"
              mat-flat-button
              class="buffer--schedule-post-action-button buffer--font-family-semi-bold buffer--font-size-sm buffer--text-color-white buffer--box-shadow buffer--border-radius-lg"
            >
              <mat-icon class="buffer--font-size-xl buffer--width-5 buffer--height-5">share</mat-icon>
              <span class="buffer--margin-left-2">Publish</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
