<div class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-start">
  <section>
    <div class="dashboard-header-sec">
      <buffer--connection-header headerTitle="Add a Facebook Group"></buffer--connection-header>
    </div>
  </section>

  <section>
    <mat-sidenav-container>
      <mat-sidenav-content class="b-bg-white buffer--connection-route-sec b-of-h">
        <div class="clearfix b-w-full b-h-full"
          *ngIf="(facade.getLoadingStatus() | async) === false">
          <div class="clearfix buffer--padding-x-10 buffer--padding-y-5 b-h-full buffer--overflow-auto">
            <div class="clearfix b-w-full">
              <div *ngFor="let connection of facade.getFacebookGroups() | async"
                class="buffer--padding-y-4 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">
                <div class="clearfix b-h-full buffer--width-percent-50">
                  <div
                    class="clearfix b-h-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-flex-start buffer--align-items-center">
                    <div
                      class="clearfix buffer--width-12 buffer--height-12 buffer--display-flex buffer--align-items-center buffer--flex-justify-content-center buffer--border-radius-full">
                      <img [src]="connection.connectionPicture"
                        class="b-w-full b-h-full buffer--border-radius-full" />
                    </div>
                    <div class="clearfix buffer--margin-x-5">
                      <p
                        class="buffer--text-color-black buffer--font-size-base buffer--font-family-sans-medium buffer--line-height-leading-relaxed">
                        {{ connection.connectionName }}</p>
                      <p class="buffer--text-color-gray buffer--font-family-sans-medium buffer--font-size-sm">
                        {{ connection.connectionCategory }}</p>
                    </div>
                  </div>

                </div>
                <div class="clearfix">
                  <button (click)="addFacebookGroup(connection)"
                    class="buffer--height-10 buffer--font-family-sans-medium buffer--font-size-xs buffer--text-transform-uppercase"
                    mat-stroked-button color="primary">
                    Add to plan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="(facade.getLoadingStatus() | async) === true">
          <buffer--loader></buffer--loader>
        </div>
      </mat-sidenav-content>
      <mat-sidenav [position]="matSideNavPosition" [mode]="matSideNavMode"
        [opened]="(isWeb$ | async) || (isTablet$ | async)" [fixedInViewport]="matSideNavFixedInViewport"
        [fixedTopGap]="matSideNavFixedTopGap"
        class="buffer--width-percent-30 b-bg-white buffer--border-color-light-gray">
        <div class="clearfix b-h-full buffer--padding-x-10 buffer--padding-y-6">
          <buffer--connection-plan-sidebar></buffer--connection-plan-sidebar>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </section>
</div>