:host {
	position: relative;
	width: 100%;

	.buffer--intro-create-content {
		display: flex;
		flex-direction: row;
		height: 400px;
		flex: 1 1 100%;
		align-items: center;
		justify-content: center;

		.buffer--intro-create-content-text {
			order: 1;
		}

		.buffer--intro-create-content-photo {
			width: 100%;
			height: 100%;
			background-image: url('/assets/images/background/buffer--planning-graphics.svg');
			background-position: right center;
			background-size: contain;
			background-repeat: no-repeat;
			order: 2;
		}
	}
}
