<div class="clearfix b-w-full buffer--height-40">
  <ngx-slick-carousel class="carousel b-h-full buffer--border-radius-lg" #slickModal="slick-carousel"
    [config]="calendarPostSlideConfig">
    <div ngxSlickItem *ngFor="let calendarPostVideo of calendarPostVideos">
      <vg-player class="b-w-full buffer--border-radius-lg">
        <vg-controls vgFor="calendarPostVideo">
          <vg-play-pause></vg-play-pause>
        </vg-controls>
        <video #media [vgMedia]="media" id="calendarPostVideo" preload="auto" [vgMaster]="true"
          [src]="calendarPostVideo.mediaURL" type="video/mp4"
          class="b-w-full buffer--height-auto buffer--border-radius-lg">
        </video>
      </vg-player>
    </div>
  </ngx-slick-carousel>
</div>