<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
    <div class="clearfix">
      <button mat-button (click)="handleSocialProfileListModalCloseBtnClick()"
        class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
        Close
      </button>
    </div>
    <div class="clearfix">
      <button color="primary" mat-flat-button (click)="handleAddSocialProfileBtnClick()"
        class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
        <i class="material-icons buffer--font-size-2xl">exposure_plus_1</i>
        <span class="buffer--font-family-semi-bold buffer--font-size-sm buffer--margin-left-2">Add social
          profile</span>
      </button>
    </div>
  </div>
</div>