<div class="clearfix ">
  <form [formGroup]="profileDateSelectionForm" novalidate
    class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
    <div class="clearfix">
      <div class="clearfix buffer--margin-left-5">
        <mat-form-field appearance="fill" matTooltip="Profile" matTooltipClass="buffer--font-size-xs">
          <mat-select id="profileCountry" formControlName="profileDateRange">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="clearfix">
      <div class="clearfix buffer--margin-left-5">
        <mat-form-field class="buffer--width-full buffer--font-family-semi-bold" appearance="fill">
          <input selectMode="range" rangeSeparator="-" formControlName="profileCustomDateRange"
            [owlDateTimeTrigger]="postDate" [owlDateTime]="postDate" autocomplete="off" class="buffer--cursor-default"
            placeholder="Choose date" id="postDate" matInput readonly type="text" />
          <button matSuffix mat-icon-button [owlDateTimeTrigger]="postDate">
            <i class="material-icons" matSuffix>timer</i>
          </button>
          <owl-date-time #postDate [hideOtherMonths]="false" [hour12Timer]="true" pickerType="calendar"
            [stepMinute]="15" panelClass="buffer--dialog-bottom-sheet-custom-panel" readonly></owl-date-time>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>