:host {
  position: relative;
  display: block;

  .buffer--social-profile-add-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .buffer--social-profile-add-item-action-buttons {
      display: none;
    }

    &:hover {
      background-color: #f2f2f2;

      .buffer--social-profile-add-item-action-buttons {
        display: block;
      }
    }
  }
}
