<div class="clearfix">
  <div class="clearfix">
    <p class="buffer--font-family-semi-bold buffer--font-size-base buffer--line-height-leading-loose">Current plan</p>
    <p class="buffer--font-family-semi-bold buffer--font-size-2xl buffer--text-color-primary-500">Free</p>
  </div>

  <div class="clearfix">
    <mat-divider class="buffer--width-full buffer--margin-y-5"></mat-divider>
  </div>

  <div class="clearfix">


    <div class="clearfix">
      <p class="buffer--font-family-semi-bold buffer--font-size-base buffer--line-height-leading-loose">Current usage</p>
    </div>


    <div
      class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
      <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--line-height-leading-loose">Users</p>
      <p class="buffer--font-family-bold buffer--font-size-sm buffer--line-height-leading-loose">1/5</p>
    </div>

    <div
      class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">
      <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--line-height-leading-loose">Users</p>
      <p class="buffer--font-family-bold buffer--font-size-sm buffer--line-height-leading-loose">1/5</p>
    </div>

  </div>
</div>