<section>
  <form novalidate [formGroup]="form">
    <div class="p-fluid p-formgrid">
      <div class="p-field p-col-12">
        <buffer-connections class="p-d-flex" (connection_changed)="changeConnectionSelection($event)">
        </buffer-connections>
      </div>
      <div class="p-field p-col-12">
        <buffer-media [file_pond_options]="file_pond_options" [post_type]="post_type.VIDEO"></buffer-media>
        <small>Maximum file size 150MB. Acceptable file types .mp4.</small>
      </div>
      <div class="p-field p-col-12">
        <label for="post_message">Caption</label>
        <textarea class="b-w-full" formControlName="post_message" placeholder="Write something to post"
          [autoResize]="true" cols="30" id="post_message" pInputTextarea rows="4" type="text"></textarea>
      </div>
      <div class="p-field p-col-12">
        <label for="post_date_time">Date</label>
        <p-calendar [showButtonBar]="true" [showIcon]="true" [showTime]="true" [stepHour]="1" [stepMinute]="15"
          appendTo="body" dateFormat="D, M dd, yy" formControlName="post_date_time" icon="ico-calendar"
          inputId="post_date_time" placeholder="Select a Date" [autoZIndex]="true" [baseZIndex]="10001"
          [minDate]="current_date_time" [readonlyInput]="true" hourFormat="12">
        </p-calendar>
      </div>
      <div class="p-col-12 p-pt-4 b-br-t">
        <div class="p-d-flex p-jc-between p-ai-center">
          <button (click)="previous()" class="p-button-plain p-button-rounded p-button-text"
            icon="ico-2x ico-long-arrow-left" pButton pTooltip="Back" tooltipPosition="top" type="button"></button>
          <p-splitButton [disabled]="(isButtonDisabled() | async)!" appendTo="body" menuStyleClass="p-p-2"
            (onClick)="savePost(post_status.PUBLISH)" [model]="menu_items" label="Share now"></p-splitButton>
        </div>
      </div>
    </div>
  </form>
</section>