<section class="buffer--signin-header-section" class="buffer--signin-header-section">
  <div class="clearfix">
    <buffer--signin-header></buffer--signin-header>
  </div>
</section>

<section class="buffer--auth-signin-section" class="buffer--auth-signin-section">
  <div class="buffer--container clearfix">
    <div class="buffer--signin-form-content">
      <div class="buffer--width-percent-49">
        <buffer--signin-jumbo></buffer--signin-jumbo>
      </div>
      <div class="buffer--width-percent-49">
        <buffer--signin-form></buffer--signin-form>
      </div>
    </div>
  </div>
</section>
