<div class="clearfix">
  <div class="buffer--margin-5">
    <div class="clearfix">
      <div class="buffer--float-left">
        <h2 class="buffer--font-family-bold buffer--font-size-2xl buffer--line-height-leading-none">Sign in</h2>
        <p class="buffer--font-size-xs">
          or
          <a class="buffer--text-color-blue-500" (click)="onCloseButtonClicked()">Create an account</a>
        </p>
      </div>
      <div class="buffer--float-right">
        <div
          class="buffer--close-button buffer--cursor-pointer buffer--box-shadow"
          matTooltip="Close"
          matTooltipPosition="left"
          (click)="onCloseButtonClicked()"
        >
          <i class="material-icons">
            close
          </i>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <app-signin-form></app-signin-form>
    </div>
  </div>
</div>
