:host {
  background-color: #dff7e5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  .buffer--signin-form-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
}
