:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #dff7e5;

  .buffer--signin-form-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
  }
}
