<div class="b-h-toolbar">
  <div class="b-h-full b-br-b">
    <div class="b-h-full p-d-flex p-jc-center p-ai-center">
      <buffer--main-logo></buffer--main-logo>
    </div>
  </div>
</div>

<div class="b-hs-wt-h b-of-auto">
  <div class="b-h-full p-d-flex p-flex-column p-ai-center">
    <div class="p-my-6 p-d-flex p-jc-center">
      <buffer--signin-form></buffer--signin-form>
    </div>
    <div class="p-my-4">
      <div class="p-grid p-justify-center p-align-center">
        <a routerLink="/join" class="b-text-primary">Terms and Conditions</a>
        <small class="b-text-sm pi pi-circle-on p-mx-2 p-text-secondary" style="font-size: 0.275rem"></small>
        <a routerLink="/join" class="b-text-primary">Privacy Policy</a>
      </div>
      <div class="p-my-4 p-grid p-justify-center p-align-center">
        <p class="b-text-secondary">&copy; 2020 Iconosquare. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>