<div class="clearfix buffer--schedule-event-view-footer">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-end"
  >
    <div class="clearfix">
      <button
        mat-icon-button
        matTooltip="Delete event"
        class="buffer--margin-left-3 buffer--padding-bottom-1 buffer--text-color-gray-500"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="clearfix">
      <button
        mat-icon-button
        matTooltip="Edit event"
        class="buffer--margin-left-3 buffer--padding-bottom-1 buffer--text-color-gray-500"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="clearfix">
      <button
        mat-button
        class="buffer--margin-left-3 buffer--padding-bottom-1 buffer--background-color-green-500 buffer--text-color-white buffer--font-family-regular buffer--border-radius-lg"
      >
        <mat-icon>send</mat-icon>
        <span class="buffer--margin-left-2">Share Now</span>
      </button>
    </div>
  </div>
</div>
