<div class="clearfix buffer--padding-x-5">
  <mat-accordion>
    <mat-expansion-panel expanded (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change email address
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <buffer--profile-change-email-form></buffer--profile-change-email-form>
      </ng-template>


    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change password
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <buffer--profile-change-password-form></buffer--profile-change-password-form>
      </ng-template>

    </mat-expansion-panel>

  </mat-accordion>
</div>