<div class="clearfix buffer--padding-10">
    <section class="social-profile-add-modal-header-sec" id="social-profile-add-modal-header-sec">
        <buffer--social-profile-add-modal-header></buffer--social-profile-add-modal-header>
    </section>

    <section class="social-profile-add-modal-content-sec buffer--position-relative"
        id="social-profile-add-modal-content-sec">
        <div class="clearfix buffer--margin-y-5">
            <buffer--social-profile-add-modal-content></buffer--social-profile-add-modal-content>
        </div>
    </section>

    <section class="social-profile-add-modal-footer-sec" id="social-profile-add-modal-footer-sec">
        <buffer--social-profile-add-modal-footer></buffer--social-profile-add-modal-footer>
    </section>
</div>