<div class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-start">
  <section>
    <div class="dashboard-header-sec">
      <buffer--connection-header></buffer--connection-header>
    </div>
  </section>

  <section>
    <div class="buffer--connection-route-sec buffer--overflow-auto">
      <div
        class="b-h-full buffer--display-flex buffer--display-flex-direction-column buffer--align-items-center buffer--flex-justify-content-center">
        <div class="buffer--height-48 buffer--width-48 buffer--text-align-center">
          <img src="/assets/images/svg/no-connection.svg" class="b-h-full b-w-auto" />
        </div>
        <div class="buffer--margin-y-5">
          <h2>Let's set
            up your
            account</h2>
        </div>

        <div class="clearfix">
          <button class="buffer--height-12 b-w-full buffer--font-family-sans-medium buffer--font-size-base"
            color="primary" mat-flat-button (click)="navigateToPage()">
            Connect Your Social Accounts
          </button>
        </div>
      </div>
    </div>
  </section>
</div>