<div class="clearfix">
  <div class="buffer--auth-menu">
    <ul>
      <li>
        <button
          mat-flat-button
          class="buffer--font-family-regular buffer--font-size-base"
          (click)="navigateToSignInPage()"
        >
          Sign In
        </button>
      </li>
      <li>
        <button
          mat-flat-button
          class="buffer--font-family-regular buffer--font-size-base buffer-page-active buffer--box-shadow-md"
          (click)="navigateToSignupPage('/')"
        >
          Sign Up
        </button>
      </li>
    </ul>
  </div>
</div>
