:host {
  display: block;
  position: relative;

  ::ng-deep mat-radio-group {
    .mat-radio-container {
      display: none;
    }

    .mat-radio-button {
      height: 10rem;
      border-radius: 0.5rem;
      width: calc(33.3333% - 1rem);
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 4px rgba(1, 14, 40, 0.05);

      &:hover {
        -webkit-box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
        box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
        transition: box-shadow 0.25s linear, -webkit-box-shadow 0.25s linear;
      }
    }

    .mat-radio-checked {
      border: 1px dashed #356859;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }

    .mat-radio-label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .mat-radio-label-content {
        padding: 0;
      }
    }
  }
}
