<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between"
  >
    <div class="clearfix">
      <h2 class="buffer--font-size-xl buffer--font-family-semi-bold">{{ eventTitle }}</h2>
    </div>
    <div class="clearfix">
      <div matTooltip="Close" matTooltipPosition="left" (click)="bottomSheetClosed()" class="buffer--cursor-pointer">
        <i class="material-icons buffer--text-color-gray-800">close</i>
      </div>
    </div>
  </div>
</div>
