:host {
  display: block;
  position: relative;

  [type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type='file'] + label {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px dashed rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: -20px;
    outline: none;
    width: 100%;
  }

  .buffer--event-create-form-media-item {
    float: left;
    height: 140px;
    margin: 0.5rem;
    width: calc(33.333333% - 1rem);

    .upload-item-content {
      border-radius: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.08);
      height: 100%;
      position: relative;
      width: 100%;

      .uploaded-item-preview {
        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 100%;
      }

      .cancel-item {
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 50%;
        height: 20px;
        padding: 2px;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 20px;
      }

      .progress-text-content {
        -webkit-box-align: center;
        -webkit-box-pack: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
      }
    }

    .drop-container {
      height: 100%;
      width: 100%;
    }
  }
}
