<div class="clearfix buffer--padding-10">
  <div class="clearfix buffer--display-flex buffer--display-flex-direction-column">
    <h1 class="buffer--text-color-black buffer--font-family-semi-bold buffer--font-size-base">
      Are you sure you want to delete this post?
    </h1>
  </div>
  <div
    class="clearfix buffer--margin-top-10 buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-end">
    <div class="clearfix">
      <button class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm" mat-button
        (click)="handleCancelBtnClick()">
        Cancel
      </button>
    </div>
    <div class="clearfix buffer--margin-left-3">
      <button (click)="onDeletePostModalClosed()"
        class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm" color="warn" mat-flat-button>
        Delete
      </button>
    </div>
  </div>
</div>