<div class="clearfix">
  <div class="buffer--auth-menu">
    <ul class="buffer--display-flex buffer--align-items-center buffer--flex-justify-content-end">
      <li>
        <a href="javascript:void(0)"
          class="buffer--text-color-black buffer--font-family-sans-medium buffer--font-size-base buffer--margin-left-8">Why
          Buffer?</a>
      </li>
      <li>
        <a href="javascript:void(0)"
          class="buffer--text-color-black buffer--font-family-sans-medium buffer--font-size-base buffer--margin-left-8">Pricing</a>
      </li>
      <li>
        <a [routerLink]="['/enter']"
          class="buffer--text-color-black buffer--font-family-sans-medium buffer--font-size-base buffer--margin-left-8">Sign
          in</a>
      </li>
      <li>
        <button mat-flat-button color="primary"
          class="buffer--height-14 buffer--font-family-sans-medium buffer--font-size-base buffer--margin-left-8"
          (click)="navigateToSignupPage('join')">
          Get started
        </button>
      </li>
    </ul>
  </div>
</div>