<section id="dashboard-header-sec" class="dashboard-header-sec">
  <div class="clearfix">
    <div class="buffer--dashboard-header buffer--padding-x-10">
      <div
        class="clearfix buffer--header-logo-sec buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center"
      >
        <div class="clearfix">
          <buffer--logo-icon></buffer--logo-icon>
        </div>

        <div class="clearfix">
          <buffer--dashboard-header-menu></buffer--dashboard-header-menu>
        </div>
      </div>

      <div class="clearfix buffer--header-account-sec">
        <buffer--dashboard-header-account></buffer--dashboard-header-account>
      </div>
    </div>
  </div>
</section>
