:host {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #333e49;
  box-shadow: 0 1px 1px #eceaea;

  .buffer--dashboard-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .buffer--header-logo-sec {
    text-align: center;
  }

  .buffer--header-account-sec {
    text-align: center;
  }
}
