<div [ngSwitch]="post_info.post_type" class="p-mb-4">
  <div *ngSwitchCase="post_type.IMAGE">
    <div class="p-d-flex p-jc-between p-ai-center">
      <img *ngFor="let image of post_info.post_media; trackBy:trackBy;" [defaultImage]="image" [lazyLoad]="image"
        class="b-w-full" />
    </div>
  </div>
  <div *ngSwitchCase="post_type.VIDEO">
    <video preload="auto" [src]="post_info.post_media" type="video/mp4" class="b-w-full">
    </video>
  </div>
</div>

<p>{{ post_info.post_message }}</p>
<small class=" p-mr-2">
  <i class="pi pi-clock b-va-m"></i> {{ post_info.post_date_time | date: 'shortTime' }}
</small>