<div
  class="buffer--height-full buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['scheduled']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Scheduled
    </a>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <a [routerLink]="['published']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Published
    </a>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <a [routerLink]="['saved']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--padding-5 buffer--text-color-black buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Saved
    </a>
  </div>
</div>