<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['scheduled']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Scheduled
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['published']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Published
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['saved']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Saved
    </button>
  </div>
</div>