:host {
  position: relative;
  display: block;

  .b-ca-sl-facebook {
    background: #1877f2 url('/assets/images/icon/facebook.svg');
    background-size: cover;
  }

  .b-ca-sl-linkedin {
    background: #007bb5 url('/assets/images/icon/linkedin.svg');
    background-size: cover;
  }

  .b-ca-sl-twitter {
    background: #1da1f2 url('/assets/images/icon/twitter.svg');
    background-size: cover;
  }

  .b-ca-sl-instagram {
    background: #f46f30 url('/assets/images/icon/instagram.svg');
    background-size: cover;
  }

  .b-ca-sl-pinterest {
    background: #bd081c url('/assets/images/icon/pinterest.svg');
    background-size: cover;
  }
}
