<div class="clearfix">
  <div
    class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
    <div class="clearfix">
      <buffer--schedule-calendar-options></buffer--schedule-calendar-options>
    </div>
    
    <div class="clearfix">
      <div
        class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
        <div class="clearfix">
          <buffer--social-profile-toolbar></buffer--social-profile-toolbar>
        </div>
      </div>
    </div>
  </div>
</div>