<div class="clearfix">
  <full-calendar
    #calendar
    [header]="header"
    [maxTime]="maxTime"
    [allDayDefault]="false"
    [scrollTime]="scrollTime"
    [eventLimit]="eventLimit"
    [allDaySlot]="allDaySlot"
    [selectable]="selectable"
    [selectAllow]="selectAllow"
    [defaultView]="calendarView"
    [plugins]="calendarPlugins"
    [handleWindowResize]="false"
    [firstDay]="firstDay | async"
    [slotDuration]="slotDuration"
    [columnHeader]="columnHeader"
    [nowIndicator]="nowIndicator"
    [eventOverlap]="eventOverlap"
    [weekends]="calendarWeekends"
    [customButtons]="customButtons"
    [businessHours]="businessHours"
    [fixedWeekCount]="fixedWeekCount"
    [events]="calendarPosts | async"
    (select)="handleDateClick($event)"
    [eventLimitClick]="eventLimitClick"
    [slotLabelFormat]="slotLabelFormat"
    (eventDrop)="handlePostDrop($event)"
    [slotEventOverlap]="slotEventOverlap"
    [displayEventTime]="displayPostTime"
    [slotLabelInterval]="slotLabelInterval"
    (eventRender)="handlePostRender($event)"
    [showNonCurrentDates]="showNonCurrentDates | async"
    [progressiveEventRendering]="progressivePostRendering"
    [weekNumbersWithinDays]="true"
  ></full-calendar>
</div>
