<div class="clearfix">
  <div class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center">

    <div class="clearfix buffer--social-profile-list-item-action-buttons">
      <div class="buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center">
        <div class="clearfix buffer--margin-right-2">
          <button class="buffer--width-10 buffer--height-10" mat-icon-button matTooltip="Navigate"
            matTooltipClass="buffer--font-size-xs">
            <mat-icon class="buffer--font-size-xl">link</mat-icon>
          </button>
        </div>
        <div class="clearfix buffer--margin-right-2">
          <button class="buffer--width-10 buffer--height-10" mat-icon-button matTooltip="Stats"
            matTooltipClass="buffer--font-size-xs">
            <mat-icon class="buffer--font-size-xl">equalizer</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <button class="buffer--width-10 buffer--height-10" mat-icon-button matTooltip="Remove profile"
        matTooltipClass="buffer--font-size-xs">
        <mat-icon class="buffer--font-size-xl">delete</mat-icon>
      </button>
    </div>

  </div>
</div>