<div
    class="buffer--background-color-white buffer--padding-5 buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
    <form novalidate [formGroup]="profileChangePasswordForm">

        <div class="clearfix">
            <label class="buffer--cursor-default buffer--font-family-sans-medium buffer--font-size-sm"
                for="profilePassword">Current password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-sans-regular buffer--margin-y-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-sans-medium buffer--cursor-default"
                    [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="profilePassword"
                    id="profilePassword" matInput placeholder="Enter current password" spellcheck="false" />
                <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                    <i class="material-icons buffer--text-color-dark-gray">
                        {{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}
                    </i>
                </button>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <label for="profileNewPassword"
                class="buffer--cursor-default buffer--font-family-sans-medium buffer--font-size-sm">New password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-sans-regular buffer--margin-y-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-sans-medium buffer--cursor-default"
                    formControlName="profileNewPassword" id="profileNewPassword" matInput
                    placeholder="Enter new password" spellcheck="false"
                    [type]="hideNewPassword ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
                    <i class="material-icons buffer--text-color-dark-gray">
                        {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
                    </i>
                </button>
                <mat-error align="end" *ngIf="profileChangePasswordForm.controls.profileNewPassword.invalid">Enter a
                    valid
                    last name.</mat-error>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <label for="profileNewConfirmPassword"
                class="buffer--cursor-default buffer--font-family-sans-medium buffer--font-size-sm">Confirm new
                password</label>
            <mat-form-field class="buffer--width-full buffer--font-family-sans-regular buffer--margin-y-3"
                appearance="fill">
                <input autocomplete="off" class="buffer--font-family-sans-medium buffer--cursor-default"
                    formControlName="profileNewConfirmPassword" id="profileNewConfirmPassword" matInput
                    placeholder="Confirm new password" spellcheck="false"
                    [type]="hideNewConfirmPassword ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hideNewConfirmPassword = !hideNewConfirmPassword">
                    <i class="material-icons buffer--text-color-dark-gray">
                        {{ hideNewConfirmPassword ? 'visibility_off' : 'visibility' }}
                    </i>
                </button>
                <mat-error align="end" *ngIf="profileChangePasswordForm.controls.profileNewConfirmPassword.invalid">
                    Enter a
                    valid
                    last name.</mat-error>
            </mat-form-field>
        </div>

        <div class="clearfix">
            <div class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-end">
                <button mat-flat-button [disabled]="profileChangePasswordForm.invalid" color="primary"
                    class="buffer--font-family-sans-medium buffer--font-size-base buffer--height-12">
                    Change password
                </button>
            </div>
        </div>

    </form>


</div>