<div class="p-px-6 p-pt-5 b-br b-br-sm">
    <form novalidate [formGroup]="profileChangePasswordForm">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12">
                <label for="profilePassword">Current password</label>
                <input id="profilePassword" type="password" pInputText formControlName="profilePassword" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewPassword">Password</label>
                <input id="profileNewPassword" type="password" pInputText pPassword
                    formControlName="profileNewPassword" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewConfirmPassword">Password confirmation</label>
                <input id="profileNewConfirmPassword" type="password" pInputText pPassword
                    formControlName="profileNewConfirmPassword" />
            </div>
            <div class="p-field p-col-12">
                <button pButton type="button" label="Change password" class="b-w-full"
                    [disabled]="profileChangePasswordForm.invalid"></button>
            </div>
        </div>
    </form>
</div>