<div
    class="buffer--padding-8 buffer--padding-bottom-0 buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
    <form novalidate [formGroup]="profileChangePasswordForm">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12">
                <label for="profilePassword" class="buffer--font-size-sm p-text-bold">Current password</label>
                <input id="profilePassword" type="password" pInputText formControlName="profilePassword" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewPassword" class="buffer--font-size-sm p-text-bold">New password</label>
                <input id="profileNewPassword" type="password" pInputText pPassword
                    formControlName="profileNewPassword" />
            </div>
            <div class="p-field p-col-12">
                <label for="profileNewConfirmPassword" class="buffer--font-size-sm p-text-bold">Confirm New
                    password</label>
                <input id="profileNewConfirmPassword" type="password" pInputText pPassword
                    formControlName="profileNewConfirmPassword" />
            </div>
            <div class="p-field p-col-12">
                <button pButton type="button" label="Save" class="b-w-full"
                    [disabled]="profileChangePasswordForm.invalid"></button>
            </div>
        </div>
    </form>
</div>