<div class="clearfix">
  <section id="schedule-create-form-header-sec" class="schedule-create-form-header-sec">
    <buffer--schedule-event-create-modal-form-header
      [formHeader]="formHeader"
      [formHeaderIcon]="formHeaderIcon"
      (closeChooseTypeModal)="onChooseTypeModalClosed()"
    ></buffer--schedule-event-create-modal-form-header>
  </section>

  <section id="schedule-create-form-content-sec" class="schedule-create-form-content-sec">
    <div class="buffer--margin-top-5 buffer--margin-bottom-10">
      <!-- uploader -->
      <buffer--schedule-event-create-modal-form-media-selection
        (enableNextButton)="onNextButtonEnabled($event)"
      ></buffer--schedule-event-create-modal-form-media-selection>
      <!-- uploader -->
    </div>
  </section>

  <section id="schedule-create-form-footer-sec" class="schedule-create-form-footer-sec">
    <div
      class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center"
    >
      <div class="clearfix buffer--width-percent-20">
        <a
          (click)="onPreviousButtonClicked()"
          class="buffer--default-link buffer--get-started-short-link buffer--font-size-sm buffer--line-height-leading-normal buffer--font-family-regular"
        >
          <span>Back</span>
        </a>
      </div>
      <div class="clearfix buffer--width-percent-33">
        <button
          color="primary"
          mat-flat-button
          [disabled]="nextButtonDisabled"
          (click)="onNextButtonClicked()"
          class="buffer--width-full buffer--schedule-post-action-button buffer--font-family-semi-bold buffer--font-size-sm buffer--box-shadow buffer--border-radius-lg"
        >
          Next
        </button>
      </div>
    </div>
  </section>
</div>
