<div class="clearfix">
  <div
    class="clearfix buffer--outline-none buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-start">
    <div
      class="clearfix buffer--position-relative buffer--width-10 buffer--height-10 buffer--border-radius-full buffer--margin-right-2 buffer--social-account-logo-facebook">

    </div>
    <div class="clearfix">
      <p class="buffer--font-family-semi-bold buffer--font-size-sm buffer--line-height-leading-snug">Facebook
        Pages</p>
    </div>
  </div>
</div>