:host {
  display: block;
  position: relative;
  overflow: hidden;

  .buffer--schedule-week-menu-sec {
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .buffer--schedule-week-calendar-view-sec {
    height: calc(100vh - 65px);
  }
}
