<section
  id="buffer--schedule-week-menu-sec"
  class="buffer--schedule-week-menu-sec buffer--background-color-white buffer--width-full buffer--padding-y-3"
>
  <div class="clearfix">
    <buffer--schedule-week-header></buffer--schedule-week-header>
  </div>
</section>

<section
  id="buffer--schedule-week-calendar-view-sec"
  class="buffer--schedule-week-calendar-view-sec buffer--padding-5 buffer--overflow-y-auto buffer--overflow-x-hidden"
>
  <buffer--schedule-week-calendar></buffer--schedule-week-calendar>
</section>
