<div class="clearfix">
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="eventCreateChooseTypeForm">
      <buffer--type #postTypeChooseStep></buffer--type>
    </mat-step>

    <mat-step [stepControl]="eventCreateTypeTextForm">
      <buffer--text #postTypeTextStep *ngIf="(postType$ | async) === 'text'">
      </buffer--text>
      <buffer--image #postTypeImageStep *ngIf="(postType$ | async) === 'image'">
      </buffer--image>
      <buffer--video #postTypeVideoStep *ngIf="(postType$ | async) === 'video'">
      </buffer--video>
    </mat-step>
  </mat-horizontal-stepper>
</div>