<section id="buffer--dashboard-content-view-sec" class="buffer--dashboard-content-view-sec">

  <div class="clearfix">
    <section class="buffer--height-screen-with-header buffer--overflow-y-auto">
      <div class="clearfix buffer--padding-5">

        <div class="clearfix">
          <mat-grid-list cols="2" gutterSize="1.25rem" rowHeight="430">
            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Fan growth"
                chartType="pie" chartLineColor="#657ceb" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="{point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>

            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Top language"
                chartType="column" chartLineColor="#fd7b53" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="Total fans gained: {point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class="clearfix buffer--height-5"></div>

        <div class="clearfix">
          <mat-grid-list cols="2" gutterSize="1.25rem" rowHeight="430">
            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Top age"
                chartType="line" chartLineColor="#657ceb" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="{point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>

            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Top gender"
                chartType="line" chartLineColor="#fd7b53" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="Total fans gained: {point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class="clearfix buffer--height-5"></div>

        <div class="clearfix">
          <mat-grid-list cols="2" gutterSize="1.25rem" rowHeight="430">
            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Top countries"
                chartType="column" chartLineColor="#657ceb" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="{point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>

            <mat-grid-tile
              class="buffer--border-width buffer--border-style-solid buffer--border-color-light-gray buffer--border-radius-lg">
              <buffer--analyze-chart class="buffer--width-full buffer--height-full" chartCaption="Top cities"
                chartType="line" chartLineColor="#fd7b53" chartTooltipHeaderFormat="{point.x:.1f}"
                chartTooltipPointFormat="Total fans gained: {point.y}">
              </buffer--analyze-chart>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </section>
  </div>
</section>