<section class="b-hs-wt-h b-of-a">
  <div class="p-p-4">
    <div class="p-grid">
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Fan growth" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="false">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Top language" chartType="bar"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Top age" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Top gender" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Top countries" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Top cities" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
    </div>
  </div>
</section>