<div class="b-bg-white p-p-6 b-br-sm">
  <form [formGroup]="form" novalidate>
    <div class="p-fluid p-formgrid">
      <div class="p-field p-col-12">
        <h1>Join Buffer</h1>
        <h6 class="p-my-2 p-text-secondary">Start your 14 day free trial. No credit card required.
        </h6>
      </div>
      <div class="p-field p-col-12">
        <label for="user_full_name">Full Name</label>
        <input pInputText placeholder="your name" type="text" autocomplete="new-password"
          class="b-w-full p-inputtext-lg" formControlName="user_full_name" id="user_full_name" />
        <ng-container
          *ngIf="form.controls.user_full_name.dirty && form.controls.user_full_name.invalid; else name_is_valid">
          <small class="b-text-danger"
            id="full-name-help">{{ form.controls.user_full_name.getError('user_full_name') }}</small>
        </ng-container>
        <ng-template #name_is_valid>
          <small>Letters, numbers & spaces only.</small>
        </ng-template>
      </div>
      <div class="p-field p-col-12">
        <label for="user_email">Work Email</label>
        <input autocomplete="new-password" class="b-w-full p-inputtext-lg" formControlName="user_email" id="user_email"
          pInputText placeholder="your.name@email.com" type="email" />
        <ng-container *ngIf="form.controls.user_email.dirty && form.controls.user_email.invalid">
          <small class="b-text-danger"
            id="email-address-help">{{ form.controls.user_email.getError('user_email') }}</small>
        </ng-container>
      </div>
      <div class="p-field p-col-12">
        <label for="user_password">Password</label>
        <span class="p-input-icon-right">
          <i class="pi" [ngClass]="{ 'pi-eye': is_password_visible, 'pi-eye-slash': !is_password_visible }"
            (click)="is_password_visible = !is_password_visible"></i>
          <input pInputText placeholder="••••••••••••••••" [type]="is_password_visible ? 'text' : 'password'"
            autocomplete="new-password" class="b-w-full p-inputtext-lg" formControlName="user_password"
            id="user_password" />
        </span>
        <ng-container
          *ngIf="form.controls.user_password.dirty && form.controls.user_password.invalid; else password_is_valid">
          <small class="b-text-danger"
            id="password-help">{{ form.controls.user_password.getError('user_password') }}</small>
        </ng-container>
        <ng-template #password_is_valid>
          <small>Minimum 8 characters with a mix of letters, numbers &
            symbols.</small>
        </ng-template>
      </div>
      <div class="p-field p-col-12">
        <button [disabled]="form.invalid || form_clicked" (click)="signUp()" class="b-w-full p-button-lg"
          label="Sign up" pButton type="button"></button>
      </div>
      <div class="p-col-12 p-mt-6">
        <div class="p-grid p-justify-center p-align-center">
          <a routerLink="/enter" class="p-text-bold">Already have an account?</a>
        </div>
      </div>
    </div>
  </form>
</div>