<div class="clearfix">
  <div
    class="buffer--background-color-white buffer--border-radius-lg buffer--box-shadow-lg buffer--border-width buffer--border-style-solid buffer--border-color-gray buffer--padding-16">


    <div class="clearfix">
      <buffer--main-logo></buffer--main-logo>
    </div>


    <div class="clearfix buffer--margin-top-10 buffer--margin-bottom-5">
      <p class="buffer--font-family-semi-bold buffer--font-size-2xl buffer--line-height-leading-normal">
        Try free
      </p>
      <p
        class="buffer--text-color-dark-gray buffer--font-family-semi-bold buffer--font-size-base buffer--line-height-leading-normal">
        Continue to
        grow</p>
    </div>


    <div class="clearfix">
      <form [formGroup]="signupForm" novalidate>

        <div class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
          <div class="clearfix buffer--width-percent-48">
            <mat-form-field class="buffer--width-full" appearance="fill">
              <input autocomplete="current-password" class="buffer--font-family-semi-bold" formControlName="firstName"
                matInput placeholder="First name" type="text" [errorStateMatcher]="errorStateMatcher" />
              <mat-error align="end" *ngIf="signupForm.controls.firstName.invalid">Enter a valid first name.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="clearfix buffer--width-percent-48">
            <mat-form-field class="buffer--width-full" appearance="fill">
              <input autocomplete="current-password" class="buffer--font-family-semi-bold" formControlName="lastName"
                matInput placeholder='Last name' type="text" [errorStateMatcher]="errorStateMatcher" />
              <mat-error align="end" *ngIf="signupForm.controls.lastName.invalid">Enter a valid last name.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="clearfix">
          <mat-form-field class="buffer--width-full" appearance="fill">
            <input type="text" matInput class="buffer--font-family-semi-bold" formControlName="emailAddress"
              placeholder="Email address" required [errorStateMatcher]="errorStateMatcher" />
            <mat-error align="end" *ngIf="signupForm.controls.emailAddress.invalid">Enter a valid email address.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
          <div class="clearfix buffer--width-percent-48">
            <mat-form-field class="buffer--width-full" appearance="fill">
              <input placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                class="buffer--font-family-semi-bold" formControlName="password" matInput required
                [errorStateMatcher]="errorStateMatcher" />
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon class="buffer--text-color-dark-gray">{{ hidePassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
              <mat-error align="end" *ngIf="signupForm.controls.password.invalid">Enter a valid password.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="clearfix buffer--width-percent-48">
            <mat-form-field class="buffer--width-full" appearance="fill">
              <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput class="buffer--font-family-semi-bold"
                formControlName="confirmPassword" placeholder="Confirm password" required
                [errorStateMatcher]="errorStateMatcher" />
              <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                <mat-icon class="buffer--text-color-dark-gray">
                  {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error align="end" *ngIf="signupForm.controls.confirmPassword.invalid">Enter a valid password.
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="clearfix">
          <button color="primary" mat-flat-button [disabled]="signupForm.invalid"
            class="buffer--width-full buffer--font-family-semi-bold buffer--font-size-base buffer--text-color-white buffer--button-big-height buffer--button-big-padding">
            Try free for 14 days
          </button>
        </div>

      </form>
    </div>
  </div>
</div>


<section id="schedule-create-form-footer-sec" class="schedule-create-form-footer-sec">
  <div
    class="buffer--padding-top-5 buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between">
    <div class="clearfix buffer--width-percent-50">
      <p class="buffer--text-color-dark-gray buffer--font-size-sm buffer--font-family-semi-bold">
        <span>By continuing, you
          agree to </span>
        <span>Buffer's
          <a href="javascript:void(0)" class="buffer--default-link">Terms of Service</a>, <a href="javascript:void(0)"
            class="buffer--default-link">Privacy policy</a>.</span>
      </p>
    </div>
    <div class="clearfix">
      <button class="buffer--font-family-semi-bold buffer--font-size-sm" (click)="handleAuthNavigateBtn('sign-in')"
        color="primary" mat-flat-button>
        Have an account? Login
      </button>
    </div>
  </div>
</section>