<div class="clearfix buffer--padding-10">
  <div class="clearfix buffer--display-flex buffer--display-flex-direction-column">
    <h1 class="buffer--text-color-black buffer--font-family-semi-bold buffer--font-size-base">
      Re-schedule this post?
    </h1>
  </div>
  <div class="clearfix buffer--margin-top-10 buffer--display-flex buffer--flex-justify-content-end">
    <button
      mat-button
      (click)="onRescheduleModalClosed()"
      class="buffer--font-family-semi-bold buffer--font-size-sm buffer--height-12 buffer--padding-x-8 buffer--border-radius-lg"
    >
      Cancel
    </button>
    <button
      color="primary"
      mat-button
      mat-dialog-close
      class="buffer--font-family-semi-bold buffer--font-size-sm buffer--height-12 buffer--padding-x-8 buffer--border-radius-lg"
    >
      Re-schedule
    </button>
  </div>
</div>
