<div class="b-h-full">
  <div class="p-py-6 p-px-4">
    <div class="b-w-full p-mt-3 p-mb-6">
      <div class="p-d-flex p-jc-between p-ai-center p-pb-2">
        <h1 class="p-text-bold">Plans designed with your growth in mind</h1>

        <div class="p-d-flex p-flex-column p-jc-end">
          <div class="p-d-flex p-jc-center p-ai-center">
            <label for="switchPricing">
              <h6 class="p-text-bold b-cursor-pointer">Yearly billing</h6>
            </label>
            <p-inputSwitch [(ngModel)]="pricingMonthly" inputId="switchPricing" styleClass="p-mx-3"></p-inputSwitch>
            <label for="switchPricing">
              <h6 class="p-text-bold b-cursor-pointer">Monthly billing</h6>
            </label>
          </div>
          <small class="p-text-right">*All prices are in USD. VAT may apply.</small>
        </div>
      </div>
    </div>

    <div class="b-bg-white p-grid p-m-0 b-br b-br-sm">
      <div class="p-xs-12 p-sm-12 p-md-4 p-lg-4 p-p-6">
        <small class="p-text-uppercase">For Individuals</small>
        <h2 class="p-mt-2">Pro</h2>
        <p>For Small Businesses and Professional Marketers</p>
        <div class="p-mt-3">
          <h1 class="b-text-primary">{{(pricingMonthly ?  29 : (29 * 12) )| currency : 'USD' : 'symbol' : '1.0-0'}}
            <small>/month</small></h1>
          <h6>Billed {{ pricingMonthly ? 'monthly' : 'annually' }}</h6>
        </div>
        <button pButton type="button" disabled label="Current Plan" class="b-w-full p-button-lg p-my-6"></button>
        <div>
          <ul>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 10 social accounts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 100 scheduled posts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 2 users</h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-xs-12 p-sm-12 p-md-4 p-lg-4 p-p-6 b-br-x">
        <small class="p-text-uppercase">For Teams</small>
        <h2 class="p-mt-2">Premium</h2>
        <p>For Marketing Teams</p>
        <div class="p-mt-3">
          <h1 class="b-text-primary">{{(pricingMonthly ?  59 : (59 * 12) )| currency : 'USD' : 'symbol' : '1.0-0'}}
            <small>/month</small></h1>
          <h6>Billed {{ pricingMonthly ? 'monthly' : 'annually' }}</h6>
        </div>
        <button pButton type="button" label="Try free for 14 days" class="b-w-full p-button-lg p-my-6"></button>
        <div>
          <ul>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 15 social accounts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> Unlimited scheduled posts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 5 users</h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-xs-12 p-sm-12 p-md-4 p-lg-4 p-p-6">
        <small class="p-text-uppercase">For Agencies</small>
        <h2 class="p-mt-2">Advanced</h2>
        <p>For large teams of 10 to 149.</p>
        <div class="p-mt-3">
          <h1 class="b-text-primary">{{(pricingMonthly ?  89 : (89 * 12) )| currency : 'USD' : 'symbol' : '1.0-0'}}
            <small>/month</small></h1>
          <h6>Billed {{ pricingMonthly ? 'monthly' : 'annually' }}</h6>
        </div>
        <button pButton type="button" label="Try free for 30 days" class="b-w-full p-button-lg p-my-6"></button>
        <div>
          <ul>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 30 social accounts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> Unlimited scheduled posts</h6>
            </li>
            <li class="p-my-2">
              <h6><i class="pi pi-check b-text-primary p-mr-2 b-va-m"></i> 10 users</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="p-my-6">
      <button (click)="scrollIntoView()" pButton class="b-w-full p-button-text p-button-lg" icon="pi pi-arrow-down"
        label="See complete feature list"></button>
    </div>

    <div id="comparisonTable">
      <p-table [value]="products" dataKey="name" styleClass="p-m-0">
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2">
              <h4 class="p-text-bold p-text-black">Choose your plan</h4>
            </th>
            <th class="p-pl-5">
              <h4>Pro</h4>
              <button pButton disabled label="Current Plan" class="b-w-full p-button-sm p-my-3"></button>
            </th>
            <th class="p-pl-5">
              <h4>Premium</h4>
              <button pButton label="Try free" class="b-w-full p-button-sm p-my-3"></button>
            </th>
            <th class="p-pl-5">
              <h4>Advanced</h4>
              <button pButton label="Try free" class="b-w-full p-button-sm p-my-3"></button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr *ngIf="product?.groupName && product?.groupHeader" class="b-table-group">
            <td colspan="5" class="p-p-5">
              <h4 class="p-text-capitalize b-text-primary">{{ product?.groupName }}</h4>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="p-p-5">
              <h6 [pTooltip]="product.name" tooltipPosition="top" class="p-text-capitalize b-br-b-dashed b-w-max-content b-cursor-help">
                {{product.name}}
              </h6>
            </td>
            <td class="p-text-center ">
              <p [ngSwitch]="product.pro">
                <span *ngSwitchCase="true">
                  <i style="font-size: 1.25rem;" class="b-text-primary pi pi-check"></i>
                </span>
                <span *ngSwitchCase="false">
                  <i style="font-size: 1.25rem;" class="b-text-secondary pi pi-minus"></i>
                </span>
                <span *ngSwitchDefault>
                  <h6 class="b-text">{{product.pro}}</h6>
                </span>
              </p>
            </td>
            <td class="p-text-center ">
              <p [ngSwitch]="product.premium">
                <span *ngSwitchCase="true">
                  <i style="font-size: 1.25rem;" class="b-text-primary pi pi-check"></i>
                </span>
                <span *ngSwitchCase="false">
                  <i style="font-size: 1.25rem;" class="b-text-secondary pi pi-minus"></i>
                </span>
                <span *ngSwitchDefault>
                  <h6 class="b-text">{{product.premium}}</h6>
                </span>
              </p>
            </td>
            <td class="p-text-center">
              <p [ngSwitch]="product.advanced">
                <span *ngSwitchCase="true">
                  <i style="font-size: 1.25rem;" class="b-text-primary pi pi-check"></i>
                </span>
                <span *ngSwitchCase="false">
                  <i style="font-size: 1.25rem;" class="b-text-secondary pi pi-minus"></i>
                </span>
                <span *ngSwitchDefault>
                  <h6 class="b-text">{{product.advanced}}</h6>
                </span>
              </p>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <th colspan="2" class="p-text-left">
              <h4 class="p-text-bold">Ready to buy? Choose your plan</h4>
            </th>
            <th class=" p-text-left">
              <h4>Pro</h4>
              <button pButton disabled label="Current Plan" class="b-w-full p-button-sm p-my-3"></button>
            </th>
            <th class="p-pl-5 p-text-left">
              <h4>Premium</h4>
              <button pButton label="Try free" class="b-w-full p-button-sm p-my-3"></button>
            </th>
            <th class="p-pl-5 p-text-left">
              <h4>Advanced</h4>
              <button pButton label="Try free" class="b-w-full p-button-sm p-my-3"></button>
            </th>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>