:host {
	display: block;
	overflow: hidden;
}

:host ::ng-deep .p-datatable-wrapper {
	height: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:not(.b-table-group):hover {
	background: rgba(0, 0, 0, 0.02);
}

:host ::ng-deep.p-overlaypanel .p-overlaypanel-content {
	padding: 0;
}

:host ::ng-deep.b-table-group {
	border-bottom: 2px solid #88929e;
	background: #ffffff;
}
