/*
    * MONTH VIEW CALENDAR
*/
.cal-month-view {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
  border-radius: $buffer--border-radius-lg;
}

.cal-month-view .cal-header {
  font-size: $buffer--font-size-sm;
  text-align: $buffer--text-align-center;
}

.cal-month-view .cal-header .cal-cell {
  padding: 15px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: $buffer--display-block;
  white-space: nowrap;
  outline: $buffer--outline-none;
}

.cal-month-view .cal-days {
  border-bottom: 0;
  outline: $buffer--outline-none;
}

.cal-month-view .cal-cell-top {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: $buffer--cursor-pointer;
  text-align: $buffer--text-align-center;

  &:hover {
    background-color: $buffer--background-color-indigo-100;
  }

  span {
    margin: 0 auto;
  }
}

.cal-month-view .cal-cell-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: $buffer--display-flex;
  -js-display: $buffer--display-flex;
}

.cal-month-view .cal-cell {
  float: $buffer--float-left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: $buffer--display-flex;
  display: $buffer--display-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $buffer--display-flex-direction-column;
  flex-direction: $buffer--display-flex-direction-column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: $buffer--align-items-center;
}

.cal-month-view .cal-day-cell {
  outline: $buffer--outline-none;
  min-height: 120px;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.cal-month-view .cal-days .cal-cell-row {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.cal-month-view .cal-day-number {
  font-size: $buffer--font-size-xs;
  color: $buffer--text-color-gray-800;
  font-family: $buffer--font-family-semi-bold;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  color: $buffer--text-color-green-800 !important;
}

.cal-month-view {
  background-color: $buffer--background-color-white;
}

.cal-month-view .cal-days {
  border-color: rgba(0, 0, 0, 0.08);
}

/*
    * WEEK VIEW CALENDAR
*/
.cal-week-view {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .cal-day-headers {
    padding-left: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    .cal-header {
      flex: 1;
      -ms-flex: 1;
      -webkit-box-flex: 1;
      outline: $buffer--outline-none;
      font-size: $buffer--font-size-sm;
      text-align: $buffer--text-align-center;
      font-family: $buffer--font-family-semi-bold;
    }
  }

  .cal-day-column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .cal-event {
    font-size: 12px;
  }
  .cal-week-view .cal-time-label-column {
    width: 100px;
    height: 100%;
  }
  .cal-week-view .cal-current-time-marker {
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 2;
  }

  .cal-all-day-events {
    border: solid 1px;
    border-top: 0;
    border-bottom-width: 3px;
    padding-top: 3px;
    position: relative;

    .cal-day-columns {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      position: absolute;
      top: 0;
      z-index: 0;
    }

    .cal-events-row {
      position: relative;
      height: 31px;
      margin-left: 100px;
    }
    .cal-event-container {
      display: inline-block;
      position: absolute;
    }
    .cal-event-container.resize-active {
      z-index: 1;
      pointer-events: none;
    }
    .cal-event {
      padding: 0 5px;
      margin-left: 2px;
      margin-right: 2px;
      height: 28px;
      line-height: 28px;
    }

    .cal-time-label-column {
      display: -webkit-box;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 14px;
    }
    .cal-resize-handle {
      width: 6px;
      height: 100%;
      cursor: col-resize;
      position: absolute;
      top: 0;
    }
  }

  .cal-starts-within-week {
    .cal-event {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
.cal-week-view .cal-day-headers .cal-week-view .cal-day-headers span {
  font-family: $buffer--font-family-semi-bold;
  font-size: $buffer--font-size-xs;
  text-transform: $buffer--text-transform-uppercase;
  margin: 10px 0;
  opacity: 0.5;
}

.cal-week-view .cal-all-day-events .cal-resize-handle.cal-resize-handle-after-end {
  right: 0;
}
.cal-week-view .cal-event,
.cal-week-view .cal-header {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cal-week-view .cal-time-events {
  display: flex;
  -js-display: flex;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
}
.cal-week-view .cal-time-events .cal-day-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.cal-week-view .cal-time-events .cal-day-column {
  position: relative;
}
.cal-week-view .cal-time-events .cal-events-container {
  position: relative;
}
.cal-week-view .cal-time-events .cal-event-container {
  position: absolute;
  z-index: 1;
}
.cal-week-view .cal-time-events .cal-event {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  padding: 0 5px;
  line-height: 25px;
}
.cal-week-view .cal-time-events .cal-resize-handle {
  width: 100%;
  height: 4px;
  cursor: row-resize;
  position: absolute;
}
.cal-week-view .cal-time-events .cal-resize-handle.cal-resize-handle-after-end {
  bottom: 0;
}
.cal-week-view .cal-hour-segment {
  position: relative;
}
.cal-week-view .cal-hour-segment::after {
  content: '\00a0';
}

.cal-week-view mwl-calendar-week-view-hour-segment,
.cal-week-view .cal-hour-segment {
  display: block;
}

.cal-week-view .cal-time {
  width: 100px;
  padding: 1.35rem 1.25rem;
  text-align: $buffer--float-left;
  font-size: $buffer--font-size-xs;
  color: $buffer--text-color-gray-800;
  font-family: $buffer--font-family-semi-bold;
}

.cal-week-view {
  border-radius: $buffer--border-radius-lg;
  background-color: $buffer--background-color-white;
}

.cal-after-hour-start {
  display: none !important;
}

.cal-week-view .cal-day-column {
  border-left-color: rgba(0, 0, 0, 0.08);
}

.cal-week-view .cal-all-day-events {
  border-color: rgba(0, 0, 0, 0.08);
}

.cal-week-view .cal-hour-odd {
  border-top: 1px dashed rgba(0, 0, 0, 0.08);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.08);
}

.cal-week-view .cal-current-time-marker {
  background-color: $buffer--background-color-green-800;
}

/*
    * DAY VIEW CALENDAR
*/
.cal-day-view .cal-events-container {
  margin-left: 100px;
}
.cal-day-view .cal-day-column {
  border-left: 0;
}
.cal-day-view .cal-current-time-marker {
  margin-left: 100px;
  width: calc(100% - 100px);
}
