/* ************************************* BACKGROUNDS STARTS ************************************* */
/* ************************************* BACKGROUNDS STARTS ************************************* */

/*
    * BACKGROUND ATTACHMENT
*/
.buffer--background-attachment-fixed {
  background-attachment: $buffer--background-attachment-fixed;
}

.buffer--background-attachment-local {
  background-attachment: $buffer--background-attachment-local;
}

.buffer--background-attachment-scroll {
  background-attachment: $buffer--background-attachment-scroll;
}

/*
    * BACKGROUND COLOR
*/
.buffer--background-color-transparent {
  background-color: $buffer--background-color-transparent;
}

.buffer--background-color-black {
  background-color: $buffer--background-color-black;
}

.buffer--background-color-white {
  background-color: $buffer--background-color-white;
}

.buffer--background-color-gray-100 {
  background-color: $buffer--background-color-gray-100;
}

.buffer--background-color-gray-200 {
  background-color: $buffer--background-color-gray-200;
}

.buffer--background-color-gray-300 {
  background-color: $buffer--background-color-gray-300;
}

.buffer--background-color-gray-400 {
  background-color: $buffer--background-color-gray-400;
}

.buffer--background-color-gray-500 {
  background-color: $buffer--background-color-gray-500;
}

.buffer--background-color-gray-600 {
  background-color: $buffer--background-color-gray-600;
}

.buffer--background-color-gray-700 {
  background-color: $buffer--background-color-gray-700;
}

.buffer--background-color-gray-800 {
  background-color: $buffer--background-color-gray-800;
}

.buffer--background-color-gray-900 {
  background-color: $buffer--background-color-gray-900;
}

.buffer--background-color-red-100 {
  background-color: $buffer--background-color-red-100;
}

.buffer--background-color-red-200 {
  background-color: $buffer--background-color-red-200;
}

.buffer--background-color-red-300 {
  background-color: $buffer--background-color-red-300;
}

.buffer--background-color-red-400 {
  background-color: $buffer--background-color-red-400;
}

.buffer--background-color-red-500 {
  background-color: $buffer--background-color-red-500;
}

.buffer--background-color-red-600 {
  background-color: $buffer--background-color-red-600;
}

.buffer--background-color-red-700 {
  background-color: $buffer--background-color-red-700;
}

.buffer--background-color-red-800 {
  background-color: $buffer--background-color-red-800;
}

.buffer--background-color-red-900 {
  background-color: $buffer--background-color-red-900;
}

.buffer--background-color-orange-100 {
  background-color: $buffer--background-color-orange-100;
}

.buffer--background-color-orange-200 {
  background-color: $buffer--background-color-orange-200;
}

.buffer--background-color-orange-300 {
  background-color: $buffer--background-color-orange-300;
}

.buffer--background-color-orange-400 {
  background-color: $buffer--background-color-orange-400;
}

.buffer--background-color-orange-500 {
  background-color: $buffer--background-color-orange-500;
}

.buffer--background-color-orange-600 {
  background-color: $buffer--background-color-orange-600;
}

.buffer--background-color-orange-700 {
  background-color: $buffer--background-color-orange-700;
}

.buffer--background-color-orange-800 {
  background-color: $buffer--background-color-orange-800;
}

.buffer--background-color-orange-900 {
  background-color: $buffer--background-color-orange-900;
}

.buffer--background-color-yellow-100 {
  background-color: $buffer--background-color-yellow-100;
}

.buffer--background-color-yellow-200 {
  background-color: $buffer--background-color-yellow-200;
}

.buffer--background-color-yellow-300 {
  background-color: $buffer--background-color-yellow-300;
}

.buffer--background-color-yellow-400 {
  background-color: $buffer--background-color-yellow-400;
}

.buffer--background-color-yellow-500 {
  background-color: $buffer--background-color-yellow-500;
}

.buffer--background-color-yellow-600 {
  background-color: $buffer--background-color-yellow-600;
}

.buffer--background-color-yellow-700 {
  background-color: $buffer--background-color-yellow-700;
}

.buffer--background-color-yellow-800 {
  background-color: $buffer--background-color-yellow-800;
}

.buffer--background-color-yellow-900 {
  background-color: $buffer--background-color-yellow-900;
}

.buffer--background-color-green-100 {
  background-color: $buffer--background-color-green-100;
}

.buffer--background-color-green-200 {
  background-color: $buffer--background-color-green-200;
}

.buffer--background-color-green-300 {
  background-color: $buffer--background-color-green-300;
}

.buffer--background-color-green-400 {
  background-color: $buffer--background-color-green-400;
}

.buffer--background-color-green-500 {
  background-color: $buffer--background-color-green-500;
}

.buffer--background-color-green-600 {
  background-color: $buffer--background-color-green-600;
}

.buffer--background-color-green-700 {
  background-color: $buffer--background-color-green-700;
}

.buffer--background-color-green-800 {
  background-color: $buffer--background-color-green-800;
}

.buffer--background-color-green-900 {
  background-color: $buffer--background-color-green-900;
}

.buffer--background-color-teal-100 {
  background-color: $buffer--background-color-teal-100;
}

.buffer--background-color-teal-200 {
  background-color: $buffer--background-color-teal-200;
}

.buffer--background-color-teal-300 {
  background-color: $buffer--background-color-teal-300;
}

.buffer--background-color-teal-400 {
  background-color: $buffer--background-color-teal-400;
}

.buffer--background-color-teal-500 {
  background-color: $buffer--background-color-teal-500;
}

.buffer--background-color-teal-600 {
  background-color: $buffer--background-color-teal-600;
}

.buffer--background-color-teal-700 {
  background-color: $buffer--background-color-teal-700;
}

.buffer--background-color-teal-800 {
  background-color: $buffer--background-color-teal-800;
}

.buffer--background-color-teal-900 {
  background-color: $buffer--background-color-teal-900;
}

.buffer--background-color-blue-100 {
  background-color: $buffer--background-color-blue-100;
}

.buffer--background-color-blue-200 {
  background-color: $buffer--background-color-blue-200;
}

.buffer--background-color-blue-300 {
  background-color: $buffer--background-color-blue-300;
}

.buffer--background-color-blue-400 {
  background-color: $buffer--background-color-blue-400;
}

.buffer--background-color-blue-500 {
  background-color: $buffer--background-color-blue-500;
}

.buffer--background-color-blue-600 {
  background-color: $buffer--background-color-blue-600;
}

.buffer--background-color-blue-700 {
  background-color: $buffer--background-color-blue-700;
}

.buffer--background-color-blue-800 {
  background-color: $buffer--background-color-blue-800;
}

.buffer--background-color-blue-900 {
  background-color: $buffer--background-color-blue-900;
}

.buffer--background-color-indigo-100 {
  background-color: $buffer--background-color-indigo-100;
}

.buffer--background-color-indigo-200 {
  background-color: $buffer--background-color-indigo-200;
}

.buffer--background-color-indigo-300 {
  background-color: $buffer--background-color-indigo-300;
}

.buffer--background-color-indigo-400 {
  background-color: $buffer--background-color-indigo-400;
}

.buffer--background-color-indigo-500 {
  background-color: $buffer--background-color-indigo-500;
}

.buffer--background-color-indigo-600 {
  background-color: $buffer--background-color-indigo-600;
}

.buffer--background-color-indigo-700 {
  background-color: $buffer--background-color-indigo-700;
}

.buffer--background-color-indigo-800 {
  background-color: $buffer--background-color-indigo-800;
}

.buffer--background-color-indigo-900 {
  background-color: $buffer--background-color-indigo-900;
}

.buffer--background-color-purple-100 {
  background-color: $buffer--background-color-purple-100;
}

.buffer--background-color-purple-200 {
  background-color: $buffer--background-color-purple-200;
}

.buffer--background-color-purple-300 {
  background-color: $buffer--background-color-purple-300;
}

.buffer--background-color-purple-400 {
  background-color: $buffer--background-color-purple-400;
}

.buffer--background-color-purple-500 {
  background-color: $buffer--background-color-purple-500;
}

.buffer--background-color-purple-600 {
  background-color: $buffer--background-color-purple-600;
}

.buffer--background-color-purple-700 {
  background-color: $buffer--background-color-purple-700;
}

.buffer--background-color-purple-800 {
  background-color: $buffer--background-color-purple-800;
}

.buffer--background-color-purple-900 {
  background-color: $buffer--background-color-purple-900;
}

.buffer--background-color-pink-100 {
  background-color: $buffer--background-color-pink-100;
}

.buffer--background-color-pink-200 {
  background-color: $buffer--background-color-pink-200;
}

.buffer--background-color-pink-300 {
  background-color: $buffer--background-color-pink-300;
}

.buffer--background-color-pink-400 {
  background-color: $buffer--background-color-pink-400;
}

.buffer--background-color-pink-500 {
  background-color: $buffer--background-color-pink-500;
}

.buffer--background-color-pink-600 {
  background-color: $buffer--background-color-pink-600;
}

.buffer--background-color-pink-700 {
  background-color: $buffer--background-color-pink-700;
}

.buffer--background-color-pink-800 {
  background-color: $buffer--background-color-pink-800;
}

.buffer--background-color-pink-900 {
  background-color: $buffer--background-color-pink-900;
}

/*
    * BACKGROUND POSITION
*/
.buffer--background-position-bottom {
  background-position: $buffer--background-position-bottom;
}

.buffer--background-position-center {
  background-position: $buffer--background-position-center;
}

.buffer--background-position-left {
  background-position: $buffer--background-position-left;
}

.buffer--background-position-left-bottom {
  background-position: $buffer--background-position-left-bottom;
}

.buffer--background-position-left-top {
  background-position: $buffer--background-position-left-top;
}

.buffer--background-position-right {
  background-position: $buffer--background-position-right;
}

.buffer--background-position-right-bottom {
  background-position: $buffer--background-position-right-bottom;
}

.buffer--background-position-right-top {
  background-position: $buffer--background-position-right-top;
}

.buffer--background-position-top {
  background-position: $buffer--background-position-top;
}

/*
    * BACKGROUND REPEAT
*/
.buffer--background-repeat {
  background-repeat: $buffer--background-repeat;
}

.buffer--background-no-repeat {
  background-repeat: $buffer--background-no-repeat;
}

.buffer--background-repeat-x {
  background-repeat: $buffer--background-repeat-x;
}

.buffer--background-repeat-y {
  background-repeat: $buffer--background-repeat-y;
}

.buffer--background-repeat-round {
  background-repeat: $buffer--background-repeat-round;
}

.buffer--background-repeat-space {
  background-repeat: $buffer--background-repeat-space;
}

/*
    * BACKGROUND SIZE
*/
.buffer--background-size-auto {
  background-size: $buffer--background-size-auto;
}

.buffer--background-size-cover {
  background-size: $buffer--background-size-cover;
}

.buffer--background-size-contain {
  background-size: $buffer--background-size-contain;
}

/* ************************************* BACKGROUNDS ENDS ************************************* */
/* ************************************* BACKGROUNDS ENDS ************************************* */
