/* ************************************* BACKGROUNDS STARTS ************************************* */
/* ************************************* BACKGROUNDS STARTS ************************************* */

/*
    * BACKGROUND ATTACHMENT
*/
.buffer--background-attachment-fixed {
  background-attachment: $buffer--background-attachment-fixed !important;
}

.buffer--background-attachment-local {
  background-attachment: $buffer--background-attachment-local !important;
}

.buffer--background-attachment-scroll {
  background-attachment: $buffer--background-attachment-scroll !important;
}

/*
    * BACKGROUND COLOR
*/
.buffer--background-color-transparent {
  background-color: $buffer--background-color-transparent !important;
}

.buffer--background-color-black {
  background-color: $buffer--background-color-black !important;
}

.buffer--background-color-white {
  background-color: $buffer--background-color-white !important;
}

.buffer--background-color-gray-100 {
  background-color: $buffer--background-color-gray-100 !important;
}

.buffer--background-color-gray-200 {
  background-color: $buffer--background-color-gray-200 !important;
}

.buffer--background-color-gray-300 {
  background-color: $buffer--background-color-gray-300 !important;
}

.buffer--background-color-gray-400 {
  background-color: $buffer--background-color-gray-400 !important;
}

.buffer--background-color-gray-500 {
  background-color: $buffer--background-color-gray-500 !important;
}

.buffer--background-color-gray-600 {
  background-color: $buffer--background-color-gray-600 !important;
}

.buffer--background-color-gray-700 {
  background-color: $buffer--background-color-gray-700 !important;
}

.buffer--background-color-gray-800 {
  background-color: $buffer--background-color-gray-800 !important;
}

.buffer--background-color-gray-900 {
  background-color: $buffer--background-color-gray-900 !important;
}

.buffer--background-color-red-100 {
  background-color: $buffer--background-color-red-100 !important;
}

.buffer--background-color-red-200 {
  background-color: $buffer--background-color-red-200 !important;
}

.buffer--background-color-red-300 {
  background-color: $buffer--background-color-red-300 !important;
}

.buffer--background-color-red-400 {
  background-color: $buffer--background-color-red-400 !important;
}

.buffer--background-color-red-500 {
  background-color: $buffer--background-color-red-500 !important;
}

.buffer--background-color-red-600 {
  background-color: $buffer--background-color-red-600 !important;
}

.buffer--background-color-red-700 {
  background-color: $buffer--background-color-red-700 !important;
}

.buffer--background-color-red-800 {
  background-color: $buffer--background-color-red-800 !important;
}

.buffer--background-color-red-900 {
  background-color: $buffer--background-color-red-900 !important;
}

.buffer--background-color-orange-100 {
  background-color: $buffer--background-color-orange-100 !important;
}

.buffer--background-color-orange-200 {
  background-color: $buffer--background-color-orange-200 !important;
}

.buffer--background-color-orange-300 {
  background-color: $buffer--background-color-orange-300 !important;
}

.buffer--background-color-orange-400 {
  background-color: $buffer--background-color-orange-400 !important;
}

.buffer--background-color-orange-500 {
  background-color: $buffer--background-color-orange-500 !important;
}

.buffer--background-color-orange-600 {
  background-color: $buffer--background-color-orange-600 !important;
}

.buffer--background-color-orange-700 {
  background-color: $buffer--background-color-orange-700 !important;
}

.buffer--background-color-orange-800 {
  background-color: $buffer--background-color-orange-800 !important;
}

.buffer--background-color-orange-900 {
  background-color: $buffer--background-color-orange-900 !important;
}

.buffer--background-color-yellow-100 {
  background-color: $buffer--background-color-yellow-100 !important;
}

.buffer--background-color-yellow-200 {
  background-color: $buffer--background-color-yellow-200 !important;
}

.buffer--background-color-yellow-300 {
  background-color: $buffer--background-color-yellow-300 !important;
}

.buffer--background-color-yellow-400 {
  background-color: $buffer--background-color-yellow-400 !important;
}

.buffer--background-color-yellow-500 {
  background-color: $buffer--background-color-yellow-500 !important;
}

.buffer--background-color-yellow-600 {
  background-color: $buffer--background-color-yellow-600 !important;
}

.buffer--background-color-yellow-700 {
  background-color: $buffer--background-color-yellow-700 !important;
}

.buffer--background-color-yellow-800 {
  background-color: $buffer--background-color-yellow-800 !important;
}

.buffer--background-color-yellow-900 {
  background-color: $buffer--background-color-yellow-900 !important;
}

.buffer--background-color-green-100 {
  background-color: $buffer--background-color-green-100 !important;
}

.buffer--background-color-green-200 {
  background-color: $buffer--background-color-green-200 !important;
}

.buffer--background-color-green-300 {
  background-color: $buffer--background-color-green-300 !important;
}

.buffer--background-color-green-400 {
  background-color: $buffer--background-color-green-400 !important;
}

.buffer--background-color-green-500 {
  background-color: $buffer--background-color-green-500 !important;
}

.buffer--background-color-green-600 {
  background-color: $buffer--background-color-green-600 !important;
}

.buffer--background-color-green-700 {
  background-color: $buffer--background-color-green-700 !important;
}

.buffer--background-color-green-800 {
  background-color: $buffer--background-color-green-800 !important;
}

.buffer--background-color-green-900 {
  background-color: $buffer--background-color-green-900 !important;
}

.buffer--background-color-teal-100 {
  background-color: $buffer--background-color-teal-100 !important;
}

.buffer--background-color-teal-200 {
  background-color: $buffer--background-color-teal-200 !important;
}

.buffer--background-color-teal-300 {
  background-color: $buffer--background-color-teal-300 !important;
}

.buffer--background-color-teal-400 {
  background-color: $buffer--background-color-teal-400 !important;
}

.buffer--background-color-teal-500 {
  background-color: $buffer--background-color-teal-500 !important;
}

.buffer--background-color-teal-600 {
  background-color: $buffer--background-color-teal-600 !important;
}

.buffer--background-color-teal-700 {
  background-color: $buffer--background-color-teal-700 !important;
}

.buffer--background-color-teal-800 {
  background-color: $buffer--background-color-teal-800 !important;
}

.buffer--background-color-teal-900 {
  background-color: $buffer--background-color-teal-900 !important;
}

.buffer--background-color-blue-100 {
  background-color: $buffer--background-color-blue-100 !important;
}

.buffer--background-color-blue-200 {
  background-color: $buffer--background-color-blue-200 !important;
}

.buffer--background-color-blue-300 {
  background-color: $buffer--background-color-blue-300 !important;
}

.buffer--background-color-blue-400 {
  background-color: $buffer--background-color-blue-400 !important;
}

.buffer--background-color-blue-500 {
  background-color: $buffer--background-color-blue-500 !important;
}

.buffer--background-color-blue-600 {
  background-color: $buffer--background-color-blue-600 !important;
}

.buffer--background-color-blue-700 {
  background-color: $buffer--background-color-blue-700 !important;
}

.buffer--background-color-blue-800 {
  background-color: $buffer--background-color-blue-800 !important;
}

.buffer--background-color-blue-900 {
  background-color: $buffer--background-color-blue-900 !important;
}

.buffer--background-color-indigo-100 {
  background-color: $buffer--background-color-indigo-100 !important;
}

.buffer--background-color-indigo-200 {
  background-color: $buffer--background-color-indigo-200 !important;
}

.buffer--background-color-indigo-300 {
  background-color: $buffer--background-color-indigo-300 !important;
}

.buffer--background-color-indigo-400 {
  background-color: $buffer--background-color-indigo-400 !important;
}

.buffer--background-color-indigo-500 {
  background-color: $buffer--background-color-indigo-500 !important;
}

.buffer--background-color-indigo-600 {
  background-color: $buffer--background-color-indigo-600 !important;
}

.buffer--background-color-indigo-700 {
  background-color: $buffer--background-color-indigo-700 !important;
}

.buffer--background-color-indigo-800 {
  background-color: $buffer--background-color-indigo-800 !important;
}

.buffer--background-color-indigo-900 {
  background-color: $buffer--background-color-indigo-900 !important;
}

.buffer--background-color-purple-100 {
  background-color: $buffer--background-color-purple-100 !important;
}

.buffer--background-color-purple-200 {
  background-color: $buffer--background-color-purple-200 !important;
}

.buffer--background-color-purple-300 {
  background-color: $buffer--background-color-purple-300 !important;
}

.buffer--background-color-purple-400 {
  background-color: $buffer--background-color-purple-400 !important;
}

.buffer--background-color-purple-500 {
  background-color: $buffer--background-color-purple-500 !important;
}

.buffer--background-color-purple-600 {
  background-color: $buffer--background-color-purple-600 !important;
}

.buffer--background-color-purple-700 {
  background-color: $buffer--background-color-purple-700 !important;
}

.buffer--background-color-purple-800 {
  background-color: $buffer--background-color-purple-800 !important;
}

.buffer--background-color-purple-900 {
  background-color: $buffer--background-color-purple-900 !important;
}

.buffer--background-color-pink-100 {
  background-color: $buffer--background-color-pink-100 !important;
}

.buffer--background-color-pink-200 {
  background-color: $buffer--background-color-pink-200 !important;
}

.buffer--background-color-pink-300 {
  background-color: $buffer--background-color-pink-300 !important;
}

.buffer--background-color-pink-400 {
  background-color: $buffer--background-color-pink-400 !important;
}

.buffer--background-color-pink-500 {
  background-color: $buffer--background-color-pink-500 !important;
}

.buffer--background-color-pink-600 {
  background-color: $buffer--background-color-pink-600 !important;
}

.buffer--background-color-pink-700 {
  background-color: $buffer--background-color-pink-700 !important;
}

.buffer--background-color-pink-800 {
  background-color: $buffer--background-color-pink-800 !important;
}

.buffer--background-color-pink-900 {
  background-color: $buffer--background-color-pink-900 !important;
}

/*
    * BACKGROUND POSITION
*/
.buffer--background-position-bottom {
  background-position: $buffer--background-position-bottom !important;
}

.buffer--background-position-center {
  background-position: $buffer--background-position-center !important;
}

.buffer--background-position-left {
  background-position: $buffer--background-position-left !important;
}

.buffer--background-position-left-bottom {
  background-position: $buffer--background-position-left-bottom !important;
}

.buffer--background-position-left-top {
  background-position: $buffer--background-position-left-top !important;
}

.buffer--background-position-right {
  background-position: $buffer--background-position-right !important;
}

.buffer--background-position-right-bottom {
  background-position: $buffer--background-position-right-bottom !important;
}

.buffer--background-position-right-top {
  background-position: $buffer--background-position-right-top !important;
}

.buffer--background-position-top {
  background-position: $buffer--background-position-top !important;
}

/*
    * BACKGROUND REPEAT
*/
.buffer--background-repeat {
  background-repeat: $buffer--background-repeat !important;
}

.buffer--background-no-repeat {
  background-repeat: $buffer--background-no-repeat !important;
}

.buffer--background-repeat-x {
  background-repeat: $buffer--background-repeat-x !important;
}

.buffer--background-repeat-y {
  background-repeat: $buffer--background-repeat-y !important;
}

.buffer--background-repeat-round {
  background-repeat: $buffer--background-repeat-round !important;
}

.buffer--background-repeat-space {
  background-repeat: $buffer--background-repeat-space !important;
}

/*
    * BACKGROUND SIZE
*/
.buffer--background-size-auto {
  background-size: $buffer--background-size-auto !important;
}

.buffer--background-size-cover {
  background-size: $buffer--background-size-cover !important;
}

.buffer--background-size-contain {
  background-size: $buffer--background-size-contain !important;
}

/* ************************************* BACKGROUNDS ENDS ************************************* */
/* ************************************* BACKGROUNDS ENDS ************************************* */
