/* ************************************* BORDER STARTS ************************************* */
/* ************************************* BORDER STARTS ************************************* */

/*
    * BORDER COLOR
*/
.buffer--border-transparent {
  border-color: $buffer--border-transparent !important;
}

.buffer--border-black {
  border-color: $buffer--border-black !important;
}

.buffer--border-white {
  border-color: $buffer--border-white !important;
}

.buffer--border-gray-100 {
  border-color: $buffer--border-gray-100 !important;
}

.buffer--border-gray-200 {
  border-color: $buffer--border-gray-200 !important;
}

.buffer--border-gray-300 {
  border-color: $buffer--border-gray-300 !important;
}

.buffer--border-gray-400 {
  border-color: $buffer--border-gray-400 !important;
}

.buffer--border-gray-500 {
  border-color: $buffer--border-gray-500 !important;
}

.buffer--border-gray-600 {
  border-color: $buffer--border-gray-600 !important;
}

.buffer--border-gray-700 {
  border-color: $buffer--border-gray-700 !important;
}

.buffer--border-gray-800 {
  border-color: $buffer--border-gray-800 !important;
}

.buffer--border-gray-900 {
  border-color: $buffer--border-gray-900 !important;
}

.buffer--border-red-100 {
  border-color: $buffer--border-red-100 !important;
}

.buffer--border-red-200 {
  border-color: $buffer--border-red-200 !important;
}

.buffer--border-red-300 {
  border-color: $buffer--border-red-300 !important;
}

.buffer--border-red-400 {
  border-color: $buffer--border-red-400 !important;
}

.buffer--border-red-500 {
  border-color: $buffer--border-red-500 !important;
}

.buffer--border-red-600 {
  border-color: $buffer--border-red-600 !important;
}

.buffer--border-red-700 {
  border-color: $buffer--border-red-700 !important;
}

.buffer--border-red-800 {
  border-color: $buffer--border-red-800 !important;
}

.buffer--border-red-900 {
  border-color: $buffer--border-red-900 !important;
}

.buffer--border-orange-100 {
  border-color: $buffer--border-orange-100 !important;
}

.buffer--border-orange-200 {
  border-color: $buffer--border-orange-200 !important;
}

.buffer--border-orange-300 {
  border-color: $buffer--border-orange-300 !important;
}

.buffer--border-orange-400 {
  border-color: $buffer--border-orange-400 !important;
}

.buffer--border-orange-500 {
  border-color: $buffer--border-orange-500 !important;
}

.buffer--border-orange-600 {
  border-color: $buffer--border-orange-600 !important;
}

.buffer--border-orange-700 {
  border-color: $buffer--border-orange-700 !important;
}

.buffer--border-orange-800 {
  border-color: $buffer--border-orange-800 !important;
}

.buffer--border-orange-900 {
  border-color: $buffer--border-orange-900 !important;
}

.buffer--border-yellow-100 {
  border-color: $buffer--border-yellow-100 !important;
}

.buffer--border-yellow-200 {
  border-color: $buffer--border-yellow-200 !important;
}

.buffer--border-yellow-300 {
  border-color: $buffer--border-yellow-300 !important;
}

.buffer--border-yellow-400 {
  border-color: $buffer--border-yellow-400 !important;
}

.buffer--border-yellow-500 {
  border-color: $buffer--border-yellow-500 !important;
}

.buffer--border-yellow-600 {
  border-color: $buffer--border-yellow-600 !important;
}

.buffer--border-yellow-700 {
  border-color: $buffer--border-yellow-700 !important;
}

.buffer--border-yellow-800 {
  border-color: $buffer--border-yellow-800 !important;
}

.buffer--border-yellow-900 {
  border-color: $buffer--border-yellow-900 !important;
}

.buffer--border-green-100 {
  border-color: $buffer--border-green-100 !important;
}

.buffer--border-green-200 {
  border-color: $buffer--border-green-200 !important;
}

.buffer--border-green-300 {
  border-color: $buffer--border-green-300 !important;
}

.buffer--border-green-400 {
  border-color: $buffer--border-green-400 !important;
}

.buffer--border-green-500 {
  border-color: $buffer--border-green-500 !important;
}

.buffer--border-green-600 {
  border-color: $buffer--border-green-600 !important;
}

.buffer--border-green-700 {
  border-color: $buffer--border-green-700 !important;
}

.buffer--border-green-800 {
  border-color: $buffer--border-green-800 !important;
}

.buffer--border-green-900 {
  border-color: $buffer--border-green-900 !important;
}

.buffer--border-teal-100 {
  border-color: $buffer--border-teal-100 !important;
}

.buffer--border-teal-200 {
  border-color: $buffer--border-teal-200 !important;
}

.buffer--border-teal-300 {
  border-color: $buffer--border-teal-300 !important;
}

.buffer--border-teal-400 {
  border-color: $buffer--border-teal-400 !important;
}

.buffer--border-teal-500 {
  border-color: $buffer--border-teal-500 !important;
}

.buffer--border-teal-600 {
  border-color: $buffer--border-teal-600 !important;
}

.buffer--border-teal-700 {
  border-color: $buffer--border-teal-700 !important;
}

.buffer--border-teal-800 {
  border-color: $buffer--border-teal-800 !important;
}

.buffer--border-teal-900 {
  border-color: $buffer--border-teal-900 !important;
}

.buffer--border-blue-100 {
  border-color: $buffer--border-blue-100 !important;
}

.buffer--border-blue-200 {
  border-color: $buffer--border-blue-200 !important;
}

.buffer--border-blue-300 {
  border-color: $buffer--border-blue-300 !important;
}

.buffer--border-blue-400 {
  border-color: $buffer--border-blue-400 !important;
}

.buffer--border-blue-500 {
  border-color: $buffer--border-blue-500 !important;
}

.buffer--border-blue-600 {
  border-color: $buffer--border-blue-600 !important;
}

.buffer--border-blue-700 {
  border-color: $buffer--border-blue-700 !important;
}

.buffer--border-blue-800 {
  border-color: $buffer--border-blue-800 !important;
}

.buffer--border-blue-900 {
  border-color: $buffer--border-blue-900 !important;
}

.buffer--border-indigo-100 {
  border-color: $buffer--border-indigo-100 !important;
}

.buffer--border-indigo-200 {
  border-color: $buffer--border-indigo-200 !important;
}

.buffer--border-indigo-300 {
  border-color: $buffer--border-indigo-300 !important;
}

.buffer--border-indigo-400 {
  border-color: $buffer--border-indigo-400 !important;
}

.buffer--border-indigo-500 {
  border-color: $buffer--border-indigo-500 !important;
}

.buffer--border-indigo-600 {
  border-color: $buffer--border-indigo-600 !important;
}

.buffer--border-indigo-700 {
  border-color: $buffer--border-indigo-700 !important;
}

.buffer--border-indigo-800 {
  border-color: $buffer--border-indigo-800 !important;
}

.buffer--border-indigo-900 {
  border-color: $buffer--border-indigo-900 !important;
}

.buffer--border-purple-100 {
  border-color: $buffer--border-purple-100 !important;
}

.buffer--border-purple-200 {
  border-color: $buffer--border-purple-200 !important;
}

.buffer--border-purple-300 {
  border-color: $buffer--border-purple-300 !important;
}

.buffer--border-purple-400 {
  border-color: $buffer--border-purple-400 !important;
}

.buffer--border-purple-500 {
  border-color: $buffer--border-purple-500 !important;
}

.buffer--border-purple-600 {
  border-color: $buffer--border-purple-600 !important;
}

.buffer--border-purple-700 {
  border-color: $buffer--border-purple-700 !important;
}

.buffer--border-purple-800 {
  border-color: $buffer--border-purple-800 !important;
}

.buffer--border-purple-900 {
  border-color: $buffer--border-purple-900 !important;
}

.buffer--border-pink-100 {
  border-color: $buffer--border-pink-100 !important;
}

.buffer--border-pink-200 {
  border-color: $buffer--border-pink-200 !important;
}

.buffer--border-pink-300 {
  border-color: $buffer--border-pink-300 !important;
}

.buffer--border-pink-400 {
  border-color: $buffer--border-pink-400 !important;
}

.buffer--border-pink-500 {
  border-color: $buffer--border-pink-500 !important;
}

.buffer--border-pink-600 {
  border-color: $buffer--border-pink-600 !important;
}

.buffer--border-pink-700 {
  border-color: $buffer--border-pink-700 !important;
}

.buffer--border-pink-800 {
  border-color: $buffer--border-pink-800 !important;
}

.buffer--border-pink-900 {
  border-color: $buffer--border-pink-900 !important;
}

/*
    * BORDER STYLE
*/

.buffer--border-style-solid {
  border-style: $buffer--border-style-solid !important;
}

.buffer--border-style-dashed {
  border-style: $buffer--border-style-dashed !important;
}

.buffer--border-style-dotted {
  border-style: $buffer--border-style-dotted !important;
}

.buffer--border-style-none {
  border-style: $buffer--border-style-none !important;
}

/*
    * BORDER RADIUS
*/

.buffer--border-radius-none {
  border-radius: $buffer--border-radius-none !important;
}

.buffer--border-radius-sm {
  border-radius: $buffer--border-radius-sm !important;
}

.buffer--border-radius {
  border-radius: $buffer--border-radius !important;
}

.buffer--border-radius-lg {
  border-radius: $buffer--border-radius-lg !important;
}

.buffer--border-radius-full {
  border-radius: $buffer--border-radius-full !important;
}

.buffer--border-radius-top-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.buffer--border-radius-right-none {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.buffer--border-radius-bottom-none {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.buffer--border-radius-left-none {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.buffer--border-radius-top-sm {
  border-top-left-radius: 0.125rem !important;
  border-top-right-radius: 0.125rem !important;
}

.buffer--border-radius-right-sm {
  border-top-right-radius: 0.125rem !important;
  border-bottom-right-radius: 0.125rem !important;
}

.buffer--border-radius-bottom-sm {
  border-bottom-right-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.buffer--border-radius-left-sm {
  border-top-left-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.buffer--border-radius-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.buffer--border-radius-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.buffer--border-radius-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.buffer--border-radius-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.buffer--border-radius-top-lg {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.buffer--border-radius-right-lg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.buffer--border-radius-bottom-lg {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.buffer--border-radius-left-lg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.buffer--border-radius-top-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
}

.buffer--border-radius-right-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}

.buffer--border-radius-bottom-full {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.buffer--border-radius-left-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.buffer--border-radius-top-left-none {
  border-top-left-radius: 0 !important;
}

.buffer--border-radius-top-right-none {
  border-top-right-radius: 0 !important;
}

.buffer--border-radius-bottom-right-none {
  border-bottom-right-radius: 0 !important;
}

.buffer--border-radius-bottom-left-none {
  border-bottom-left-radius: 0 !important;
}

.buffer--border-radius-top-left-sm {
  border-top-left-radius: 0.125rem !important;
}

.buffer--border-radius-top-right-sm {
  border-top-right-radius: 0.125rem !important;
}

.buffer--border-radius-bottom-right-sm {
  border-bottom-right-radius: 0.125rem !important;
}

.buffer--border-radius-bottom-left-sm {
  border-bottom-left-radius: 0.125rem !important;
}

.buffer--border-radius-top-left {
  border-top-left-radius: 0.25rem !important;
}

.buffer--border-radius-top-right {
  border-top-right-radius: 0.25rem !important;
}

.buffer--border-radius-bottom-right {
  border-bottom-right-radius: 0.25rem !important;
}

.buffer--border-radius-bottom-left {
  border-bottom-left-radius: 0.25rem !important;
}

.buffer--border-radius-top-left-lg {
  border-top-left-radius: 0.5rem !important;
}

.buffer--border-radius-top-right-lg {
  border-top-right-radius: 0.5rem !important;
}

.buffer--border-radius-bottom-right-lg {
  border-bottom-right-radius: 0.5rem !important;
}

.buffer--border-radius-bottom-left-lg {
  border-bottom-left-radius: 0.5rem !important;
}

.buffer--border-radius-top-left-full {
  border-top-left-radius: 9999px !important;
}

.buffer--border-radius-top-right-full {
  border-top-right-radius: 9999px !important;
}

.buffer--border-radius-bottom-right-full {
  border-bottom-right-radius: 9999px !important;
}

.buffer--border-radius-bottom-left-full {
  border-bottom-left-radius: 9999px !important;
}

.buffer--border-transparent {
  border-color: $buffer--border-transparent !important;
}

.buffer--border-black {
  border-color: $buffer--border-black !important;
}

.buffer--border-white {
  border-color: $buffer--border-white !important;
}

.buffer--border-gray-100 {
  border-color: $buffer--border-gray-100 !important;
}

.buffer--border-gray-200 {
  border-color: $buffer--border-gray-200 !important;
}

.buffer--border-gray-300 {
  border-color: $buffer--border-gray-300 !important;
}

.buffer--border-gray-400 {
  border-color: $buffer--border-gray-400 !important;
}

.buffer--border-gray-500 {
  border-color: $buffer--border-gray-500 !important;
}

.buffer--border-gray-600 {
  border-color: $buffer--border-gray-600 !important;
}

.buffer--border-gray-700 {
  border-color: $buffer--border-gray-700 !important;
}

.buffer--border-gray-800 {
  border-color: $buffer--border-gray-800 !important;
}

.buffer--border-gray-900 {
  border-color: $buffer--border-gray-900 !important;
}

.buffer--border-red-100 {
  border-color: $buffer--border-red-100 !important;
}

.buffer--border-red-200 {
  border-color: $buffer--border-red-200 !important;
}

.buffer--border-red-300 {
  border-color: $buffer--border-red-300 !important;
}

.buffer--border-red-400 {
  border-color: $buffer--border-red-400 !important;
}

.buffer--border-red-500 {
  border-color: $buffer--border-red-500 !important;
}

.buffer--border-red-600 {
  border-color: $buffer--border-red-600 !important;
}

.buffer--border-red-700 {
  border-color: $buffer--border-red-700 !important;
}

.buffer--border-red-800 {
  border-color: $buffer--border-red-800 !important;
}

.buffer--border-red-900 {
  border-color: $buffer--border-red-900 !important;
}

.buffer--border-orange-100 {
  border-color: $buffer--border-orange-100 !important;
}

.buffer--border-orange-200 {
  border-color: $buffer--border-orange-200 !important;
}

.buffer--border-orange-300 {
  border-color: $buffer--border-orange-300 !important;
}

.buffer--border-orange-400 {
  border-color: $buffer--border-orange-400 !important;
}

.buffer--border-orange-500 {
  border-color: $buffer--border-orange-500 !important;
}

.buffer--border-orange-600 {
  border-color: $buffer--border-orange-600 !important;
}

.buffer--border-orange-700 {
  border-color: $buffer--border-orange-700 !important;
}

.buffer--border-orange-800 {
  border-color: $buffer--border-orange-800 !important;
}

.buffer--border-orange-900 {
  border-color: $buffer--border-orange-900 !important;
}

.buffer--border-yellow-100 {
  border-color: $buffer--border-yellow-100 !important;
}

.buffer--border-yellow-200 {
  border-color: $buffer--border-yellow-200 !important;
}

.buffer--border-yellow-300 {
  border-color: $buffer--border-yellow-300 !important;
}

.buffer--border-yellow-400 {
  border-color: $buffer--border-yellow-400 !important;
}

.buffer--border-yellow-500 {
  border-color: $buffer--border-yellow-500 !important;
}

.buffer--border-yellow-600 {
  border-color: $buffer--border-yellow-600 !important;
}

.buffer--border-yellow-700 {
  border-color: $buffer--border-yellow-700 !important;
}

.buffer--border-yellow-800 {
  border-color: $buffer--border-yellow-800 !important;
}

.buffer--border-yellow-900 {
  border-color: $buffer--border-yellow-900 !important;
}

.buffer--border-green-100 {
  border-color: $buffer--border-green-100 !important;
}

.buffer--border-green-200 {
  border-color: $buffer--border-green-200 !important;
}

.buffer--border-green-300 {
  border-color: $buffer--border-green-300 !important;
}

.buffer--border-green-400 {
  border-color: $buffer--border-green-400 !important;
}

.buffer--border-green-500 {
  border-color: $buffer--border-green-500 !important;
}

.buffer--border-green-600 {
  border-color: $buffer--border-green-600 !important;
}

.buffer--border-green-700 {
  border-color: $buffer--border-green-700 !important;
}

.buffer--border-green-800 {
  border-color: $buffer--border-green-800 !important;
}

.buffer--border-green-900 {
  border-color: $buffer--border-green-900 !important;
}

.buffer--border-teal-100 {
  border-color: $buffer--border-teal-100 !important;
}

.buffer--border-teal-200 {
  border-color: $buffer--border-teal-200 !important;
}

.buffer--border-teal-300 {
  border-color: $buffer--border-teal-300 !important;
}

.buffer--border-teal-400 {
  border-color: $buffer--border-teal-400 !important;
}

.buffer--border-teal-500 {
  border-color: $buffer--border-teal-500 !important;
}

.buffer--border-teal-600 {
  border-color: $buffer--border-teal-600 !important;
}

.buffer--border-teal-700 {
  border-color: $buffer--border-teal-700 !important;
}

.buffer--border-teal-800 {
  border-color: $buffer--border-teal-800 !important;
}

.buffer--border-teal-900 {
  border-color: $buffer--border-teal-900 !important;
}

.buffer--border-blue-100 {
  border-color: $buffer--border-blue-100 !important;
}

.buffer--border-blue-200 {
  border-color: $buffer--border-blue-200 !important;
}

.buffer--border-blue-300 {
  border-color: $buffer--border-blue-300 !important;
}

.buffer--border-blue-400 {
  border-color: $buffer--border-blue-400 !important;
}

.buffer--border-blue-500 {
  border-color: $buffer--border-blue-500 !important;
}

.buffer--border-blue-600 {
  border-color: $buffer--border-blue-600 !important;
}

.buffer--border-blue-700 {
  border-color: $buffer--border-blue-700 !important;
}

.buffer--border-blue-800 {
  border-color: $buffer--border-blue-800 !important;
}

.buffer--border-blue-900 {
  border-color: $buffer--border-blue-900 !important;
}

.buffer--border-indigo-100 {
  border-color: $buffer--border-indigo-100 !important;
}

.buffer--border-indigo-200 {
  border-color: $buffer--border-indigo-200 !important;
}

.buffer--border-indigo-300 {
  border-color: $buffer--border-indigo-300 !important;
}

.buffer--border-indigo-400 {
  border-color: $buffer--border-indigo-400 !important;
}

.buffer--border-indigo-500 {
  border-color: $buffer--border-indigo-500 !important;
}

.buffer--border-indigo-600 {
  border-color: $buffer--border-indigo-600 !important;
}

.buffer--border-indigo-700 {
  border-color: $buffer--border-indigo-700 !important;
}

.buffer--border-indigo-800 {
  border-color: $buffer--border-indigo-800 !important;
}

.buffer--border-indigo-900 {
  border-color: $buffer--border-indigo-900 !important;
}

.buffer--border-purple-100 {
  border-color: $buffer--border-purple-100 !important;
}

.buffer--border-purple-200 {
  border-color: $buffer--border-purple-200 !important;
}

.buffer--border-purple-300 {
  border-color: $buffer--border-purple-300 !important;
}

.buffer--border-purple-400 {
  border-color: $buffer--border-purple-400 !important;
}

.buffer--border-purple-500 {
  border-color: $buffer--border-purple-500 !important;
}

.buffer--border-purple-600 {
  border-color: $buffer--border-purple-600 !important;
}

.buffer--border-purple-700 {
  border-color: $buffer--border-purple-700 !important;
}

.buffer--border-purple-800 {
  border-color: $buffer--border-purple-800 !important;
}

.buffer--border-purple-900 {
  border-color: $buffer--border-purple-900 !important;
}

.buffer--border-pink-100 {
  border-color: $buffer--border-pink-100 !important;
}

.buffer--border-pink-200 {
  border-color: $buffer--border-pink-200 !important;
}

.buffer--border-pink-300 {
  border-color: $buffer--border-pink-300 !important;
}

.buffer--border-pink-400 {
  border-color: $buffer--border-pink-400 !important;
}

.buffer--border-pink-500 {
  border-color: $buffer--border-pink-500 !important;
}

.buffer--border-pink-600 {
  border-color: $buffer--border-pink-600 !important;
}

.buffer--border-pink-700 {
  border-color: $buffer--border-pink-700 !important;
}

.buffer--border-pink-800 {
  border-color: $buffer--border-pink-800 !important;
}

.buffer--border-pink-900 {
  border-color: $buffer--border-pink-900 !important;
}

/*
    * BORDER WIDTH
*/
.buffer--border-width {
  border-width: $buffer--border-width !important;
}

.buffer--border-width-0 {
  border-width: $buffer--border-width-0 !important;
}

.buffer--border-width-2 {
  border-width: $buffer--border-width-2 !important;
}

.buffer--border-width-4 {
  border-width: $buffer--border-width-4 !important;
}

.buffer--border-width-8 {
  border-width: $buffer--border-width-8 !important;
}

.buffer--border-top-width {
  border-top-width: $buffer--border-top-width !important;
}

.buffer--border-right-width {
  border-top-width: $buffer--border-right-width !important;
}

.buffer--border-bottom-width {
  border-top-width: $buffer--border-bottom-width !important;
}

.buffer--border-left-width {
  border-top-width: $buffer--border-left-width !important;
}

.buffer--border-top-width-0 {
  border-top-width: $buffer--border-top-width-0 !important;
}

.buffer--border-right-width-0 {
  border-top-width: $buffer--border-right-width-0 !important;
}

.buffer--border-bottom-width-0 {
  border-top-width: $buffer--border-bottom-width-0 !important;
}

.buffer--border-left-width-0 {
  border-top-width: $buffer--border-left-width-0 !important;
}

.buffer--border-top-width-2 {
  border-top-width: $buffer--border-top-width-2 !important;
}

.buffer--border-right-width-2 {
  border-top-width: $buffer--border-right-width-2 !important;
}

.buffer--border-bottom-width-2 {
  border-top-width: $buffer--border-bottom-width-2 !important;
}

.buffer--border-left-width-2 {
  border-top-width: $buffer--border-left-width-2 !important;
}

.buffer--border-top-width-4 {
  border-top-width: $buffer--border-top-width-4 !important;
}

.buffer--border-right-width-4 {
  border-top-width: $buffer--border-right-width-4 !important;
}

.buffer--border-bottom-width-4 {
  border-top-width: $buffer--border-bottom-width-4 !important;
}

.buffer--border-left-width-4 {
  border-top-width: $buffer--border-left-width-4 !important;
}

.buffer--border-top-width-8 {
  border-top-width: $buffer--border-top-width-8 !important;
}

.buffer--border-right-width-8 {
  border-top-width: $buffer--border-right-width-8 !important;
}

.buffer--border-bottom-width-8 {
  border-top-width: $buffer--border-bottom-width-8 !important;
}

.buffer--border-left-width-8 {
  border-top-width: $buffer--border-left-width-8 !important;
}

/* ************************************* BORDER ENDS ************************************* */
/* ************************************* BORDER ENDS ************************************* */
