/* ************************************* EFFECTS STARTS ************************************* */
/* ************************************* EFFECTS STARTS ************************************* */

/*
    * BOX SHADOW
*/
.buffer--box-shadow {
  box-shadow: $buffer--box-shadow;
}

.buffer--box-shadow-md {
  box-shadow: $buffer--box-shadow-md;
}

.buffer--box-shadow-lg {
  box-shadow: $buffer--box-shadow-lg;
}

.buffer--box-shadow-xl {
  box-shadow: $buffer--box-shadow-xl;
}

.buffer--box-shadow-2xl {
  box-shadow: $buffer--box-shadow-2xl;
}

.buffer--box-shadow-inner {
  box-shadow: $buffer--box-shadow-inner;
}

.buffer--box-shadow-outline {
  box-shadow: $buffer--box-shadow-outline;
}

.buffer--box-shadow-none {
  box-shadow: $buffer--box-shadow-none;
}

/*
    * OPACITY
*/
.buffer--opacity-100 {
  opacity: $buffer--opacity-100;
}

.buffer--opacity-75 {
  opacity: $buffer--opacity-75;
}

.buffer--opacity-50 {
  opacity: $buffer--opacity-50;
}

.buffer--opacity-25 {
  opacity: $buffer--opacity-25;
}

.buffer--opacity-0 {
  opacity: $buffer--opacity-0;
}

/* ************************************* EFFECTS ENDS ************************************* */
/* ************************************* EFFECTS ENDS ************************************* */
