/* ************************************* LAYOUT STARTS ************************************* */
/* ************************************* LAYOUT STARTS ************************************* */

/*
    * DISPLAY
*/
.buffer--display-block {
  display: $buffer--display-block !important;
}

.buffer--display-inline-block {
  display: $buffer--display-inline-block !important;
}

.buffer--display-inline {
  display: $buffer--display-inline !important;
}

.buffer--display-flex {
  display: $buffer--display-flex !important;
}

.buffer--display-inline-flex {
  display: $buffer--display-inline-flex !important;
}

.buffer--display-table {
  display: $buffer--display-table !important;
}

.buffer--display-table-row {
  display: $buffer--display-table-row !important;
}

.buffer--display-table-cell {
  display: $buffer--display-table-cell !important;
}

.buffer--display-hidden {
  display: $buffer--display-hidden !important;
}

/*
    * FLOAT
*/
.buffer--float-right {
  float: $buffer--float-right !important;
}

.buffer--float-left {
  float: $buffer--float-left !important;
}

.buffer--float-none {
  float: $buffer--float-none !important;
}

/*
    * ITEM ALIGNMENT
*/
.buffer--align-items-center {
  align-items: $buffer--align-items-center !important;
}

/*
    * JUSTIFY CONTENT
*/
.buffer--flex-justify-content-start {
  justify-content: $buffer--flex-justify-content-start !important;
}

.buffer--flex-justify-content-end {
  justify-content: $buffer--flex-justify-content-end !important;
}

.buffer--flex-justify-content-space-between {
  justify-content: $buffer--flex-justify-content-space-between !important;
}

/*
    * OBJECT FIT
*/
.buffer--object-contain {
  object-fit: $buffer--object-contain !important;
}

.buffer--object-cover {
  object-fit: $buffer--object-cover !important;
}

.buffer--object-fill {
  object-fit: $buffer--object-fill !important;
}

.buffer--object-none {
  object-fit: $buffer--object-none !important;
}

.buffer--object-scale-down {
  object-fit: $buffer--object-scale-down !important;
}

/*
    * OBJECT POSITION
*/
.buffer--object-bottom {
  object-position: $buffer--object-bottom !important;
}

.buffer--object-center {
  object-position: $buffer--object-center !important;
}

.buffer--object-left {
  object-position: $buffer--object-left !important;
}

.buffer--object-left-bottom {
  object-position: $buffer--object-left-bottom !important;
}

.buffer--object-left-top {
  object-position: $buffer--object-left-top !important;
}

.buffer--object-right {
  object-position: $buffer--object-right !important;
}

.buffer--object-right-bottom {
  object-position: $buffer--object-right-bottom !important;
}

.buffer--object-right-top {
  object-position: $buffer--object-right-top !important;
}

.buffer--object-top {
  object-position: $buffer--object-top !important;
}

/*
    * OVERFLOW
*/
.buffer--overflow-auto {
  overflow: $buffer--overflow-auto !important;
}

.buffer--overflow-hidden {
  overflow: $buffer--overflow-hidden !important;
}

.buffer--overflow-visible {
  overflow: $buffer--overflow-visible !important;
}

.buffer--overflow-scroll {
  overflow: $buffer--overflow-scroll !important;
}

.buffer--overflow-x-auto {
  overflow-x: $buffer--overflow-x-auto !important;
}

.buffer--overflow-x-hidden {
  overflow-x: $buffer--overflow-x-hidden !important;
}

.buffer--overflow-x-visible {
  overflow-x: $buffer--overflow-x-visible !important;
}

.buffer--overflow-x-scroll {
  overflow-x: $buffer--overflow-x-scroll !important;
}

.buffer--overflow-y-auto {
  overflow-y: $buffer--overflow-y-auto !important;
}

.buffer--overflow-y-hidden {
  overflow-y: $buffer--overflow-y-hidden !important;
}

.buffer--overflow-y-visible {
  overflow-y: $buffer--overflow-y-visible !important;
}

.buffer--overflow-y-scroll {
  overflow-y: $buffer--overflow-y-scroll !important;
}

/*
    * POSITION
*/
.buffer--position-static {
  position: $buffer--position-static !important;
}

.buffer--position-fixed {
  position: $buffer--position-fixed !important;
}

.buffer--position-absolute {
  position: $buffer--position-absolute !important;
}

.buffer--position-relative {
  position: $buffer--position-relative !important;
}

.buffer--position-sticky {
  position: $buffer--position-sticky !important;
}

/*
    * Z-INDEX
*/
.buffer--z-index-0 {
  z-index: $buffer--z-index-0 !important;
}

.buffer--z-index-10 {
  z-index: $buffer--z-index-10 !important;
}

.buffer--z-index-20 {
  z-index: $buffer--z-index-20 !important;
}

.buffer--z-index-30 {
  z-index: $buffer--z-index-30 !important;
}

.buffer--z-index-40 {
  z-index: $buffer--z-index-40 !important;
}

.buffer--z-index-50 {
  z-index: $buffer--z-index-50 !important;
}

.buffer--z-index-auto {
  z-index: $buffer--z-index-auto !important;
}

/* ************************************* LAYOUT ENDS ************************************* */
/* ************************************* LAYOUT ENDS ************************************* */
