.buffer--margin-0 {
  margin: 0 !important;
}

.buffer--margin-1 {
  margin: 0.25rem !important;
}

.buffer--margin-2 {
  margin: 0.5rem !important;
}

.buffer--margin-3 {
  margin: 0.75rem !important;
}

.buffer--margin-4 {
  margin: 1rem !important;
}

.buffer--margin-5 {
  margin: 1.25rem !important;
}

.buffer--margin-6 {
  margin: 1.5rem !important;
}

.buffer--margin-8 {
  margin: 2rem !important;
}

.buffer--margin-10 {
  margin: 2.5rem !important;
}

.buffer--margin-12 {
  margin: 3rem !important;
}

.buffer--margin-16 {
  margin: 4rem !important;
}

.buffer--margin-20 {
  margin: 5rem !important;
}

.buffer--margin-24 {
  margin: 6rem !important;
}

.buffer--margin-32 {
  margin: 8rem !important;
}

.buffer--margin-40 {
  margin: 10rem !important;
}

.buffer--margin-48 {
  margin: 12rem !important;
}

.buffer--margin-56 {
  margin: 14rem !important;
}

.buffer--margin-64 {
  margin: 16rem !important;
}

.buffer--margin-auto {
  margin: auto !important;
}

.buffer--margin-px {
  margin: 1px !important;
}

.buffer--margin-minus-1 {
  margin: -0.25rem !important;
}

.buffer--margin-minus-2 {
  margin: -0.5rem !important;
}

.buffer--margin-minus-3 {
  margin: -0.75rem !important;
}

.buffer--margin-minus-4 {
  margin: -1rem !important;
}

.buffer--margin-minus-5 {
  margin: -1.25rem !important;
}

.buffer--margin-minus-6 {
  margin: -1.5rem !important;
}

.buffer--margin-minus-8 {
  margin: -2rem !important;
}

.buffer--margin-minus-10 {
  margin: -2.5rem !important;
}

.buffer--margin-minus-12 {
  margin: -3rem !important;
}

.buffer--margin-minus-16 {
  margin: -4rem !important;
}

.buffer--margin-minus-20 {
  margin: -5rem !important;
}

.buffer--margin-minus-24 {
  margin: -6rem !important;
}

.buffer--margin-minus-32 {
  margin: -8rem !important;
}

.buffer--margin-minus-40 {
  margin: -10rem !important;
}

.buffer--margin-minus-48 {
  margin: -12rem !important;
}

.buffer--margin-minus-56 {
  margin: -14rem !important;
}

.buffer--margin-minus-64 {
  margin: -16rem !important;
}

.buffer--margin-minus-px {
  margin: -1px !important;
}

.buffer--margin-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.buffer--margin-y-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.buffer--margin-y-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.buffer--margin-y-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.buffer--margin-y-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.buffer--margin-y-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.buffer--margin-y-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.buffer--margin-y-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.buffer--margin-y-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.buffer--margin-y-12 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.buffer--margin-y-16 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.buffer--margin-y-20 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.buffer--margin-y-24 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.buffer--margin-y-32 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.buffer--margin-y-40 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.buffer--margin-y-48 {
  margin-top: 12rem !important;
  margin-bottom: 12rem !important;
}

.buffer--margin-y-56 {
  margin-top: 14rem !important;
  margin-bottom: 14rem !important;
}

.buffer--margin-y-64 {
  margin-top: 16rem !important;
  margin-bottom: 16rem !important;
}

.buffer--margin-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.buffer--margin-y-px {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.buffer--margin-minus-y-1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.buffer--margin-minus-y-2 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important;
}

.buffer--margin-minus-y-3 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important;
}

.buffer--margin-minus-y-4 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important;
}

.buffer--margin-minus-y-5 {
  margin-top: -1.25rem !important;
  margin-bottom: -1.25rem !important;
}

.buffer--margin-minus-y-6 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important;
}

.buffer--margin-minus-y-8 {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important;
}

.buffer--margin-minus-y-10 {
  margin-top: -2.5rem !important;
  margin-bottom: -2.5rem !important;
}

.buffer--margin-minus-y-12 {
  margin-top: -3rem !important;
  margin-bottom: -3rem !important;
}

.buffer--margin-minus-y-16 {
  margin-top: -4rem !important;
  margin-bottom: -4rem !important;
}

.buffer--margin-minus-y-20 {
  margin-top: -5rem !important;
  margin-bottom: -5rem !important;
}

.buffer--margin-minus-y-24 {
  margin-top: -6rem !important;
  margin-bottom: -6rem !important;
}

.buffer--margin-minus-y-32 {
  margin-top: -8rem !important;
  margin-bottom: -8rem !important;
}

.buffer--margin-minus-y-40 {
  margin-top: -10rem !important;
  margin-bottom: -10rem !important;
}

.buffer--margin-minus-y-48 {
  margin-top: -12rem !important;
  margin-bottom: -12rem !important;
}

.buffer--margin-minus-y-56 {
  margin-top: -14rem !important;
  margin-bottom: -14rem !important;
}

.buffer--margin-minus-y-64 {
  margin-top: -16rem !important;
  margin-bottom: -16rem !important;
}

.buffer--margin-minus-y-px {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
}

.buffer--margin-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.buffer--margin-x-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.buffer--margin-x-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.buffer--margin-x-3 {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
}

.buffer--margin-x-4 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.buffer--margin-x-5 {
  margin-right: 1.25rem !important;
  margin-left: 1.25rem !important;
}

.buffer--margin-x-6 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.buffer--margin-x-8 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.buffer--margin-x-10 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
}

.buffer--margin-x-12 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.buffer--margin-x-16 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.buffer--margin-x-20 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.buffer--margin-x-24 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

.buffer--margin-x-32 {
  margin-right: 8rem !important;
  margin-left: 8rem !important;
}

.buffer--margin-x-40 {
  margin-right: 10rem !important;
  margin-left: 10rem !important;
}

.buffer--margin-x-48 {
  margin-right: 12rem !important;
  margin-left: 12rem !important;
}

.buffer--margin-x-56 {
  margin-right: 14rem !important;
  margin-left: 14rem !important;
}

.buffer--margin-x-64 {
  margin-right: 16rem !important;
  margin-left: 16rem !important;
}

.buffer--margin-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.buffer--margin-x-px {
  margin-right: 1px !important;
  margin-left: 1px !important;
}

.buffer--margin-minusx-1 {
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.buffer--margin-minusx-2 {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

.buffer--margin-minusx-3 {
  margin-right: -0.75rem !important;
  margin-left: -0.75rem !important;
}

.buffer--margin-minusx-4 {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.buffer--margin-minusx-5 {
  margin-right: -1.25rem !important;
  margin-left: -1.25rem !important;
}

.buffer--margin-minusx-6 {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}

.buffer--margin-minusx-8 {
  margin-right: -2rem !important;
  margin-left: -2rem !important;
}

.buffer--margin-minusx-10 {
  margin-right: -2.5rem !important;
  margin-left: -2.5rem !important;
}

.buffer--margin-minusx-12 {
  margin-right: -3rem !important;
  margin-left: -3rem !important;
}

.buffer--margin-minusx-16 {
  margin-right: -4rem !important;
  margin-left: -4rem !important;
}

.buffer--margin-minusx-20 {
  margin-right: -5rem !important;
  margin-left: -5rem !important;
}

.buffer--margin-minusx-24 {
  margin-right: -6rem !important;
  margin-left: -6rem !important;
}

.buffer--margin-minusx-32 {
  margin-right: -8rem !important;
  margin-left: -8rem !important;
}

.buffer--margin-minusx-40 {
  margin-right: -10rem !important;
  margin-left: -10rem !important;
}

.buffer--margin-minusx-48 {
  margin-right: -12rem !important;
  margin-left: -12rem !important;
}

.buffer--margin-minusx-56 {
  margin-right: -14rem !important;
  margin-left: -14rem !important;
}

.buffer--margin-minusx-64 {
  margin-right: -16rem !important;
  margin-left: -16rem !important;
}

.buffer--margin-minusx-px {
  margin-right: -1px !important;
  margin-left: -1px !important;
}

.buffer--margin-top-0 {
  margin-top: 0 !important;
}

.buffer--margin-top-1 {
  margin-top: 0.25rem !important;
}

.buffer--margin-top-2 {
  margin-top: 0.5rem !important;
}

.buffer--margin-top-3 {
  margin-top: 0.75rem !important;
}

.buffer--margin-top-4 {
  margin-top: 1rem !important;
}

.buffer--margin-top-5 {
  margin-top: 1.25rem !important;
}

.buffer--margin-top-6 {
  margin-top: 1.5rem !important;
}

.buffer--margin-top-8 {
  margin-top: 2rem !important;
}

.buffer--margin-top-10 {
  margin-top: 2.5rem !important;
}

.buffer--margin-top-12 {
  margin-top: 3rem !important;
}

.buffer--margin-top-16 {
  margin-top: 4rem !important;
}

.buffer--margin-top-20 {
  margin-top: 5rem !important;
}

.buffer--margin-top-24 {
  margin-top: 6rem !important;
}

.buffer--margin-top-32 {
  margin-top: 8rem !important;
}

.buffer--margin-top-40 {
  margin-top: 10rem !important;
}

.buffer--margin-top-48 {
  margin-top: 12rem !important;
}

.buffer--margin-top-56 {
  margin-top: 14rem !important;
}

.buffer--margin-top-64 {
  margin-top: 16rem !important;
}

.buffer--margin-top-auto {
  margin-top: auto !important;
}

.buffer--margin-top-px {
  margin-top: 1px !important;
}

.buffer--margin-minus-top-1 {
  margin-top: -0.25rem !important;
}

.buffer--margin-minus-top-2 {
  margin-top: -0.5rem !important;
}

.buffer--margin-minus-top-3 {
  margin-top: -0.75rem !important;
}

.buffer--margin-minus-top-4 {
  margin-top: -1rem !important;
}

.buffer--margin-minus-top-5 {
  margin-top: -1.25rem !important;
}

.buffer--margin-minus-top-6 {
  margin-top: -1.5rem !important;
}

.buffer--margin-minus-top-8 {
  margin-top: -2rem !important;
}

.buffer--margin-minus-top-10 {
  margin-top: -2.5rem !important;
}

.buffer--margin-minus-top-12 {
  margin-top: -3rem !important;
}

.buffer--margin-minus-top-16 {
  margin-top: -4rem !important;
}

.buffer--margin-minus-top-20 {
  margin-top: -5rem !important;
}

.buffer--margin-minus-top-24 {
  margin-top: -6rem !important;
}

.buffer--margin-minus-top-32 {
  margin-top: -8rem !important;
}

.buffer--margin-minus-top-40 {
  margin-top: -10rem !important;
}

.buffer--margin-minus-top-48 {
  margin-top: -12rem !important;
}

.buffer--margin-minus-top-56 {
  margin-top: -14rem !important;
}

.buffer--margin-minus-top-64 {
  margin-top: -16rem !important;
}

.buffer--margin-minus-top-px {
  margin-top: -1px !important;
}

.buffer--margin-right-0 {
  margin-right: 0 !important;
}

.buffer--margin-right-1 {
  margin-right: 0.25rem !important;
}

.buffer--margin-right-2 {
  margin-right: 0.5rem !important;
}

.buffer--margin-right-3 {
  margin-right: 0.75rem !important;
}

.buffer--margin-right-4 {
  margin-right: 1rem !important;
}

.buffer--margin-right-5 {
  margin-right: 1.25rem !important;
}

.buffer--margin-right-6 {
  margin-right: 1.5rem !important;
}

.buffer--margin-right-8 {
  margin-right: 2rem !important;
}

.buffer--margin-right-10 {
  margin-right: 2.5rem !important;
}

.buffer--margin-right-12 {
  margin-right: 3rem !important;
}

.buffer--margin-right-16 {
  margin-right: 4rem !important;
}

.buffer--margin-right-20 {
  margin-right: 5rem !important;
}

.buffer--margin-right-24 {
  margin-right: 6rem !important;
}

.buffer--margin-right-32 {
  margin-right: 8rem !important;
}

.buffer--margin-right-40 {
  margin-right: 10rem !important;
}

.buffer--margin-right-48 {
  margin-right: 12rem !important;
}

.buffer--margin-right-56 {
  margin-right: 14rem !important;
}

.buffer--margin-right-64 {
  margin-right: 16rem !important;
}

.buffer--margin-right-auto {
  margin-right: auto !important;
}

.buffer--margin-right-px {
  margin-right: 1px !important;
}

.buffer--margin-minus-right-1 {
  margin-right: -0.25rem !important;
}

.buffer--margin-minus-right-2 {
  margin-right: -0.5rem !important;
}

.buffer--margin-minus-right-3 {
  margin-right: -0.75rem !important;
}

.buffer--margin-minus-right-4 {
  margin-right: -1rem !important;
}

.buffer--margin-minus-right-5 {
  margin-right: -1.25rem !important;
}

.buffer--margin-minus-right-6 {
  margin-right: -1.5rem !important;
}

.buffer--margin-minus-right-8 {
  margin-right: -2rem !important;
}

.buffer--margin-minus-right-10 {
  margin-right: -2.5rem !important;
}

.buffer--margin-minus-right-12 {
  margin-right: -3rem !important;
}

.buffer--margin-minus-right-16 {
  margin-right: -4rem !important;
}

.buffer--margin-minus-right-20 {
  margin-right: -5rem !important;
}

.buffer--margin-minus-right-24 {
  margin-right: -6rem !important;
}

.buffer--margin-minus-right-32 {
  margin-right: -8rem !important;
}

.buffer--margin-minus-right-40 {
  margin-right: -10rem !important;
}

.buffer--margin-minus-right-48 {
  margin-right: -12rem !important;
}

.buffer--margin-minus-right-56 {
  margin-right: -14rem !important;
}

.buffer--margin-minus-right-64 {
  margin-right: -16rem !important;
}

.buffer--margin-minus-right-px {
  margin-right: -1px !important;
}

.buffer--margin-bottom-0 {
  margin-bottom: 0 !important;
}

.buffer--margin-bottom-1 {
  margin-bottom: 0.25rem !important;
}

.buffer--margin-bottom-2 {
  margin-bottom: 0.5rem !important;
}

.buffer--margin-bottom-3 {
  margin-bottom: 0.75rem !important;
}

.buffer--margin-bottom-4 {
  margin-bottom: 1rem !important;
}

.buffer--margin-bottom-5 {
  margin-bottom: 1.25rem !important;
}

.buffer--margin-bottom-6 {
  margin-bottom: 1.5rem !important;
}

.buffer--margin-bottom-8 {
  margin-bottom: 2rem !important;
}

.buffer--margin-bottom-10 {
  margin-bottom: 2.5rem !important;
}

.buffer--margin-bottom-12 {
  margin-bottom: 3rem !important;
}

.buffer--margin-bottom-16 {
  margin-bottom: 4rem !important;
}

.buffer--margin-bottom-20 {
  margin-bottom: 5rem !important;
}

.buffer--margin-bottom-24 {
  margin-bottom: 6rem !important;
}

.buffer--margin-bottom-32 {
  margin-bottom: 8rem !important;
}

.buffer--margin-bottom-40 {
  margin-bottom: 10rem !important;
}

.buffer--margin-bottom-48 {
  margin-bottom: 12rem !important;
}

.buffer--margin-bottom-56 {
  margin-bottom: 14rem !important;
}

.buffer--margin-bottom-64 {
  margin-bottom: 16rem !important;
}

.buffer--margin-bottom-auto {
  margin-bottom: auto !important;
}

.buffer--margin-bottom-px {
  margin-bottom: 1px !important;
}

.buffer--margin-minus-bottom-1 {
  margin-bottom: -0.25rem !important;
}

.buffer--margin-minus-bottom-2 {
  margin-bottom: -0.5rem !important;
}

.buffer--margin-minus-bottom-3 {
  margin-bottom: -0.75rem !important;
}

.buffer--margin-minus-bottom-4 {
  margin-bottom: -1rem !important;
}

.buffer--margin-minus-bottom-5 {
  margin-bottom: -1.25rem !important;
}

.buffer--margin-minus-bottom-6 {
  margin-bottom: -1.5rem !important;
}

.buffer--margin-minus-bottom-8 {
  margin-bottom: -2rem !important;
}

.buffer--margin-minus-bottom-10 {
  margin-bottom: -2.5rem !important;
}

.buffer--margin-minus-bottom-12 {
  margin-bottom: -3rem !important;
}

.buffer--margin-minus-bottom-16 {
  margin-bottom: -4rem !important;
}

.buffer--margin-minus-bottom-20 {
  margin-bottom: -5rem !important;
}

.buffer--margin-minus-bottom-24 {
  margin-bottom: -6rem !important;
}

.buffer--margin-minus-bottom-32 {
  margin-bottom: -8rem !important;
}

.buffer--margin-minus-bottom-40 {
  margin-bottom: -10rem !important;
}

.buffer--margin-minus-bottom-48 {
  margin-bottom: -12rem !important;
}

.buffer--margin-minus-bottom-56 {
  margin-bottom: -14rem !important;
}

.buffer--margin-minus-bottom-64 {
  margin-bottom: -16rem !important;
}

.buffer--margin-minus-bottom-px {
  margin-bottom: -1px !important;
}

.buffer--margin-left-0 {
  margin-left: 0 !important;
}

.buffer--margin-left-1 {
  margin-left: 0.25rem !important;
}

.buffer--margin-left-2 {
  margin-left: 0.5rem !important;
}

.buffer--margin-left-3 {
  margin-left: 0.75rem !important;
}

.buffer--margin-left-4 {
  margin-left: 1rem !important;
}

.buffer--margin-left-5 {
  margin-left: 1.25rem !important;
}

.buffer--margin-left-6 {
  margin-left: 1.5rem !important;
}

.buffer--margin-left-8 {
  margin-left: 2rem !important;
}

.buffer--margin-left-10 {
  margin-left: 2.5rem !important;
}

.buffer--margin-left-12 {
  margin-left: 3rem !important;
}

.buffer--margin-left-16 {
  margin-left: 4rem !important;
}

.buffer--margin-left-20 {
  margin-left: 5rem !important;
}

.buffer--margin-left-24 {
  margin-left: 6rem !important;
}

.buffer--margin-left-32 {
  margin-left: 8rem !important;
}

.buffer--margin-left-40 {
  margin-left: 10rem !important;
}

.buffer--margin-left-48 {
  margin-left: 12rem !important;
}

.buffer--margin-left-56 {
  margin-left: 14rem !important;
}

.buffer--margin-left-64 {
  margin-left: 16rem !important;
}

.buffer--margin-left-auto {
  margin-left: auto !important;
}

.buffer--margin-left-px {
  margin-left: 1px !important;
}

.buffer--margin-minus-left-1 {
  margin-left: -0.25rem !important;
}

.buffer--margin-minus-left-2 {
  margin-left: -0.5rem !important;
}

.buffer--margin-minus-left-3 {
  margin-left: -0.75rem !important;
}

.buffer--margin-minus-left-4 {
  margin-left: -1rem !important;
}

.buffer--margin-minus-left-5 {
  margin-left: -1.25rem !important;
}

.buffer--margin-minus-left-6 {
  margin-left: -1.5rem !important;
}

.buffer--margin-minus-left-8 {
  margin-left: -2rem !important;
}

.buffer--margin-minus-left-10 {
  margin-left: -2.5rem !important;
}

.buffer--margin-minus-left-12 {
  margin-left: -3rem !important;
}

.buffer--margin-minus-left-16 {
  margin-left: -4rem !important;
}

.buffer--margin-minus-left-20 {
  margin-left: -5rem !important;
}

.buffer--margin-minus-left-24 {
  margin-left: -6rem !important;
}

.buffer--margin-minus-left-32 {
  margin-left: -8rem !important;
}

.buffer--margin-minus-left-40 {
  margin-left: -10rem !important;
}

.buffer--margin-minus-left-48 {
  margin-left: -12rem !important;
}

.buffer--margin-minus-left-56 {
  margin-left: -14rem !important;
}

.buffer--margin-minus-left-64 {
  margin-left: -16rem !important;
}

.buffer--margin-minus-left-px {
  margin-left: -1px !important;
}
