/*
    * MATERIAL SIDENAV
*/
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  width: $buffer--width-full;
  min-width: $buffer--width-56;
  height: $buffer--height-full;
  box-shadow: $buffer--box-shadow;
}

mat-sidenav {
  width: $buffer--width-auto;
}

.mat-drawer-container {
  background-color: $buffer--background-color-gray-100 !important;
}

/*
    * MATERIAL LIST
*/
.mat-list-base {
  padding-top: 0 !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

/*
    * MATERIAL EXPANSION PANEL
*/
.mat-expansion-panel {
  margin: 10px 0 !important;
}

.mat-expansion-panel {
  box-shadow: $buffer--box-shadow !important;
}

.mat-expansion-panel-header {
  padding: 0 15px !important;
}

.mat-expansion-panel-body {
  padding: 16px !important;
}

/*
    * MATERIAL CARD
*/
mat-card {
  border-radius: $buffer--border-width-8 !important;
  box-shadow: $buffer--box-shadow-md !important;

  &:hover {
    box-shadow: $buffer--box-shadow !important;
  }

  .mat-card-actions {
    padding: 0 !important;
  }
}

/*
    * MATERIAL BUTTON
*/
.mat-flat-button {
  padding: 8px !important;
}

/*
    * MATERIAL BUTTON GROUP
*/
.mat-button-toggle-button {
  font-size: $buffer--font-size-sm !important;
  font-family: $buffer--font-family-semi-bold !important;
}

.mat-button-toggle-group-appearance-standard,
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard {
  border-radius: 0.5rem !important;
}

.mat-button-toggle-label-content {
  line-height: 36px !important;
  padding: 0px 16px !important;
}

.mat-button-toggle-checked {
  background-color: $buffer--background-color-indigo-100 !important;
}

/*
    * MATERIAL DIALOG
*/
.mat-dialog-container {
  box-shadow: $buffer--box-shadow-lg !important;
}

/*
    * MATERIAL MENU ITEM
*/
.mat-menu-item {
  font-size: $buffer--font-size-sm !important;
  font-weight: $buffer--font-weight-medium !important;
}

/*
    * MATERIAL AUTO COMPLETE
*/
.mat-autocomplete-panel {
  top: 11px;
  max-height: $buffer--height-64 !important;
  box-shadow: $buffer--box-shadow-lg !important;
  border-bottom-left-radius: $buffer--border-width-4 !important;
  border-bottom-right-radius: $buffer--border-width-4 !important;
}

/*
    * MATERIAL OPTION
*/
.mat-option {
  font-size: $buffer--font-size-xs !important;
}

/*
    * MATERIAL CDK OVERLAY
*/
.cdk-overlay-dark-backdrop,
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

/*
    * MATERIAL TAB
*/
.mat-tab-label {
  opacity: 1 !important;
  text-transform: uppercase !important;
  color: $buffer--text-color-black !important;
  font-size: $buffer--font-size-sm !important;
  font-weight: $buffer--font-weight-bold !important;
}

.mat-tab-label-active {
  color: $buffer--text-color-blue-500 !important;
}

/*
    * MATERIAL CHIP LIST
*/
.mat-chip {
  padding-left: $buffer--width-4 !important;
  padding-right: $buffer--width-4 !important;
  text-align: $buffer--text-align-center !important;
}

/*
    * MATERIAL TOOLTIP
*/
.mat-tooltip {
  font-size: $buffer--font-size-xs !important;
}

/*
    * MATERIAL RANGE SLIDE
*/
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

/*
    * MATERIAL FORM FIELD
*/
.mat-form-field-flex {
  border-width: 1px !important;
}
.mat-form-field-outline-thick {
  border: none;
  opacity: 1 !important;
  background-color: #f9f9f9;
}
