.buffer--padding-0 {
  padding: 0 !important !important;
}

.buffer--padding-1 {
  padding: 0.25rem !important;
}

.buffer--padding-2 {
  padding: 0.5rem !important;
}

.buffer--padding-3 {
  padding: 0.75rem !important;
}

.buffer--padding-4 {
  padding: 1rem !important;
}

.buffer--padding-5 {
  padding: 1.25rem !important;
}

.buffer--padding-6 {
  padding: 1.5rem !important;
}

.buffer--padding-8 {
  padding: 2rem !important;
}

.buffer--padding-10 {
  padding: 2.5rem !important;
}

.buffer--padding-12 {
  padding: 3rem !important;
}

.buffer--padding-16 {
  padding: 4rem !important;
}

.buffer--padding-20 {
  padding: 5rem !important;
}

.buffer--padding-24 {
  padding: 6rem !important;
}

.buffer--padding-32 {
  padding: 8rem !important;
}

.buffer--padding-40 {
  padding: 10rem !important;
}

.buffer--padding-48 {
  padding: 12rem !important;
}

.buffer--padding-56 {
  padding: 14rem !important;
}

.buffer--padding-64 {
  padding: 16rem !important;
}

.buffer--padding-px {
  padding: 1px !important;
}

.buffer--padding-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.buffer--padding-y-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.buffer--padding-y-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.buffer--padding-y-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.buffer--padding-y-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.buffer--padding-y-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.buffer--padding-y-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.buffer--padding-y-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.buffer--padding-y-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.buffer--padding-y-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.buffer--padding-y-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.buffer--padding-y-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.buffer--padding-y-24 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.buffer--padding-y-32 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.buffer--padding-y-40 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.buffer--padding-y-48 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.buffer--padding-y-56 {
  padding-top: 14rem !important;
  padding-bottom: 14rem !important;
}

.buffer--padding-y-64 {
  padding-top: 16rem !important;
  padding-bottom: 16rem !important;
}

.buffer--padding-y-px {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.buffer--padding-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.buffer--padding-x-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.buffer--padding-x-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.buffer--padding-x-3 {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.buffer--padding-x-4 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.buffer--padding-x-5 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.buffer--padding-x-6 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.buffer--padding-x-8 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.buffer--padding-x-10 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.buffer--padding-x-12 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.buffer--padding-x-16 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.buffer--padding-x-20 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.buffer--padding-x-24 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.buffer--padding-x-32 {
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.buffer--padding-x-40 {
  padding-right: 10rem !important;
  padding-left: 10rem !important;
}

.buffer--padding-x-48 {
  padding-right: 12rem !important;
  padding-left: 12rem !important;
}

.buffer--padding-x-56 {
  padding-right: 14rem !important;
  padding-left: 14rem !important;
}

.buffer--padding-x-64 {
  padding-right: 16rem !important;
  padding-left: 16rem !important;
}

.buffer--padding-x-px {
  padding-right: 1px !important;
  padding-left: 1px !important;
}

.buffer--padding-top-0 {
  padding-top: 0 !important;
}

.buffer--padding-top-1 {
  padding-top: 0.25rem !important;
}

.buffer--padding-top-2 {
  padding-top: 0.5rem !important;
}

.buffer--padding-top-3 {
  padding-top: 0.75rem !important;
}

.buffer--padding-top-4 {
  padding-top: 1rem !important;
}

.buffer--padding-top-5 {
  padding-top: 1.25rem !important;
}

.buffer--padding-top-6 {
  padding-top: 1.5rem !important;
}

.buffer--padding-top-8 {
  padding-top: 2rem !important;
}

.buffer--padding-top-10 {
  padding-top: 2.5rem !important;
}

.buffer--padding-top-12 {
  padding-top: 3rem !important;
}

.buffer--padding-top-16 {
  padding-top: 4rem !important;
}

.buffer--padding-top-20 {
  padding-top: 5rem !important;
}

.buffer--padding-top-24 {
  padding-top: 6rem !important;
}

.buffer--padding-top-32 {
  padding-top: 8rem !important;
}

.buffer--padding-top-40 {
  padding-top: 10rem !important;
}

.buffer--padding-top-48 {
  padding-top: 12rem !important;
}

.buffer--padding-top-56 {
  padding-top: 14rem !important;
}

.buffer--padding-top-64 {
  padding-top: 16rem !important;
}

.buffer--padding-top-px {
  padding-top: 1px !important;
}

.buffer--padding-right-0 {
  padding-right: 0 !important;
}

.buffer--padding-right-1 {
  padding-right: 0.25rem !important;
}

.buffer--padding-right-2 {
  padding-right: 0.5rem !important;
}

.buffer--padding-right-3 {
  padding-right: 0.75rem !important;
}

.buffer--padding-right-4 {
  padding-right: 1rem !important;
}

.buffer--padding-right-5 {
  padding-right: 1.25rem !important;
}

.buffer--padding-right-6 {
  padding-right: 1.5rem !important;
}

.buffer--padding-right-8 {
  padding-right: 2rem !important;
}

.buffer--padding-right-10 {
  padding-right: 2.5rem !important;
}

.buffer--padding-right-12 {
  padding-right: 3rem !important;
}

.buffer--padding-right-16 {
  padding-right: 4rem !important;
}

.buffer--padding-right-20 {
  padding-right: 5rem !important;
}

.buffer--padding-right-24 {
  padding-right: 6rem !important;
}

.buffer--padding-right-32 {
  padding-right: 8rem !important;
}

.buffer--padding-right-40 {
  padding-right: 10rem !important;
}

.buffer--padding-right-48 {
  padding-right: 12rem !important;
}

.buffer--padding-right-56 {
  padding-right: 14rem !important;
}

.buffer--padding-right-64 {
  padding-right: 16rem !important;
}

.buffer--padding-right-px {
  padding-right: 1px !important;
}

.buffer--padding-bottom-0 {
  padding-bottom: 0 !important;
}

.buffer--padding-bottom-1 {
  padding-bottom: 0.25rem !important;
}

.buffer--padding-bottom-2 {
  padding-bottom: 0.5rem !important;
}

.buffer--padding-bottom-3 {
  padding-bottom: 0.75rem !important;
}

.buffer--padding-bottom-4 {
  padding-bottom: 1rem !important;
}

.buffer--padding-bottom-5 {
  padding-bottom: 1.25rem !important;
}

.buffer--padding-bottom-6 {
  padding-bottom: 1.5rem !important;
}

.buffer--padding-bottom-8 {
  padding-bottom: 2rem !important;
}

.buffer--padding-bottom-10 {
  padding-bottom: 2.5rem !important;
}

.buffer--padding-bottom-12 {
  padding-bottom: 3rem !important;
}

.buffer--padding-bottom-16 {
  padding-bottom: 4rem !important;
}

.buffer--padding-bottom-20 {
  padding-bottom: 5rem !important;
}

.buffer--padding-bottom-24 {
  padding-bottom: 6rem !important;
}

.buffer--padding-bottom-32 {
  padding-bottom: 8rem !important;
}

.buffer--padding-bottom-40 {
  padding-bottom: 10rem !important;
}

.buffer--padding-bottom-48 {
  padding-bottom: 12rem !important;
}

.buffer--padding-bottom-56 {
  padding-bottom: 14rem !important;
}

.buffer--padding-bottom-64 {
  padding-bottom: 16rem !important;
}

.buffer--padding-bottom-px {
  padding-bottom: 1px !important;
}

.buffer--padding-left-0 {
  padding-left: 0 !important;
}

.buffer--padding-left-1 {
  padding-left: 0.25rem !important;
}

.buffer--padding-left-2 {
  padding-left: 0.5rem !important;
}

.buffer--padding-left-3 {
  padding-left: 0.75rem !important;
}

.buffer--padding-left-4 {
  padding-left: 1rem !important;
}

.buffer--padding-left-5 {
  padding-left: 1.25rem !important;
}

.buffer--padding-left-6 {
  padding-left: 1.5rem !important;
}

.buffer--padding-left-8 {
  padding-left: 2rem !important;
}

.buffer--padding-left-10 {
  padding-left: 2.5rem !important;
}

.buffer--padding-left-12 {
  padding-left: 3rem !important;
}

.buffer--padding-left-16 {
  padding-left: 4rem !important;
}

.buffer--padding-left-20 {
  padding-left: 5rem !important;
}

.buffer--padding-left-24 {
  padding-left: 6rem !important;
}

.buffer--padding-left-32 {
  padding-left: 8rem !important;
}

.buffer--padding-left-40 {
  padding-left: 10rem !important;
}

.buffer--padding-left-48 {
  padding-left: 12rem !important;
}

.buffer--padding-left-56 {
  padding-left: 14rem !important;
}

.buffer--padding-left-64 {
  padding-left: 16rem !important;
}

.buffer--padding-left-px {
  padding-left: 1px !important;
}
