:host {
  position: relative;
  display: block;

  ::ng-deep {
    .p-datatable .p-datatable-header {
      border-width: 0 0 1px 0;
    }

    .p-datatable .p-paginator-bottom {
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      position: fixed;
      bottom: 0;
      width: calc(100vw - 15rem);
    }

    .p-carousel-container {
      height: 100%;
    }

    .b-d-h {
      display: none;
    }
  }
}
