<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix b-h-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['facebook']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-black b-h-full buffer--font-family-sans-medium buffer--font-size-base">
      Facebook
    </a>
  </div>

  <div class="clearfix b-h-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['instagram']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-black b-h-full buffer--font-family-sans-medium buffer--font-size-base">
      Instagram
    </a>
  </div>

  <div class="clearfix b-h-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['instagram']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-black b-h-full buffer--font-family-sans-medium buffer--font-size-base">
      Linkedin
    </a>
  </div>

  <div class="clearfix b-h-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['instagram']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-black b-h-full buffer--font-family-sans-medium buffer--font-size-base">
      Pinterest
    </a>
  </div>

  <div class="clearfix b-h-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['twitter']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-blue-500 buffer--text-color-blue-500"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-black b-h-full buffer--font-family-sans-medium buffer--font-size-base">
      Twitter
    </a>
  </div>
</div>