<div class="b-h-full p-d-flex p-jc-between p-ai-center">
  <h6 [routerLink]="['facebook']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Facebook
  </h6>
  <h6 [routerLink]="['instagram']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Instagram
  </h6>
  <h6 [routerLink]="['linkedin']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Linkedin
  </h6>
  <h6 [routerLink]="['pinterest']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Pinterest
  </h6>
  <h6 [routerLink]="['twitter']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Twitter
  </h6>
</div>