<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['facebook']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Facebook
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['instagram']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Instagram
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['twitter']" routerLinkActive="buffer--background-color-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Twitter
    </button>
  </div>
</div>