:host {
  display: block;
  position: relative;

  ::ng-deep {
    .mat-horizontal-stepper-header-container {
      display: none !important;
    }

    .mat-horizontal-content-container {
      padding: 0 !important;
    }

    .buffer--schedule-post-action-button {
      padding: 0.5rem 1rem !important;
    }
  }
}
