<div class="clearfix">
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="eventCreateChooseTypeForm">
      <buffer--schedule-event-create-modal-form-type
        #postTypeChooseStep
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-type>
    </mat-step>

    <mat-step [stepControl]="eventCreateTypeTextForm">
      <ng-template matStepLabel>Content</ng-template>
      <buffer--schedule-event-create-modal-form-text
        #postTypeTextStep
        *ngIf="(postType$ | async) === 'text'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-text>
      <buffer--schedule-event-create-modal-form-image
        #postTypeImageStep
        *ngIf="(postType$ | async) === 'image'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-image>
      <buffer--schedule-event-create-modal-form-video
        #postTypeVideoStep
        *ngIf="(postType$ | async) === 'video'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-video>
    </mat-step>
  </mat-horizontal-stepper>
</div>
