<div class="clearfix">
  <mat-horizontal-stepper labelPosition="bottom" linear>
    <mat-step label="Step 1" state="phone" [stepControl]="eventCreateChooseTypeForm">
      <ng-template matStepLabel>Type</ng-template>
      <buffer--schedule-event-create-modal-form-type
        #postTypeChooseStep
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-type>
    </mat-step>

    <mat-step [stepControl]="eventCreateTypeTextForm">
      <ng-template matStepLabel>Content</ng-template>
      <buffer--schedule-event-create-modal-form-text
        #postTypeTextStep
        *ngIf="(postType$ | async) === 'text'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-text>
      <buffer--schedule-event-create-modal-form-image
        #postTypeImageStep
        *ngIf="(postType$ | async) === 'image'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-image>
      <buffer--schedule-event-create-modal-form-video
        #postTypeVideoStep
        *ngIf="(postType$ | async) === 'video'"
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-video>
    </mat-step>
    <!-- <mat-step [stepControl]="eventCreateTypeImageForm"> </mat-step>
    <mat-step [stepControl]="eventCreateTypeVideoForm"> </mat-step> -->

    <mat-step label="Step 1" state="phone" [stepControl]="eventCreateChooseTypeForm">
      <ng-template matStepLabel>Confirmation</ng-template>
      <buffer--schedule-event-create-modal-form-type
        #postTypeChooseStep
        (closeChooseTypeModal)="onChooseTypeModalClosed()"
      ></buffer--schedule-event-create-modal-form-type>
    </mat-step>

    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</div>
