<p-tabView [(activeIndex)]="active_index">
  <p-tabPanel header="Type" [disabled]="isDisabled(0)">
    <ng-template pTemplate="content">
      <buffer-type (tab_selected)="openTab($any($event))"></buffer-type>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Status" [cache]="true" [disabled]="isDisabled(1)">
    <ng-template pTemplate="content">
      <buffer-text (tab_selected)="openTab($any($event))"></buffer-text>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Images" [cache]="true" [disabled]="isDisabled(2)">
    <ng-template pTemplate="content">
      <buffer-image (tab_selected)="openTab($any($event))"></buffer-image>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Videos" [cache]="true" [disabled]="isDisabled(3)">
    <ng-template pTemplate="content">
      <buffer-video (tab_selected)="openTab($any($event))"></buffer-video>
    </ng-template>
  </p-tabPanel>
</p-tabView>