:host {
	position: relative;
	display: block;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
	padding: 0;
}

:host ::ng-deep .p-tabview-nav {
	display: none;
	justify-content: space-between;
}

:host ::ng-deep .p-tabview .p-tabview-nav li {
	margin: 0;
}

:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
	margin: 0;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
	padding: 0;
}