<section class="b-h-full">
  <div class="p-grid">
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Posts" icon="pi-copy" [counter]="posts?.posts?.total || 0"
        info_title="Total Posts" help_info="The number of posts created within this date range." icon_color="primary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Hash Tags" icon="pi-tags" [counter]="posts?.hashTags || 0"
        info_title="Total Hash Tags" help_info="Total Hash Tags for the posts created with this date range."
        icon_color="secondary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Engagement" icon="pi-users"
        [counter]="posts?.engagedUsers | sum" info_title="Total Engagement"
        help_info="The number of people who clicked anywhere in your posts." icon_color="warning">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Engagement Rate" icon="pi-users"
        [counter]="engagementRate(posts?.engagedUsers, posts?.postImpressions)" info_title="Total Engagement Rate"
        help_info="Impressions that resulted in an engagement (engagement divided by impressions)." icon_color="help">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Engaged Fans" icon="pi-user-plus"
        [counter]="totalCount(posts?.engagedFan || [0])" info_title="Total Engaged Fans"
        help_info="People who have liked your Page and engaged with your post." icon_color="info">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Impressions" icon="pi-eye"
        [counter]="totalCount(posts?.postImpressions || [0])" info_title="Total Post Impressions"
        help_info="The number of times your Page's post entered a person's screen. Posts include statuses, photos, links, videos and more."
        icon_color="success">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Reach" icon="pi-directions"
        [counter]="totalCount(posts?.postReach || [0])" info_title="Total Reach"
        help_info="The number of unique people who saw the post(s) sent during this period." icon_color="danger">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Post Clicks" icon="pi-paperclip"
        [counter]="totalCount(posts?.postClicks || [0])" info_title="Total Post Clicks"
        help_info="The number of times people clicked on anywhere in your posts without generating a story."
        icon_color="secondary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Likes" icon="pi-thumbs-up"
        [counter]="totalCount(posts?.totalLikes || [0])" info_title="Total Likes"
        help_info="The number of likes on your post(s)" icon_color="primary">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Comments" icon="pi-comments"
        [counter]="totalCount(posts?.totalComments || [0])" info_title="Total Comments"
        help_info="The number of comments on your post(s)" icon_color="help">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Shares" icon="pi-share-alt"
        [counter]="totalCount(posts?.totalShares || [0])" info_title="Total Shares"
        help_info="The number of shares on your post(s)" icon_color="info">
      </buffer-analyze-card>
    </div>
    <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
      <buffer-analyze-card class="b-w-full b-h-full" title="Reactions" icon="pi-thumbs-up"
        [counter]="totalCount(posts?.totalReactions || [0])" info_title="Total Reactions"
        help_info="The number of reactions on your post(s)" icon_color="success">
      </buffer-analyze-card>
    </div>
  </div>

  <div class="b-bg-white p-my-3 b-br b-br-sm">
    <buffer-post-table [posts]="posts?.postTable!"></buffer-post-table>
  </div>

  <div class="p-grid p-mt-2">
    <div class="p-col">
      <buffer-analyze-chart class="b-w-full b-h-full" chartTitle="Posts" chartType="area"
        [chart_labels]="posts?.categories"
        [chartSeries]="[{name: 'Posts', data: posts?.posts?.response, type: 'area'}]">
      </buffer-analyze-chart>
    </div>
  </div>
</section>