<div *ngIf="isWeb | async">
  <div *ngIf="(connections$ | async).length <= 5; else connectionsCarousel" class="p-d-flex">
    <div [ngClass]="{'b-tb-con-active': connection.id === (activeConnection$ | async)}" class="b-tb-con p-ml-2"
      *ngFor="let connection of connections$ | async; trackBy:trackByConnectionID">
      <div [title]="connection.connectionName" class="b-ca b-ca-md b-post-cl b-outline-none"
        [routerLink]="['/schedule', connection.id]">
        <img [lazyLoad]="connection.connectionPicture" class="b-w-full b-h-full b-br-full"
          defaultImage="/assets/images/svg/default-media.svg" errorImage="/assets/images/svg/default-media.svg" />
        <div [attr.class]="'b-ca-sl b-ca-sl-' + connection.connectionType">
        </div>
      </div>
    </div>
  </div>

  <ng-template #connectionsCarousel>
    <p-carousel [value]="connections$ | async" [numVisible]="5" [numScroll]="1">
      <ng-template let-connection pTemplate="item">
        <div [title]="connection.connectionName" class="b-ca b-ca-md b-post-cl"
          [routerLink]="['/schedule', connection.id]">
          <img [lazyLoad]="connection.connectionPicture" class="b-w-full b-h-full b-br-full"
            defaultImage="/assets/images/svg/default-media.svg" errorImage="/assets/images/svg/default-media.svg" />
          <div [attr.class]="'b-ca-sl b-ca-sl-' + connection.connectionType">
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</div>