@import './assets/styles/app.scss';

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: '';
    display: $buffer--display-table;
    clear: both;
  }
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}

html,
body {
  height: $buffer--height-full;
}
body {
  margin: 0;
  font-size: $buffer--font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $buffer--font-weight-medium;
  font-family: $buffer--font-family-regular;
  letter-spacing: $buffer--letter-spacing-tracking-normal;
}

a.buffer--default-link {
  width: auto;
  padding: 5px 0;
  cursor: $buffer--cursor-pointer;
  position: $buffer--position-relative;
  color: $buffer--text-color-primary-500;
  display: $buffer--display-inline-block;
  text-decoration: $buffer--text-decoration-none;

  &:before {
    width: 0;
    content: '';
    bottom: -2px;
    position: absolute;
    border-bottom: 2px solid $buffer--text-color-primary-500;
    transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: $buffer--list-style-type-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $buffer--font-family-bold;
}

p {
  margin: 0;
  padding: 0;
  font-family: $buffer--font-family-regular;
}

/*
  * BREAKS
*/
.buffer--break-normal {
  word-break: normal;
  overflow-wrap: normal;
}

.buffer--break-words {
  overflow-wrap: break-word;
}

.buffer--break-all {
  word-break: break-all;
}

.buffer--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
    * CONTAINER
*/
.buffer--container {
  width: 100%;
  margin: 0 auto;
  min-width: 1080px;
  padding: 20px 60px;
  height: $buffer--height-auto;
}

.buffer--button-big-height {
  height: 56px !important;
}

.buffer--button-big-padding {
  padding-left: 46px !important;
  padding-right: 46px !important;
}

.buffer--box-shadow-hover-xl {
  &:hover {
    box-shadow: $buffer--box-shadow-xl !important;
  }
}

.buffer--heading-span {
  color: #356859;
  position: relative;
  &:after {
    left: 0px;
    width: 100%;
    content: '';
    height: 15px;
    bottom: -10px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/images/background/yellow-background-bottom-line.svg');
  }
}

.buffer--get-started-short-link {
  .buffer--get-started-short-link-icon {
    vertical-align: middle;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  &:hover {
    .buffer--get-started-short-link-icon {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}
