@import 'assets/styles/';

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: $buffer--display-table;
  }
}

*::-webkit-scrollbar {
  width: 9px;
  z-index: 999;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}

html,
body {
  @include buffer--user-select(none);
  color: $buffer--text-color-black !important;
  height: $buffer--height-full;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $buffer--font-family-sans-regular;
  font-size: $buffer--font-size-base;
  font-weight: $buffer--font-weight-medium;
  letter-spacing: $buffer--letter-spacing-tracking-normal;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: $buffer--text-decoration-none;
}

a.buffer--default-link {
  -webkit-text-decoration: $buffer--text-decoration-none;
  color: $buffer--text-color-blue-500;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-inline-block;
  padding: 5px 0;
  position: $buffer--position-relative;
  text-decoration: $buffer--text-decoration-none;
  width: auto;

  &:before {
    -webkit-transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 2px solid inherit;
    bottom: -2px;
    content: '';
    position: absolute;
    transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 0;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: $buffer--list-style-type-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $buffer--font-family-sans-medium;
}

h1 {
  font-size: $buffer--font-size-3xl;
}

h2 {
  font-size: $buffer--font-size-xl;
}

h3 {
  font-size: $buffer--font-size-lg;
}

p {
  color: $buffer--text-color-black;
  font-family: $buffer--font-family-sans-regular;
  margin: 0;
  padding: 0;
}

/*
  * BREAKS
*/
.buffer--break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.buffer--break-words {
  overflow-wrap: break-word;
}

.buffer--break-all {
  word-break: break-all;
}

.buffer--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
    * CONTAINER
*/
.buffer--container {
  height: $buffer--height-auto;
  margin: 0 auto;
  min-width: 1080px;
  padding: 0 60px;
  width: $buffer--width-full;
}

.buffer--heading-span {
  color: #1da1f2;
  position: relative;
  &:after {
    background-image: url('/assets/images/background/yellow-background-bottom-line.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -10px;
    content: '';
    height: 15px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
}

.buffer--get-started-short-link {
  .buffer--get-started-short-link-icon {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    vertical-align: middle;
  }

  &:hover {
    .buffer--get-started-short-link-icon {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}

.buffer--schedule-calendar-view-sec {
  height: calc(100vh - 4.5rem);
}

.buffer--connection-route-sec {
  height: calc(100vh - 4.5rem) !important;
}

.dashboard-route-sec {
  width: calc(100vw - 5rem);
}

.buffer--social-account-logo {
  margin: -25px 0 0 25px;
  width: 20px;
  height: 20px;
  border: 3px solid #ffffff;
}

.buffer--social-account-logo-facebook_page,
.buffer--social-account-logo-facebook_group {
  background: #1877f2 url('/assets/images/icon/facebook.svg');
  background-size: cover;
}

.buffer--social-account-logo-instagram_business,
.buffer--social-account-logo-instagram_personal {
  background: #f46f30 url('/assets/images/icon/instagram.svg');
  background-size: cover;
}

.buffer--social-account-logo-linkedin_page,
.buffer--social-account-logo-linkedin_profile {
  background: #007bb5 url('/assets/images/icon/linkedin.svg');
  background-size: cover;
}

.buffer--social-account-logo-pinterest {
  background: #bd081c url('/assets/images/icon/pinterest.svg');
  background-size: cover;
}

.buffer--social-account-logo-twitter {
  background: #1da1f2 url('/assets/images/icon/twitter.svg');
  background-size: cover;
}

/*
    * NOTIFICATION
*/
.buffer--simple-simple-notification {
  border-radius: $buffer--border-radius-xl !important;
  color: $buffer--text-color-white !important;
  font-size: $buffer--font-size-base !important;
  min-width: $buffer--width-56 !important;
  padding: 1rem 1.5rem !important;
}

.buffer--advance-simple-notification {
  border-radius: $buffer--border-radius-lg !important;
  color: $buffer--text-color-white !important;
  font-size: $buffer--font-size-sm !important;
  min-width: $buffer--width-64 !important;
  padding: 1rem 1.5rem !important;

  .mat-icon-button {
    width: $buffer--width-8;
    height: $buffer--height-8;
    background-color: $buffer--background-color-dark-gray !important;

    .mat-icon {
      color: $buffer--text-color-white;
    }
  }
}
