@import 'assets/styles/';

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: $buffer--display-table;
  }
}

html,
body {
  @include buffer--user-select(none);
  color: $buffer--text-color-black !important;
  height: $b-h-full;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: $buffer--font-size-base;
  font-weight: $buffer--font-weight-medium;
  letter-spacing: $buffer--letter-spacing-tracking-normal;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: $buffer--text-decoration-none;
}

a.buffer--default-link {
  -webkit-text-decoration: $buffer--text-decoration-none;
  color: $buffer--text-color-blue-500;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-inline-block;
  padding: 5px 0;
  position: $buffer--position-relative;
  text-decoration: $buffer--text-decoration-none;
  width: auto;

  &:before {
    -webkit-transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 2px solid inherit;
    bottom: -2px;
    content: '';
    position: absolute;
    transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 0;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: $buffer--list-style-type-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0.995rem;
}

h6 {
  font-size: 0.925rem;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/*
  * BREAKS
*/
.buffer--break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.buffer--break-words {
  overflow-wrap: break-word;
}

.buffer--break-all {
  word-break: break-all;
}

.buffer--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
    * CONTAINER
*/
.buffer--container {
  height: $buffer--height-auto;
  margin: 0 auto;
  min-width: 1080px;
  padding: 0 60px;
  width: $b-w-full;
}

.buffer--heading-span {
  color: #1da1f2;
  position: relative;
  &:after {
    background-image: url('/assets/images/background/yellow-background-bottom-line.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: -10px;
    content: '';
    height: 15px;
    left: 0px;
    position: absolute;
    width: 100%;
  }
}

.buffer--get-started-short-link {
  .buffer--get-started-short-link-icon {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    vertical-align: middle;
  }

  &:hover {
    .buffer--get-started-short-link-icon {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}

.b-main-content {
  float: right;
  width: calc(100vw - 15rem);
}

/*
    * NOTIFICATION
*/

.buffer--simple-notification,
.buffer--advance-notification {
  color: $buffer--text-color-white !important;
  font-size: $buffer--font-size-sm !important;
  padding: 1.5rem !important;
}

.buffer--simple-notification {
  border-radius: $buffer--border-radius-xl !important;
  min-width: $buffer--width-56 !important;
}

.buffer--advance-notification {
  border-radius: $buffer--border-radius-lg !important;
  min-width: $buffer--width-64 !important;
}

.b-bg-white {
  background-color: #ffffff;
}

.b-br {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.b-br-full {
  border-radius: 100%;
}

.b-br-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.b-ci {
  font-size: 1.25rem;
}

.b-main-header {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 15rem;
}

.b-ca {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 100%;
  position: relative;
}

.b-ca-md {
  height: 2.5rem;
  width: 2.5rem;
}

.b-ca-lg {
  height: 3.125rem;
  width: 3.125rem;
}

.b-ca-sl {
  border: 3px solid #ffffff;
  border-radius: 100%;
  bottom: 0;
  height: 1.25rem;
  position: absolute;
  right: -0.2rem;
  width: 1.25rem;
}

.b-ca-sl-Facebook_Page,
.b-ca-sl-Facebook_Group {
  background: #1877f2 url('/assets/images/icon/facebook.svg');
  background-size: cover;
}

.b-ca-sl-Instagram_Business,
.b-ca-sl-Instagram_Personal {
  background: #f46f30 url('/assets/images/icon/instagram.svg');
  background-size: cover;
}

.b-ca-sl-Linkedin_Page,
.b-ca-sl-Linkedin_Profile {
  background: #007bb5 url('/assets/images/icon/linkedin.svg');
  background-size: cover;
}

.b-ca-sl-Pinterest {
  background: #bd081c url('/assets/images/icon/pinterest.svg');
  background-size: cover;
}

.b-ca-sl-Twitter {
  background: #1da1f2 url('/assets/images/icon/twitter.svg');
  background-size: cover;
}
