@import './assets/styles/app.scss';

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.clearfix {
  &::after {
    content: '';
    display: $buffer--display-table;
    clear: both;
  }
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.05);
}

html,
body {
  height: $buffer--height-full;
}
body {
  margin: 0;
  font-family: $buffer--font-family-regular;
  font-size: $buffer--font-size-base;
  font-weight: $buffer--font-weight-medium;
  letter-spacing: $buffer--letter-spacing-tracking-normal;
}

a {
  color: $buffer--text-color-black;
  cursor: $buffer--cursor-pointer;
  text-decoration: $buffer--text-decoration-none;

  &:hover {
    color: $buffer--text-color-blue-500;
    text-decoration: $buffer--text-decoration-underline;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: $buffer--list-style-type-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $buffer--font-family-bold;
}

p {
  font-family: $buffer--font-family-regular;
}

/*
  * BREAKS
*/
.buffer--break-normal {
  word-break: normal;
  overflow-wrap: normal;
}

.buffer--break-words {
  overflow-wrap: break-word;
}

.buffer--break-all {
  word-break: break-all;
}

.buffer--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
    * CONTAINER
*/
.buffer--container {
  margin: 0;
  padding: 20px 50px;
  width: $buffer--width-full;
  height: $buffer--height-auto;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
