<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['overview']"
      routerLinkActive="buffer--background-color-light-gray" [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Overview
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['posts']" routerLinkActive="buffer--background-color-light-gray"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Posts
    </button>
  </div>
  <div class="clearfix buffer--margin-right-3">
    <button mat-button [routerLink]="['audience']" routerLinkActive="buffer--background-color-light-gray"
      [routerLinkActiveOptions]="{exact: true}"
      class="buffer--height-12 buffer--font-family-semi-bold buffer--font-size-sm">
      Audience
    </button>
  </div>
</div>