<div class="b-h-full p-d-flex p-ai-center">
  <h6 [routerLink]="['overview']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Overview
  </h6>
  <h6 [routerLink]="['posts']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Posts
  </h6>
  <h6 [routerLink]="['audience']" routerLinkActive="b-tr-menu-active" [routerLinkActiveOptions]="{exact: false}"
    class="b-tr-menu">
    Audience
  </h6>
</div>