<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--flex-justify-content-space-between buffer--align-items-center">
  <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['overview']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-dark-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-dark-gray buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Overview
    </a>
  </div>

  <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['posts']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-dark-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-dark-gray buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Posts
    </a>
  </div>

  <div class="clearfix buffer--height-full buffer--margin-auto buffer--margin-right-3">
    <a [routerLink]="['audience']"
      routerLinkActive="buffer--padding-x-5 buffer--padding-y-6 buffer--border-width-0 buffer--border-bottom-width-4 buffer--border-style-solid buffer--border-color-dark-gray"
      [routerLinkActiveOptions]="{exact: false}"
      class="buffer--padding-5 buffer--text-color-dark-gray buffer--height-full buffer--font-family-sans-medium buffer--font-size-base">
      Audience
    </a>
  </div>
</div>