<section>
  <div class="p-fluid p-formgrid p-mt-2">
    <div class="b-h-full b-w-full">
      <div class="p-grid b-w-full">
        <div class="p-col-12 p-md-4 p-lg-4 p-px-2" (click)="selectTab(1)">
          <div class="b-compose-type-selection p-text-center">
            <i class="ico-3x ico-small-cap b-text-primary"></i>
            <p class="p-text-bold p-mt-2">Status</p>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-lg-4 p-px-2" (click)="selectTab(2)">
          <div class="b-compose-type-selection p-text-center">
            <i class="ico-3x ico-image b-text-help"></i>
            <p class="p-text-bold p-mt-2">Image</p>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-lg-4 p-px-2" (click)="selectTab(3)">
          <div class="b-compose-type-selection p-text-center">
            <i class="ico-3x ico-video b-text-info"></i>
            <p class="p-text-bold p-mt-2">Video</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>