<button (click)="overlay.toggle($event)" [label]="formattedDate(date_range)" pTooltip="Change date range"
  tooltipPosition="bottom" class="b-w-full p-button-sm p-button-text" icon="pi pi-calendar" pButton
  type="button"></button>

<p-overlayPanel #overlay [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [dismissable]="true"
  appendTo="body" [style]="{width: '450px'}">
  <ng-template pTemplate>

    <div class="p-grid p-m-0">
      <div class="p-col-6 p-pr-2">
        <button class="b-w-full p-button-sm p-button-text p-button-plain" type="button" pButton (click)="setThisWeek()"
          label="This week"></button>
      </div>
      <div class="p-col-6 p-pl-2">
        <button class="b-w-full p-button-sm p-button-text p-button-plain" type="button" pButton label="Last week"
          (click)="setLastWeek()"></button>
      </div>
      <div class="p-col-6 p-pr-2">
        <button class="b-w-full p-button-sm p-button-text p-button-plain" type="button" pButton label="This month"
          (click)="setThisMonth()"></button>
      </div>
      <div class="p-col-6 p-pl-2">
        <button class="b-w-full p-button-sm p-button-text p-button-plain" type="button" pButton label="Last month"
          (click)="setLastMonth()"></button>
      </div>
    </div>

    <div class="b-br-t p-mt-3 p-pt-3">
      <label for="current_date_time" class="b-text-secondary p-text-bold">Select a Date range</label>
      <p-calendar dateFormat="M dd, yy" [readonlyInput]="true" [showIcon]="true" [inline]="false"
        [(ngModel)]="calendar_date_range" [maxDate]="current_date_time" inputId="current_date_time" placeholder=""
        selectionMode="range" styleClass="b-w-full p-inputtext-sm p-my-2">
      </p-calendar>

      <button class="b-w-full p-button-sm p-button-text" type="button" pButton label="Set date"
        (click)="setCalendarDate()"></button>
    </div>

  </ng-template>
</p-overlayPanel>