<div
  class="buffer--padding-x-5 b-h-full buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid buffer--border-color-light-gray">

  <div class="clearfix buffer--width-percent-50">
    <form [formGroup]="bucketFilterForm" novalidate
      class="b-h-full buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between">

      <div class="clearfix buffer--margin-right-5">
        <mat-form-field class="b-w-full" appearance="fill">
          <input autocomplete="current-password" autocomplete="off"
            class="buffer--font-family-sans-medium buffer--cursor-default" formControlName="searchText" matInput
            placeholder="Search" type="text" />
        </mat-form-field>
      </div>

      <div class="clearfix buffer--margin-right-5">
        <mat-form-field appearance="fill" matTooltip="Timeline">
          <mat-select formControlName="timeline" multiple>
            <mat-select-trigger>
              {{bucketFilterForm.value.timeline ? bucketFilterForm.value.timeline[0] : ''}}
              <span *ngIf="bucketFilterForm.value.timeline?.length > 1">
                (+{{bucketFilterForm.value.timeline.length - 1}}
                {{bucketFilterForm.value.timeline?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="clearfix buffer--margin-right-5">
        <mat-form-field appearance="fill" matTooltip="Profile">
          <mat-select id="profileCountry">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="clearfix buffer--margin-right-5">
        <mat-form-field appearance="fill" matTooltip="Post Type">
          <mat-select id="profileCountry">
            <mat-option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </form>
  </div>

  <div class="clearfix">
    <mat-button-toggle-group>
      <mat-button-toggle value="dayGridMonth" matTooltip="Ascending order">
        <i class="material-icons">vertical_align_bottom</i>
      </mat-button-toggle>
      <mat-button-toggle value="timeGridDay" matTooltip="Descending order">
        <i class="material-icons">vertical_align_top</i>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>