<section class="buffer--signup-header-section" class="buffer--signup-header-section">
  <div class="clearfix">
    <buffer--signup-header></buffer--signup-header>
  </div>
</section>

<section class="buffer--auth-signup-section" class="buffer--auth-signup-section">
  <div class="buffer--container clearfix">
    <div class="buffer--signup-form-content">
      <div class="buffer--width-percent-49">
        <buffer--signup-jumbo></buffer--signup-jumbo>
      </div>
      <div class="buffer--width-percent-49">
        <buffer--signup-form></buffer--signup-form>
      </div>
    </div>
  </div>
</section>
