:host {
  display: block;
  background-image: url('/assets/images/background/buffer--auth-signin-background.svg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  .buffer--signup-form-content {
    display: flex;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    align-items: flex-start;
    justify-content: space-between;
  }
}
