<div class="clearfix">
  <section id="schedule-create-form-header-sec" class="schedule-create-form-header-sec">
    <buffer--schedule-post-create-modal-form-header
      [formHeader]="formHeader"
      [formHeaderIcon]="formHeaderIcon"
    ></buffer--schedule-post-create-modal-form-header>
  </section>

  <section id="schedule-create-form-content-sec" class="schedule-create-form-content-sec buffer--overflow-y-auto">
    <div class="buffer--height-64 buffer--margin-y-10 buffer--width-percent-80 buffer--margin-x-auto">
      <div
        class="buffer--display-flex buffer--display-flex-direction-column buffer--flex-justify-content-space-between"
      >
        <div class="clearfix">
          <!-- uploader -->
          <buffer--schedule-post-create-modal-form-media-selection
            (enableNextButton)="onNextButtonEnabled($event)"
          ></buffer--schedule-post-create-modal-form-media-selection>
          <!-- uploader -->
        </div>
        <div class="clearfix">
          <form novalidate [formGroup]="eventCreateTypeVideoForm" class="buffer--margin-top-5 buffer--padding-y-5 ">
            <div class="clearfix">
              <label for="postCaption" class="buffer--cursor-pointer buffer--font-family-semi-bold buffer--font-size-sm"
                >Caption</label
              >
              <mat-form-field
                class="buffer--width-full buffer--font-family-regular buffer--margin-top-3"
                appearance="fill"
              >
                <textarea
                  matInput
                  required
                  id="postCaption"
                  spellcheck="false"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"
                  formControlName="postCaption"
                  placeholder="Write something"
                  #autosize="cdkTextareaAutosize"
                  [errorStateMatcher]="eventCreatePostFormErrorMatcher"
                  class="buffer--cursor-pointer buffer--line-height-leading-relaxed"
                ></textarea>
              </mat-form-field>
            </div>

            <div class="clearfix">
              <label for="postDate" class="buffer--cursor-pointer buffer--font-family-semi-bold buffer--font-size-sm"
                >Date</label
              >
              <mat-form-field
                class="buffer--width-full buffer--font-family-regular buffer--margin-y-3"
                appearance="fill"
              >
                <input
                  matInput
                  readonly
                  type="text"
                  id="postDate"
                  autocomplete="off"
                  [min]="currentDateTime"
                  [owlDateTime]="postDate"
                  formControlName="postDate"
                  class="buffer--cursor-pointer"
                  [owlDateTimeTrigger]="postDate"
                  [errorStateMatcher]="eventCreatePostFormErrorMatcher"
                />
                <owl-date-time
                  #postDate
                  [stepMinute]="15"
                  [hour12Timer]="true"
                  [hideOtherMonths]="true"
                  [startAt]="currentDateTime"
                  panelClass="buffer--dialog-bottom-sheet-custom-panel"
                ></owl-date-time>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="schedule-create-form-footer-sec" class="schedule-create-form-footer-sec">
    <div
      class="clearfix buffer--padding-x-10 buffer--padding-y-5 buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-space-between buffer--border-color-gray buffer--border-width-0 buffer--border-top-width buffer--border-style-solid"
    >
      <div class="clearfix buffer--width-percent-80">
        <a
          (click)="onPreviousButtonClicked()"
          class="buffer--default-link buffer--get-started-short-link buffer--font-size-sm buffer--line-height-leading-normal buffer--font-family-regular"
        >
          <span>Back</span>
        </a>
      </div>
      <div class="clearfix buffer--width-percent-20">
        <button
          type="submit"
          color="primary"
          mat-flat-button
          [disabled]="nextButtonDisabled || eventCreateTypeVideoForm.invalid"
          class="buffer--width-full buffer--schedule-post-action-button buffer--font-family-semi-bold buffer--font-size-sm buffer--box-shadow buffer--border-radius-lg"
        >
          Next
        </button>
      </div>
    </div>
  </section>
</div>
