<div class="clearfix">
  <div class="b-bg-white buffer--padding-y-5">
    <div class="buffer--container buffer--display-flex buffer--align-items-center">
      <div class="buffer--width-percent-33 buffer--float-left">
        <div class="buffer--padding-y-1">
          <buffer--main-logo></buffer--main-logo>
        </div>
      </div>
      <div class="buffer--width-percent-66 buffer--float-right">
        <div class="buffer--padding-y-1">
          <buffer--menu></buffer--menu>
        </div>
      </div>
    </div>
  </div>
</div>