<div class="p-d-flex p-jc-between p-ai-center">
  <div class="p-d-flex p-jc-start p-ai-center">
    <buffer--main-logo class="p-mr-6"></buffer--main-logo>
    <h5 (click)="navigateToSignupPage('auction')" class="b-h-full p-mx-3 b-cursor-pointer">Features</h5>
    <h5 (click)="navigateToSignupPage('auction')" class="b-h-full p-mx-3 b-cursor-pointer">Pricing</h5>
    <h5 (click)="navigateToSignupPage('auction')" class="b-h-full p-mx-3 b-cursor-pointer">Support</h5>
  </div>
  <div class="p-d-flex p-jc-end p-ai-center">
    <button pButton (click)="navigateToSignupPage('enter')" class="p-mx-2 p-button-text p-px-6"
      label="Sign in"></button>
    <button pButton (click)="navigateToSignupPage('join')" class="p-ml-2 p-px-6" label="Try for 14 days"></button>
  </div>
</div>