<div class="clearfix">
  <div
    class="clearfix buffer--padding-5 buffer--text-align-right buffer--border-color-gray buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid"
  >
    <div class="clearfix">
      <button
        color="accent"
        mat-stroked-button
        (click)="onNewPostBtnClicked()"
        class="buffer--width-full buffer--box-shadow-md buffer--padding-y-2 buffer--border-radius-lg"
      >
        <i class="material-icons buffer--font-size-4xl">add</i>
        <span class="buffer--text-color-black buffer--margin-left-2">New Post</span>
      </button>
    </div>
  </div>
</div>
