<div class="clearfix">
  <div
    class="clearfix buffer--padding-5 buffer--text-align-right buffer--border-color-gray buffer--border-width-0 buffer--border-bottom-width buffer--border-style-solid"
  >
    <div class="clearfix">
      <button
        (click)="onNewPostBtnClicked()"
        class="buffer--width-full buffer--box-shadow buffer--height-16"
        color="primary"
        mat-stroked-button
      >
        <i class="material-icons buffer--font-size-4xl">add</i>
        <span class="buffer--font-family-semi-bold buffer--font-size-sm buffer--margin-left-2">New Post</span>
      </button>
    </div>
  </div>
</div>
