<section class="b-hs-wt-h b-of-a">
  <div class="p-p-4">
    <div class="p-grid">
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Engaged Users" cardIcon="pi-users" cardCounter="0"
          cardInfoTitle="Total Engaged Users" cardIconColor="primary">
        </buffer--analyze-card>
      </div>
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Post Impressions" cardIcon="pi-eye" cardCounter="0"
          cardInfoTitle="Total Post Impressions" cardIconColor="secondary">
        </buffer--analyze-card>
      </div>
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Reactions" cardIcon="pi-thumbs-up" cardCounter="0"
          cardInfoTitle="Total Reactions" cardIconColor="success">
        </buffer--analyze-card>
      </div>
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Link Clicks" cardIcon="pi-paperclip" cardCounter="0"
          cardInfoTitle="Total Link Clicks" cardIconColor="help">
        </buffer--analyze-card>
      </div>
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="New Fans" cardIcon="pi-user-plus" cardCounter="0"
          cardInfoTitle="Total New Fans" cardIconColor="info">
        </buffer--analyze-card>
      </div>
      <div class="p-col-4 p-xs-12 p-sm-12 p-lg-4">
        <buffer--analyze-card class="b-w-full b-h-full" cardTitle="Posts" cardIcon="pi-copy" cardCounter="0"
          cardInfoTitle="Total Posts" cardIconColor="warning">
        </buffer--analyze-card>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Total Fans" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="false">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Posts" chartType="bar"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Engagements" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Post Impressions" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Post Reach" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Link Clicks" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Fan Growth" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Reactions" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Shares" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
      <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
        <buffer--analyze-chart class="b-w-full b-h-full" chartTitle="Comments" chartType="line"
          chartLineColor="rgba(44, 75, 255, 0.4)" chartBorderColor="rgba(44, 75, 255, 1)" [steppedLine]="true">
        </buffer--analyze-chart>
      </div>
    </div>
  </div>
</section>