<div
  class="clearfix buffer--display-flex buffer--display-flex-direction-row buffer--align-items-center buffer--flex-justify-content-start">
  <div
    class="clearfix buffer--width-5 buffer--height-5 buffer--margin-right-2 buffer--border-radius-full buffer--social-account-logo-facebook">
  </div>
  <div
    class="clearfix buffer--width-5 buffer--height-5 buffer--margin-right-2 buffer--border-radius-full buffer--social-account-logo-instagram">
  </div>
  <div
    class="clearfix buffer--width-5 buffer--height-5 buffer--margin-right-2 buffer--border-radius-full buffer--social-account-logo-twitter">
  </div>
</div>