:host {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;

      .mat-form-field-subscript-wrapper {
        position: absolute !important;
      }
    }

    .mat-form-field-appearance-fill {
      .mat-form-field-infix {
        padding: 0.8rem 0 !important;
      }
    }
  }
}
