<div class="b-w-full b-h-toolbar b-br-b">
  <buffer--toolbar [backButton]="true" [showConnections]="true" headerTitle="Facebook Page Insight"
    (connectionSelected)="connectionSelected($event)">
  </buffer--toolbar>
</div>

<section class="b-main-content b-of-h">
  <buffer--filter></buffer--filter>

  <section class="b-hs-wt-h b-of-auto">
    <div class="b-w-full">
      <p-tabView>
        <p-tabPanel header="Overview">
          <ng-template pTemplate="content">
            <buffer--overview [overview]="(insight$ | async)?.overview"></buffer--overview>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Posts">
          <buffer--posts [posts]="(insight$ | async)?.posts"></buffer--posts>
        </p-tabPanel>
        <p-tabPanel header="Audience">
          <buffer--audience [insight]="insight$ | async"></buffer--audience>
        </p-tabPanel>
        <p-tabPanel header="Videos">
          <buffer--video [videos]="(insight$ | async)?.videos"></buffer--video>
        </p-tabPanel>
        <p-tabPanel header="Performance">
          <buffer--performance [performance]="(insight$ | async)?.performance"></buffer--performance>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</section>