<div [attr.class]="'b-bg-white p-p-2 p-shadow-2 b-post-br b-post-br-t-' + calendarData.event.extendedProps.postType"
  [ngClass]="{ 'b-op-5': !upcomingPost }">
  <div class="p-d-flex p-jc-between p-ai-center">
    <div [ngClass]="{
      'b-text-primary': upcomingPost,
      'b-text-danger': !upcomingPost
    }" class="p-my-2">
      <small class="p-mr-2">
        <i class="pi pi-clock b-va-m"></i> {{ calendarData.event.start | date: 'shortTime' }}
      </small>
    </div>
    <button type="button" pButton icon="pi pi-ellipsis-v"
      class="p-button-text p-button-plain p-button-rounded p-button-sm" (click)="menu.toggle($event)"></button>
  </div>

  <div class="p-my-2">
    <div [ngSwitch]="calendarData.event.extendedProps.postType">
      <div *ngSwitchCase="postType.IMAGE">
        <div class="p-d-flex p-jc-between p-ai-center">
          <img *ngFor="let image of calendarData.event.extendedProps.postMedia; trackBy:trackBy;" [defaultImage]="image"
            [lazyLoad]="image" class="b-w-full" />
        </div>
      </div>
      <div *ngSwitchCase="postType.VIDEO">
        <video #media id="postVideo" preload="auto" [src]="calendarData.event.extendedProps.postMedia[0]"
          type="video/mp4" class="b-w-full">
        </video>
      </div>
      <div *ngSwitchDefault>
        <p>
          {{ calendarData.event.extendedProps.postCaption }}
        </p>
      </div>
    </div>
  </div>
</div>

<p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" styleClass="p-px-2"></p-menu>