.buffer--pulse-white-animation {
  -webkit-animation: pulse-white 2s;
  /* triangle pointing right... */
  animation: pulse-white 2s;
}

.buffer--pulse-green-animation {
  -webkit-animation: pulse-green 2s;
  /* triangle pointing right... */
  animation: pulse-green 2s;
}

@-webkit-keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(104, 159, 56, 0.7);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10px rgba(104, 159, 56, 0);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(104, 159, 56, 0);
    transform: scale(0.95);
  }
}

@keyframes pulse-green {
  0% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(104, 159, 56, 0.7);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10px rgba(104, 159, 56, 0);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(104, 159, 56, 0);
    transform: scale(0.95);
  }
}

@-webkit-keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(0.95);
  }
}

@keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transform: scale(0.95);
  }
}
