/* ************************************* BACKGROUNDS STARTS ************************************* */
/* ************************************* BACKGROUNDS STARTS ************************************* */

/*
    * BACKGROUND ATTACHMENT
*/
.buffer--background-attachment-fixed {
  background-attachment: $buffer--background-attachment-fixed !important;
}

.buffer--background-attachment-local {
  background-attachment: $buffer--background-attachment-local !important;
}

.buffer--background-attachment-scroll {
  background-attachment: $buffer--background-attachment-scroll !important;
}

/*
    * BACKGROUND COLOR
*/
.buffer--background-color-transparent {
  background-color: $buffer--background-color-transparent !important;
}

.buffer--background-color-black {
  background-color: $buffer--background-color-black !important;
}

.buffer--background-color-white {
  background-color: $buffer--background-color-white !important;
}

.buffer--background-color-gray {
  background-color: $buffer--background-color-gray !important;
}

.buffer--background-color-warn-100 {
  background-color: $buffer--background-color-warn-100 !important;
}

.buffer--background-color-warn-200 {
  background-color: $buffer--background-color-warn-200 !important;
}

.buffer--background-color-warn-300 {
  background-color: $buffer--background-color-warn-300 !important;
}

.buffer--background-color-warn-400 {
  background-color: $buffer--background-color-warn-400 !important;
}

.buffer--background-color-warn-500 {
  background-color: $buffer--background-color-warn-500 !important;
}

.buffer--background-color-warn-600 {
  background-color: $buffer--background-color-warn-600 !important;
}

.buffer--background-color-warn-700 {
  background-color: $buffer--background-color-warn-700 !important;
}

.buffer--background-color-warn-800 {
  background-color: $buffer--background-color-warn-800 !important;
}

.buffer--background-color-warn-900 {
  background-color: $buffer--background-color-warn-900 !important;
}

.buffer--background-color-accent-100 {
  background-color: $buffer--background-color-accent-100 !important;
}

.buffer--background-color-accent-200 {
  background-color: $buffer--background-color-accent-200 !important;
}

.buffer--background-color-accent-300 {
  background-color: $buffer--background-color-accent-300 !important;
}

.buffer--background-color-accent-400 {
  background-color: $buffer--background-color-accent-400 !important;
}

.buffer--background-color-accent-500 {
  background-color: $buffer--background-color-accent-500 !important;
}

.buffer--background-color-accent-600 {
  background-color: $buffer--background-color-accent-600 !important;
}

.buffer--background-color-accent-700 {
  background-color: $buffer--background-color-accent-700 !important;
}

.buffer--background-color-accent-800 {
  background-color: $buffer--background-color-accent-800 !important;
}

.buffer--background-color-accent-900 {
  background-color: $buffer--background-color-accent-900 !important;
}

.buffer--background-color-primary-100 {
  background-color: $buffer--background-color-primary-100 !important;
}

.buffer--background-color-primary-200 {
  background-color: $buffer--background-color-primary-200 !important;
}

.buffer--background-color-primary-300 {
  background-color: $buffer--background-color-primary-300 !important;
}

.buffer--background-color-primary-400 {
  background-color: $buffer--background-color-primary-400 !important;
}

.buffer--background-color-primary-500 {
  background-color: $buffer--background-color-primary-500 !important;
}

.buffer--background-color-primary-600 {
  background-color: $buffer--background-color-primary-600 !important;
}

.buffer--background-color-primary-700 {
  background-color: $buffer--background-color-primary-700 !important;
}

.buffer--background-color-primary-800 {
  background-color: $buffer--background-color-primary-800 !important;
}

.buffer--background-color-primary-900 {
  background-color: $buffer--background-color-primary-900 !important;
}

/*
    * BACKGROUND POSITION
*/
.buffer--background-position-bottom {
  background-position: $buffer--background-position-bottom !important;
}

.buffer--background-position-center {
  background-position: $buffer--background-position-center !important;
}

.buffer--background-position-left {
  background-position: $buffer--background-position-left !important;
}

.buffer--background-position-left-bottom {
  background-position: $buffer--background-position-left-bottom !important;
}

.buffer--background-position-left-top {
  background-position: $buffer--background-position-left-top !important;
}

.buffer--background-position-right {
  background-position: $buffer--background-position-right !important;
}

.buffer--background-position-right-bottom {
  background-position: $buffer--background-position-right-bottom !important;
}

.buffer--background-position-right-top {
  background-position: $buffer--background-position-right-top !important;
}

.buffer--background-position-top {
  background-position: $buffer--background-position-top !important;
}

/*
    * BACKGROUND REPEAT
*/
.buffer--background-repeat {
  background-repeat: $buffer--background-repeat !important;
}

.buffer--background-no-repeat {
  background-repeat: $buffer--background-no-repeat !important;
}

.buffer--background-repeat-x {
  background-repeat: $buffer--background-repeat-x !important;
}

.buffer--background-repeat-y {
  background-repeat: $buffer--background-repeat-y !important;
}

.buffer--background-repeat-round {
  background-repeat: $buffer--background-repeat-round !important;
}

.buffer--background-repeat-space {
  background-repeat: $buffer--background-repeat-space !important;
}

/*
    * BACKGROUND SIZE
*/
.buffer--background-size-auto {
  background-size: $buffer--background-size-auto !important;
}

.buffer--background-size-cover {
  background-size: $buffer--background-size-cover !important;
}

.buffer--background-size-contain {
  background-size: $buffer--background-size-contain !important;
}

/* ************************************* BACKGROUNDS ENDS ************************************* */
/* ************************************* BACKGROUNDS ENDS ************************************* */
