.slick-slider {
  @include buffer--user-select(none);
  background-color: $buffer--background-color-gray;
  box-shadow: $buffer--box-shadow;
  box-sizing: border-box;
  display: $buffer--display-block;
  position: $buffer--position-relative;
}

.slick-list {
  display: $buffer--display-block;
  overflow: $buffer--overflow-hidden;
  position: $buffer--position-relative;
  border-radius: $buffer--border-radius-lg;

  &:focus {
    outline: $buffer--outline-none;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  align-items: $buffer--align-items-center;
  display: $buffer--display-flex;
  flex-direction: $buffer--display-flex-direction-row;
  height: $buffer--height-70;
  justify-content: $buffer--align-items-center;
  justify-items: $buffer--align-items-center;
  opacity: $buffer--opacity-100;

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  display: flex;
  float: left;
  height: auto;
  min-height: 1px;
  outline: none;

  img {
    display: block;
  }

  &.slick-loading {
    img {
      display: none;
    }
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-disabled {
  cursor: $buffer--cursor-default;
}

.slick-prev,
.slick-next {
  background: $buffer--background-color-gray;
  border-radius: $buffer--border-radius-full;
  box-shadow: $buffer--box-shadow;
  color: $buffer--text-color-black;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-block;
  font-size: $buffer--font-size-3xl;
  height: $buffer--height-8;
  outline: $buffer--outline-none;
  padding: 0;
  position: $buffer--position-absolute;
  top: 45%;
  width: $buffer--width-8;
  z-index: $buffer--z-index-10;

  &.slick-disabled {
    opacity: $buffer--opacity-0;
  }

  &:hover {
    background-color: $buffer--background-color-white;
    color: $buffer--text-color-black;
  }

  &:active {
    box-shadow: $buffer--box-shadow-outline;
  }
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}
