/* Slider */

.slick-slider {
  @include buffer--user-select(none);
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}
.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  [dir='rtl'] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    border: 1px solid transparent;
    display: block;
    height: auto;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-disabled {
  cursor: default;
}

/* THEME */
// Default Variables

/* Slider */

// .slick-list {
//   .slick-loading {
//     background: url('../../images/loader/ajax-loader.gif') center center no-repeat;
//   }
// }

/* Arrows */
.slick-prev,
.slick-next {
  background: $buffer--background-color-white;
  border-radius: $buffer--border-radius-full;
  box-shadow: $buffer--box-shadow;
  color: $buffer--text-color-black;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-block;
  font-size: $buffer--font-size-5xl;
  height: $buffer--height-12;
  outline: $buffer--outline-none;
  padding: 0;
  position: $buffer--position-absolute;
  top: 45%;
  width: $buffer--width-12;
  z-index: $buffer--z-index-10;

  &.slick-disabled {
    opacity: $buffer--opacity-0;
  }
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}
