/* ************************************* EFFECTS STARTS ************************************* */
/* ************************************* EFFECTS STARTS ************************************* */

/*
    * BOX SHADOW
*/
.buffer--box-shadow {
  box-shadow: $buffer--box-shadow !important;
}

.buffer--box-shadow-sm {
  box-shadow: $buffer--box-shadow-sm !important;
}

.buffer--box-shadow-md {
  box-shadow: $buffer--box-shadow-md !important;
}

.buffer--box-shadow-lg {
  box-shadow: $buffer--box-shadow-lg !important;
}

.buffer--box-shadow-xl {
  box-shadow: $buffer--box-shadow-xl !important;
}

.buffer--box-shadow-2xl {
  box-shadow: $buffer--box-shadow-2xl !important;
}

.buffer--box-shadow-inner {
  box-shadow: $buffer--box-shadow-inner !important;
}

.buffer--box-shadow-outline {
  box-shadow: $buffer--box-shadow-outline !important;
}

.buffer--box-shadow-none {
  box-shadow: $buffer--box-shadow-none !important;
}

/*
    * OPACITY
*/
.buffer--opacity-100 {
  opacity: $buffer--opacity-100 !important;
}

.buffer--opacity-75 {
  opacity: $buffer--opacity-75 !important;
}

.buffer--opacity-50 {
  opacity: $buffer--opacity-50 !important;
}

.buffer--opacity-25 {
  opacity: $buffer--opacity-25 !important;
}

.buffer--opacity-0 {
  opacity: $buffer--opacity-0 !important;
}

/* ************************************* EFFECTS ENDS ************************************* */
/* ************************************* EFFECTS ENDS ************************************* */
