@charset "UTF-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/material/buffer-material-regular.eot?#iefix'); /* For IE6-8 */
  src: local('Material Icons'), local('buffer-material-regular'), url('#{$font-path}/material/buffer-material-regular.eot?#iefix') format('eot'),
    url('#{$font-path}/material/buffer-material-regular.woff2') format('woff2'),
    url('#{$font-path}/material/buffer-material-regular.woff') format('woff'),
    url('#{$font-path}/material/buffer-material-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Buffer-Lars-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/lars/buffer-lars-thin.woff2') format('woff2'), url('#{$font-path}/lars/buffer-lars-thin.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Lars-Italic';
  font-style: italic;
  font-weight: 400;
  src: url('#{$font-path}/lars/buffer-lars-italic.woff2') format('woff2'), url('#{$font-path}/lars/buffer-lars-italic.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Lars-Regular';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/lars/buffer-lars-regular.woff2') format('woff2'), url('#{$font-path}/lars/buffer-lars-regular.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Lars-Light-Italic';
  font-style: italic;
  font-weight: 300;
  src: url('#{$font-path}/lars/buffer-lars-light-italic.woff2') format('woff2'),
    url('#{$font-path}/lars/buffer-lars-light-italic.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Lars-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/lars/buffer-lars-bold.woff2') format('woff2'), url('#{$font-path}/lars/buffer-lars-bold.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Circ-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/circ/buffer-circ-book.woff2') format('woff2'), url('#{$font-path}/circ/buffer-circ-book.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Circ-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/circ/buffer-circ-bold.woff2') format('woff2'), url('#{$font-path}/circ/buffer-circ-bold.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Sans-Regular';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/sans/buffer-sans-regular.woff2') format('woff2'), url('#{$font-path}/sans/buffer-sans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Sans-Medium';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/sans/buffer-sans-medium.woff2') format('woff2'), url('#{$font-path}/sans/buffer-sans-medium.woff') format('woff');
}

@font-face {
  font-family: 'Buffer-Sans-Mono-Regular';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/sans/buffer-sans-mono-regular.woff2') format('woff2'),
    url('#{$font-path}/sans/buffer-sans-mono-regular.woff') format('woff');
}

.material-icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px; /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-regular.woff2') format('woff2'),
    url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-500.woff2') format('woff2'),
    url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-700.woff2') format('woff2'),
    url('#{$font-path}/roboto/roboto-v20-latin-ext_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
