/* ************************************* INTERACTIVITY STARTS ************************************* */
/* ************************************* INTERACTIVITY STARTS ************************************* */

/*
    * CURSOR
*/
.buffer--cursor-auto {
  cursor: $buffer--cursor-auto;
}

.buffer--cursor-default {
  cursor: $buffer--cursor-default;
}

.buffer--cursor-grab {
  cursor: $buffer--cursor-grab;
}

.buffer--cursor-pointer {
  cursor: $buffer--cursor-pointer;
}

.buffer--cursor-wait {
  cursor: $buffer--cursor-wait;
}

.buffer--cursor-text {
  cursor: $buffer--cursor-text;
}

.buffer--cursor-move {
  cursor: $buffer--cursor-move;
}

.buffer--cursor-not-allowed {
  cursor: $buffer--cursor-not-allowed;
}

/*
    * OUTLINE
*/
.buffer--outline-none {
  outline: $buffer--outline-none;
}

/* ************************************* INTERACTIVITY ENDS ************************************* */
/* ************************************* INTERACTIVITY ENDS ************************************* */
