@mixin buffer--button-border-radius($arc) {
  border-radius: $arc !important;
}

@mixin buffer--button-height($height) {
  height: $height;
}

@mixin buffer--button-padding($padding) {
  padding-left: $padding !important;
  padding-right: $padding !important;
}

@mixin buffer--button-box-shadow($shadow) {
  box-shadow: $shadow !important;
}

@mixin buffer--user-select($selection) {
  -khtml-user-select: $selection;
  -moz-user-select: $selection;
  -ms-touch-action: pan-y;
  -ms-user-select: $selection;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: $selection;
  -webkit-user-select: $selection;
  user-select: $selection;
}
