/* ************************************* SIZING STARTS ************************************* */
/* ************************************* SIZING STARTS ************************************* */

/*
    * WIDTH
*/

.buffer--width-0 {
  width: $buffer--width-0 !important;
}

.buffer--width-1 {
  width: $buffer--width-1 !important;
}

.buffer--width-2 {
  width: $buffer--width-2 !important;
}

.buffer--width-3 {
  width: $buffer--width-3 !important;
}

.buffer--width-4 {
  width: $buffer--width-4 !important;
}

.buffer--width-5 {
  width: $buffer--width-5 !important;
}

.buffer--width-6 {
  width: $buffer--width-6 !important;
}

.buffer--width-7 {
  width: $buffer--width-7 !important;
}

.buffer--width-8 {
  width: $buffer--width-8 !important;
}

.buffer--width-10 {
  width: $buffer--width-10 !important;
}

.buffer--width-11 {
  width: $buffer--width-11 !important;
}

.buffer--width-12 {
  width: $buffer--width-12 !important;
}

.buffer--width-14 {
  width: $buffer--width-14 !important;
}

.buffer--width-16 {
  width: $buffer--width-16 !important;
}

.buffer--width-20 {
  width: $buffer--width-20 !important;
}

.buffer--width-24 {
  width: $buffer--width-24 !important;
}

.buffer--width-32 {
  width: $buffer--width-32 !important;
}

.buffer--width-40 {
  width: $buffer--width-40 !important;
}

.buffer--width-48 {
  width: $buffer--width-48 !important;
}

.buffer--width-56 {
  width: $buffer--width-56 !important;
}

.buffer--width-64 {
  width: $buffer--width-64 !important;
}

.buffer--width-66 {
  width: $buffer--width-66 !important;
}

.buffer--width-auto {
  width: $buffer--width-auto !important;
}

.buffer--width-px {
  width: $buffer--width-px !important;
}

.buffer--width-percent-8 {
  width: $buffer--width-percent-8 !important;
}

.buffer--width-percent-16 {
  width: $buffer--width-percent-16 !important;
}

.buffer--width-percent-20 {
  width: $buffer--width-percent-20 !important;
}

.buffer--width-percent-25 {
  width: $buffer--width-percent-25 !important;
}

.buffer--width-percent-33 {
  width: $buffer--width-percent-33 !important;
}

.buffer--width-percent-34 {
  width: $buffer--width-percent-34 !important;
}

.buffer--width-percent-40 {
  width: $buffer--width-percent-40 !important;
}

.buffer--width-percent-45 {
  width: $buffer--width-percent-45 !important;
}

.buffer--width-percent-48 {
  width: $buffer--width-percent-48 !important;
}

.buffer--width-percent-49 {
  width: $buffer--width-percent-49 !important;
}

.buffer--width-percent-50 {
  width: $buffer--width-percent-50 !important;
}

.buffer--width-percent-58 {
  width: $buffer--width-percent-58 !important;
}

.buffer--width-percent-60 {
  width: $buffer--width-percent-60 !important;
}

.buffer--width-percent-64 {
  width: $buffer--width-percent-64 !important;
}

.buffer--width-percent-66 {
  width: $buffer--width-percent-66 !important;
}

.buffer--width-percent-75 {
  width: $buffer--width-percent-75 !important;
}

.buffer--width-percent-80 {
  width: $buffer--width-percent-80 !important;
}

.buffer--width-percent-83 {
  width: $buffer--width-percent-83 !important;
}

.buffer--width-percent-90 {
  width: $buffer--width-percent-90 !important;
}

.buffer--width-percent-95 {
  width: $buffer--width-percent-95 !important;
}

.buffer--width-full {
  width: $buffer--width-full !important;
}

.buffer--width-screen {
  width: $buffer--width-screen !important;
}

.buffer--width-cal-post-list-item {
  width: $buffer--width-cal-post-list-item;
}

/*
    * MIN WIDTH
*/
.buffer--min-width-0 {
  min-width: $buffer--min-width-0 !important;
}

.buffer--min-width-full {
  min-width: $buffer--min-width-full !important;
}

/*
    * MAX WIDTH
*/
.buffer--max-width-xs {
  max-width: $buffer--max-width-xs !important;
}

.buffer--max-width-sm {
  max-width: $buffer--max-width-sm !important;
}

.buffer--max-width-md {
  max-width: $buffer--max-width-md !important;
}

.buffer--max-width-lg {
  max-width: $buffer--max-width-lg !important;
}

.buffer--max-width-xl {
  max-width: $buffer--max-width-xl !important;
}

.buffer--max-width-2xl {
  max-width: $buffer--max-width-2xl !important;
}

.buffer--max-width-3xl {
  max-width: $buffer--max-width-3xl !important;
}

.buffer--max-width-4xl {
  max-width: $buffer--max-width-4xl !important;
}

.buffer--max-width-5xl {
  max-width: $buffer--max-width-5xl !important;
}

.buffer--max-width-6xl {
  max-width: $buffer--max-width-6xl !important;
}

.buffer--max-width-full {
  max-width: $buffer--max-width-full !important;
}

/*
    * HEIGHT
*/
.buffer--height-0 {
  height: $buffer--height-0 !important;
}

.buffer--height-1 {
  height: $buffer--height-1 !important;
}

.buffer--height-2 {
  height: $buffer--height-2 !important;
}

.buffer--height-3 {
  height: $buffer--height-3 !important;
}

.buffer--height-4 {
  height: $buffer--height-4 !important;
}

.buffer--height-5 {
  height: $buffer--height-5 !important;
}

.buffer--height-6 {
  height: $buffer--height-6 !important;
}

.buffer--height-7 {
  height: $buffer--height-7 !important;
}

.buffer--height-8 {
  height: $buffer--height-8 !important;
}

.buffer--height-10 {
  height: $buffer--height-10 !important;
}

.buffer--height-11 {
  height: $buffer--height-11 !important;
}

.buffer--height-12 {
  height: $buffer--height-12 !important;
}

.buffer--height-14 {
  height: $buffer--height-14 !important;
}

.buffer--height-16 {
  height: $buffer--height-16 !important;
}

.buffer--height-18 {
  height: $buffer--height-18 !important;
}

.buffer--height-20 {
  height: $buffer--height-20 !important;
}

.buffer--height-24 {
  height: $buffer--height-24 !important;
}

.buffer--height-32 {
  height: $buffer--height-32 !important;
}

.buffer--height-40 {
  height: $buffer--height-40 !important;
}

.buffer--height-48 {
  height: $buffer--height-48 !important;
}

.buffer--height-56 {
  height: $buffer--height-56 !important;
}

.buffer--height-58 {
  height: $buffer--height-58 !important;
}

.buffer--height-64 {
  height: $buffer--height-64 !important;
}

.buffer--height-70 {
  height: $buffer--height-70 !important;
}

.buffer--height-75 {
  height: $buffer--height-75 !important;
}

.buffer--height-auto {
  height: $buffer--height-auto !important;
}

.buffer--height-px {
  height: $buffer--height-px !important;
}

.buffer--height-percent-50 {
  height: $buffer--height-percent-50 !important;
}

.buffer--height-percent-70 {
  height: $buffer--height-percent-70 !important;
}

.buffer--height-percent-95 {
  height: $buffer--height-percent-95 !important;
}

.buffer--height-full {
  height: $buffer--height-full !important;
}

.buffer--height-screen {
  height: $buffer--height-screen !important;
}

.buffer--height-screen-without-header {
  height: $buffer--height-screen-without-header !important;
}

/*
    * MIN HEIGHT
*/
.buffer--min-height-0 {
  min-height: $buffer--min-height-0 !important;
}

.buffer--min-height-40 {
  min-height: $buffer--min-height-40 !important;
}

.buffer--min-height-full {
  min-height: $buffer--min-height-full !important;
}

.buffer--min-height-inherit {
  min-height: $buffer--min-height-inherit !important;
}

.buffer--min-height-screen {
  min-height: $buffer--min-height-screen !important;
}

/*
    * MAX HEIGHT
*/
.buffer--max-height-64 {
  max-height: $buffer--max-height-64 !important;
}

.buffer--max-height-full {
  max-height: $buffer--max-height-full !important;
}

.buffer--max-height-screen {
  max-height: $buffer--max-height-screen !important;
}

/* ************************************* SIZING ENDS ************************************* */
/* ************************************* SIZING ENDS ************************************* */
