// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-buffer--primary: (
  50: #eee5ec,
  100: #fdedfa,
  200: #b894b1,
  300: #9b6992,
  400: #85497a,
  500: #702963,
  600: #68245b,
  700: #5d1f51,
  800: #531947,
  900: #410f35,
  A100: #ff7bdd,
  A200: #ff48d0,
  A400: #ff15c3,
  A700: #fb00bb,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$mat-buffer--accent: (
  50: #ffece7,
  100: #fde8e0,
  200: #feb29a,
  300: #fe9372,
  400: #fd7b53,
  500: #fd6435,
  600: #fd5c30,
  700: #fc5228,
  800: #fc4822,
  900: #fc3616,
  A100: #ffffff,
  A200: #fff9f8,
  A400: #ffccc5,
  A700: #ffb5ac,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-buffer--warn: (
  50: #fce6ed,
  100: #f9bfd1,
  200: #f595b2,
  300: #f06b93,
  400: #ed4b7c,
  500: #ea2b65,
  600: #e7265d,
  700: #e42053,
  800: #e11a49,
  900: #db1037,
  A100: #ffffff,
  A200: #ffd5dc,
  A400: #ffa2b1,
  A700: #ff899c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$buffer-warn: mat-palette($mat-buffer--warn);
$buffer-primary: mat-palette($mat-buffer--primary);
$buffer-accent: mat-palette($mat-buffer--accent);

// Create the theme object (a Sass map containing all of the palettes).
$buffer-theme: mat-light-theme($buffer-primary, $buffer-accent, $buffer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($buffer-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$buffer-typography: mat-typography-config(
  $font-family: $buffer--font-family-sans-medium,
  $button: mat-typography-level($buffer--font-size-sm, 14px, 500),
  $input: mat-typography-level($buffer--font-size-base, 1, 500),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include angular-material-typography($buffer-typography);
