// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-buffer--green: (
  50: #e7edeb,
  100: #b9e4c9,
  200: #9ab4ac,
  300: #72958b,
  400: #537f72,
  500: #356859,
  600: #306051,
  700: #285548,
  800: #224b3e,
  900: #163a2e,
  A100: #7affd0,
  A200: #47ffbe,
  A400: #14ffab,
  A700: #00f9a1,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-buffer--orange: (
  50: #ffece7,
  100: #fed1c2,
  200: #feb29a,
  300: #fe9372,
  400: #fd7b53,
  500: #fd6435,
  600: #fd5c30,
  700: #fc5228,
  800: #fc4822,
  900: #fc3616,
  A100: #ffffff,
  A200: #fff9f8,
  A400: #ffccc5,
  A700: #ffb5ac,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$mat-buffer--red: (
  50: #fce1e5,
  100: #f7b4be,
  200: #f18292,
  300: #eb4f66,
  400: #e72a46,
  500: #e30425,
  600: #e00321,
  700: #dc031b,
  800: #d80216,
  900: #d0010d,
  A100: #fff8f8,
  A200: #ffc5c7,
  A400: #ff9295,
  A700: #ff797c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$buffer-warn: mat-palette($mat-buffer--red);
$buffer-primary: mat-palette($mat-buffer--green);
$buffer-accent: mat-palette($mat-buffer--orange);

// Create the theme object (a Sass map containing all of the palettes).
$buffer-theme: mat-light-theme($buffer-primary, $buffer-accent, $buffer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($buffer-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$buffer-typography: mat-typography-config(
  $font-family: $buffer--font-family-semi-bold,
  $button: mat-typography-level($buffer--font-size-sm, 14px, 400),
  $input: mat-typography-level($buffer--font-size-sm, 1, 400),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include angular-material-typography($buffer-typography);
