.owl-dialog-container {
  background: $b-bg-white;
  border-radius: $buffer--border-radius-lg;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: $buffer--display-block;
  height: $b-h-full;
  outline: $buffer--outline-none;
  overflow: $buffer--overflow-auto;
  padding: 1.5rem;
  pointer-events: auto;
  position: $buffer--position-relative;
  width: $b-w-full;
}
.owl-dt-container,
.owl-dt-container * {
  box-sizing: border-box;
}
.owl-dt-container {
  background: $b-bg-white;
  display: $buffer--display-block;
  font-size: $buffer--font-size-xs;
  pointer-events: auto;
  z-index: $buffer--z-index-50;
}
.owl-dt-container-row {
  border-bottom: 1px solid #f2f2f2;
}
.owl-dt-container-row:last-child {
  border-bottom: none;
}
.owl-dt-calendar {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: $buffer--display-flex;

  flex-direction: $buffer--display-flex-direction-column;
  width: $b-w-full;
}
.owl-dt-calendar-control {
  -webkit-box-align: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  color: $buffer--text-color-black;
  display: $buffer--display-flex;

  font-size: $buffer--font-size-sm;
  padding: 1.25rem;
  width: $b-w-full;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-flex: 1;
  -webkit-box-pack: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  display: $buffer--display-flex;

  flex: 1 1 auto;
  justify-content: $buffer--text-align-center;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button {
  padding: 0 0.8em;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button:hover {
  background-color: #f2f2f2;
}
.owl-dt-calendar-main {
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: $buffer--display-flex;

  flex-direction: $buffer--display-flex-direction-column;
  flex: 1 1 auto;
  outline: $buffer--outline-none;
  padding: 0.5rem 1.25rem;
}
.owl-dt-calendar-view {
  -webkit-box-flex: 1;
  display: $buffer--display-block;
  flex: 1 1 auto;
}
.owl-dt-calendar-multi-year-view {
  -webkit-box-align: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  display: $buffer--display-flex;
}
.owl-dt-calendar-multi-year-view .owl-dt-calendar-table {
  width: calc(100% - 3em);
}
.owl-dt-calendar-multi-year-view .owl-dt-calendar-table .owl-dt-calendar-header th {
  padding-bottom: 0.25em;
}
.owl-dt-calendar-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: $buffer--font-family-sans-regular;
  width: $b-w-full;
}
.owl-dt-calendar-table .owl-dt-calendar-header {
  color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  font-family: $buffer--font-family-sans-medium;
  font-size: $buffer--font-size-xs;
  padding-bottom: 1rem;
  text-align: $buffer--text-align-center;
  text-transform: $buffer--text-transform-uppercase;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider {
  height: 1px;
  padding-bottom: 0.5em;
  position: $buffer--position-relative;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider:after {
  background: #f2f2f2;
  content: '';
  height: 1px;
  left: -0.5em;
  position: $buffer--position-absolute;
  right: -0.5em;
  top: 0;
}
.owl-dt-calendar-table .owl-dt-calendar-cell {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: $buffer--background-color-transparent;
  -webkit-tap-highlight-color: $buffer--background-color-transparent;
  color: rgba(0, 0, 0, 0.85);
  height: $buffer--height-0;
  line-height: $buffer--line-height-leading-zero;
  outline: $buffer--outline-none;
  position: $buffer--position-relative;
  text-align: $buffer--text-align-center;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-pack: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  border-radius: $buffer--border-radius-full;
  border: 1px solid $buffer--background-color-transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-flex;
  font-size: $buffer--font-size-xs;
  height: 100%;
  justify-content: $buffer--text-align-center;
  left: 3%;
  line-height: $buffer--line-height-leading-none;
  position: $buffer--position-absolute;
  top: 2%;
  width: 100%;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-out {
  opacity: $buffer--opacity-25;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  background-color: $buffer--background-color-primary-100;
  border-color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $buffer--background-color-primary-500;
  color: rgba(255, 255, 255, 0.85);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected.owl-dt-calendar-cell-today {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.85);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled {
  cursor: $buffer--cursor-default;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled > .owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected {
  opacity: $buffer--opacity-50;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled > .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: #f2f2f2;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-active:focus > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected),
.owl-dt-calendar-table :not(.owl-dt-calendar-cell-disabled):hover > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  background-color: #f2f2f2;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  background: $buffer--background-color-primary-100;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-from {
  border-bottom-left-radius: $buffer--border-radius-full;
  border-top-left-radius: $buffer--border-radius-full;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-to {
  border-bottom-right-radius: $buffer--border-radius-full;
  border-top-right-radius: $buffer--border-radius-full;
}
.owl-dt-timer {
  -webkit-box-pack: $buffer--text-align-center;
  display: $buffer--display-flex;
  justify-content: $buffer--text-align-center;
  outline: $buffer--outline-none;
  width: $b-w-full;
}
.owl-dt-timer-box {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: $buffer--text-align-center;
  border-right: 1px solid #f2f2f2;
  display: $buffer--display-inline-flex;

  flex-direction: $buffer--display-flex-direction-column;
  height: $b-h-full;
  position: $buffer--position-relative;
  width: $buffer--width-percent-33;
}
.owl-dt-timer-content {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-flex: 1;
  -webkit-box-pack: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  display: $buffer--display-flex;

  flex: 1 1 auto;
  justify-content: $buffer--text-align-center;
  margin: 0.2rem 0;
  width: $b-w-full;
}
.owl-dt-timer-content .owl-dt-timer-input {
  border-radius: $buffer--border-radius-lg;
  border: 1px solid #f2f2f2;
  display: $buffer--display-block;
  font-size: $buffer--font-size-xs;
  height: $buffer--height-8;
  outline: $buffer--outline-none;
  padding: 0.5rem;
  text-align: $buffer--text-align-center;
  width: $buffer--width-10;
}
.owl-dt-control-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: $buffer--background-color-transparent;
  -webkit-text-decoration: $buffer--text-decoration-none;
  -webkit-user-select: none;
  background-color: $buffer--background-color-transparent;
  border: none;
  color: inherit;
  cursor: $buffer--cursor-pointer;
  display: $buffer--display-inline-block;
  font-size: $buffer--font-size-xs;
  margin: 0;
  outline: $buffer--outline-none;
  padding: 0;
  text-decoration: $buffer--text-decoration-none;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;
}
.owl-dt-control-button .owl-dt-control-button-content {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-pack: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  display: $buffer--display-inline-flex;

  justify-content: $buffer--text-align-center;
  outline: $buffer--outline-none;
  position: $buffer--position-relative;
}
.owl-dt-control-period-button .owl-dt-control-button-content {
  -moz-border-radius: $buffer--border-radius-xl;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  border-radius: $buffer--border-radius-xl;
  font-family: $buffer--font-family-sans-medium;
  height: $buffer--height-10;
  padding: 1rem;
  text-transform: $buffer--text-transform-uppercase;
  transition: background-color 0.1s linear;
}
.owl-dt-control-period-button:hover > .owl-dt-control-button-content {
  background-color: #f2f2f2;
}
.owl-dt-control-period-button .owl-dt-control-button-arrow {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-pack: $buffer--text-align-center;
  -webkit-transition: -webkit-transform 0.2s ease;
  align-items: $buffer--text-align-center;
  display: $buffer--display-flex;

  height: $buffer--height-4;
  justify-content: $buffer--text-align-center;
  margin: 0.1rem;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  width: $buffer--width-6;
}
.owl-dt-control-arrow-button .owl-dt-control-button-content {
  border-radius: $buffer--border-radius-full;
  color: $buffer--text-color-primary-500;
  height: $buffer--height-6;
  padding: 0;
  width: $buffer--width-6;
}
.owl-dt-control-arrow-button[disabled] {
  cursor: $buffer--cursor-default;
  opacity: $buffer--opacity-25;
}
.owl-dt-control-arrow-button svg {
  fill: currentColor;
  height: $buffer--height-percent-50;
  width: $buffer--width-percent-50;
}
.owl-dt-inline-container,
.owl-dt-popup-container {
  border-radius: $buffer--border-radius-lg;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  position: $buffer--position-relative;
  width: 20rem;
}
.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-inline-container .owl-dt-timer,
.owl-dt-popup-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-timer {
  width: $b-w-full;
}
.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-calendar {
  height: auto;
}
.owl-dt-dialog-container {
  margin: -1.5em;
  max-height: 95vh;
}
.owl-dt-dialog-container .owl-dt-calendar {
  max-height: 750px;
  max-width: 750px;
  min-height: 330px;
  min-width: 250px;
}
.owl-dt-dialog-container .owl-dt-timer {
  max-width: 750px;
  min-width: 250px;
}
@media all and (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-calendar {
    height: 62vh;
    width: 58vh;
  }
  .owl-dt-dialog-container .owl-dt-timer {
    width: 58vh;
  }
}
@media all and (orientation: portrait) {
  .owl-dt-dialog-container .owl-dt-calendar {
    height: 80vw;
    width: 80vw;
  }
  .owl-dt-dialog-container .owl-dt-timer {
    width: 80vw;
  }
}
.owl-dt-container-buttons {
  @include buffer--user-select(none);
  color: $buffer--text-color-black;
  display: $buffer--display-flex;
  height: 4.5rem;
  width: $b-w-full;
  padding: 0 1rem;
}
.owl-dt-container-control-button {
  @include buffer--button-height($buffer--height-12);
  @include buffer--user-select(none);
  border-radius: $buffer--border-radius-xl;
  color: $buffer--text-color-black;
  font-family: $buffer--font-family-sans-regular;
  font-family: $buffer--font-family-sans-medium;
  font-size: $buffer--font-size-sm;
  margin: 0.8rem 0.5rem;
  width: $buffer--width-percent-49;

  &:hover {
    background-color: $buffer--background-color-light-gray;
  }

  &:focus {
    box-shadow: $buffer--box-shadow-outline;
  }

  &:nth-of-type(even) {
    background-color: $buffer--background-color-primary-500;
    color: $buffer--text-color-white;

    &:hover {
      background-color: $buffer--background-color-primary-300;
    }
  }
}

.owl-dt-container-info {
  -webkit-tap-highlight-color: $buffer--background-color-transparent;
  cursor: $buffer--cursor-pointer;
  padding: 0 0.5em;
}
.owl-dt-container-info .owl-dt-container-range {
  outline: $buffer--outline-none;
}
.owl-dt-container-info .owl-dt-container-range .owl-dt-container-range-content {
  -webkit-box-pack: justify;
  display: $buffer--display-flex;
  font-size: $buffer--font-size-sm;
  justify-content: $buffer--flex-justify-content-space-between;
  padding: 1rem;
}
.owl-dt-container-info .owl-dt-container-range:last-child {
  border-top: $buffer--border-top-width $buffer--border-style-solid $buffer--border-color-light-gray;
}
.owl-dt-container-info .owl-dt-container-info-active {
  color: $buffer--background-color-primary-500;
}
.owl-dt-container-disabled,
.owl-dt-trigger-disabled {
  background-image: none;
  cursor: $buffer--cursor-default !important;
  filter: Alpha(Opacity=25);
  opacity: $buffer--opacity-25;
}
.owl-dt-timer-hour12 {
  -webkit-box-align: $buffer--text-align-center;
  -webkit-box-pack: $buffer--text-align-center;
  align-items: $buffer--text-align-center;
  color: $buffer--background-color-primary-500;
  display: $buffer--display-flex;

  justify-content: $buffer--text-align-center;
  width: $buffer--width-percent-33;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box {
  -webkit-transition: background 0.2s ease;
  border-radius: $buffer--border-radius-lg;
  border: 1px solid #f2f2f2;
  transition: background 0.2s ease;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box .owl-dt-control-button-content {
  border-radius: $buffer--border-radius-lg;
  font-size: $buffer--font-size-xs;
  height: $b-h-full;
  padding: 0.5rem;
  width: $b-w-full;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content,
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content {
  background: $buffer--background-color-primary-500;
  color: $buffer--text-color-white;
}
.owl-dt-calendar-only-current-month .owl-dt-calendar-cell-out {
  cursor: $buffer--cursor-default;
  visibility: hidden;
}
.owl-dt-inline {
  display: $buffer--display-inline-block;
}
.owl-dt-control {
  cursor: $buffer--cursor-pointer;
  outline: $buffer--outline-none;
}
.owl-dt-control .owl-dt-control-content {
  outline: $buffer--outline-none;
}
.owl-dt-control:focus > .owl-dt-control-content {
  background-color: #f2f2f2;
}
.owl-dt-control:not(:-moz-focusring):focus > .owl-dt-control-content {
  box-shadow: $buffer--box-shadow-none;
}
.owl-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: $b-of-h;
  padding: 0;
  position: $buffer--position-absolute;
  width: 1px;
}
