vg-controls {
  -khtml-transition: bottom 1s;
  -moz-transition: bottom 1s;
  -ms-transition: bottom 1s;
  -webkit-transition: bottom 1s;
  background-color: $buffer--background-color-transparent !important;
  bottom: 0;
  display: flex;
  height: 50px;
  position: absolute;
  transition: bottom 1s;
  width: 100%;
  z-index: 300;
}

vg-time-display {
  font-family: $buffer--font-family-sans-medium !important;
  font-size: $buffer--font-size-sm;
}

[class^='vg-icon-'],
[class*=' vg-icon-'] {
  align-items: center;
  display: flex;
  font-family: 'Material Icons' !important;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  justify-content: center;
  line-height: 1;
  text-transform: none;
  width: 50px;
}

.vg-icon-closed_caption:before {
  content: 'closed_caption';
}
.vg-icon-pause:before {
  content: 'pause';
}
.vg-icon-play_arrow:before {
  content: 'play_arrow';
}
.vg-icon-repeat:before {
  content: 'repeat';
}
.vg-icon-replay:before {
  content: 'replay';
}
.vg-icon-skip_next:before {
  content: 'skip_next';
}
.vg-icon-skip_previous:before {
  content: 'skip_previous';
}
.vg-icon-stop:before {
  content: 'stop';
}
.vg-icon-volume_down:before {
  content: 'volume_down';
}
.vg-icon-volume_mute:before {
  content: 'volume_mute';
}
.vg-icon-volume_off:before {
  content: 'volume_mute';
}
.vg-icon-volume_up:before {
  content: 'volume_up';
}
.vg-icon-hd:before {
  content: 'hd';
}
.vg-icon-forward_10:before {
  content: 'forward_10';
}
.vg-icon-forward_30:before {
  content: 'forward_30';
}
.vg-icon-replay_10:before {
  content: 'replay_10';
}
.vg-icon-replay_30:before {
  content: 'replay_30';
}
.vg-icon-fullscreen:before {
  content: 'fullscreen';
}
.vg-icon-fullscreen_exit:before {
  content: 'fullscreen_exit';
}

vg-player video {
  width: 100%;
  height: 100%;
}
