<div class="b-w-full b-h-toolbar b-br-b">
  <buffer-toolbar [back_button]="true" [show_connections]="true" header_title="Facebook Insight"
    (connection_selected)="connectionSelected($any($event))">
  </buffer-toolbar>
</div>

<div class="b-hs-wt-h b-of-h">
  <div class="b-w-full b-br-b p-px-5 b-h-toolbar p-d-flex p-ai-center">
    <buffer-filter class="b-w-full" [active_connection_id]="(active_connection_id$ | async) || ''"
      [insight_type]="insight_type">
    </buffer-filter>
  </div>
  <div class="b-hs-w-h b-of-auto b-bg-lg p-p-2">
    <ng-container *ngIf="overview$ | async as overview_insight">
      <div class="p-grid">
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Page Impressions" connection_type="Facebook"
            [counter]="overview_insight.page_impressions_summary.total" info_title="Total Page Impressions"
            help_info="The number of times people saw your page.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Page Reach" connection_type="Facebook"
            [counter]="overview_insight.page_reach_summary.total" info_title="Total Page Impressions"
            help_info="The number of unique people who saw your Page.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Post Impressions" connection_type="Facebook"
            [counter]="overview_insight.post_impressions_summary.total" info_title="Total Page Impressions"
            help_info="The number of times people saw your post(s).">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Post Reach" connection_type="Facebook"
            [counter]="overview_insight.post_reach_summary.total" info_title="Total Page Impressions"
            help_info="The number of unique people who saw any of your post(s).">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Page Views" connection_type="Facebook"
            [counter]="overview_insight.views_summary.total" info_title="Total Page Views"
            help_info="The number of times people have viewed your page’s profile.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Engaged Users" connection_type="Facebook"
            [counter]="overview_insight.engaged_users_summary.total" info_title="Total Engaged Users"
            help_info="The number of unique users that have liked your page, or engaged with your content.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Post Clicks" connection_type="Facebook"
            [counter]="overview_insight.page_consumptions_summary.total" info_title="Total Lost Fans"
            help_info="The number of people who clicked on any of your content.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Video Views" connection_type="Facebook"
            [counter]="overview_insight.video_views_summary.total" info_title="Total Lost Fans"
            help_info="The number of people who have unliked your Page.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="New Fans" connection_type="Facebook"
            [counter]="overview_insight.fan_adds_summary.total" info_title="Total New Fans"
            help_info="The number of new fans your page gained.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Lost Fans" connection_type="Facebook"
            [counter]="overview_insight.fan_removes_summary.total" info_title="Total Lost Fans"
            help_info="The number of fans your page lost.">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Reactions" connection_type="Facebook"
            [counter]="overview_insight.reactions_like_summary.total" info_title="Total Reactions" icon_color="success">
          </buffer-analyze-card>
        </div>
        <div class="p-col-4 p-xs-12 p-sm-12 p-lg-3">
          <buffer-analyze-card class="b-w-full b-h-full" title="Likes" connection_type="Facebook"
            [counter]="overview_insight.reactions_like_summary.total" info_title="Total Lost Fans"
            help_info="The number of people who have unliked your Page.">
          </buffer-analyze-card>
        </div>
      </div>

      <div class="p-grid p-mb-5">
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Engagements" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Engagements', data: overview_insight.engaged_users_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Page Impressions" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Page Impressions', data: overview_insight.page_impressions_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Reactions" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Reactions', data: overview_insight.reactions_like_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Fan Growth" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Fan Growth', data: overview_insight.fan_adds_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Fans Lost" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Fans Lost', data: overview_insight.fan_removes_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-6 p-xs-12 p-sm-12 p-lg-6">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Page Views" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates"
            [chart_series]="[{name: 'Page Views', data: overview_insight.views_summary.metrics, type: 'column'}]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Page likes/unlikes history"
            connection_type="Facebook" [chart_labels]="overview_insight.metric_dates" [chart_series]="[
            {name: 'Likes', data: overview_insight.fan_adds_summary.metrics, type: 'column', color: '#04D98B'},
            {name: 'Unlikes', data: overview_insight.fan_removes_summary.metrics, type: 'column', color: '#e0245e'}
            ]">
          </buffer-analyze-chart>
        </div>
        <div class="p-col-12 p-xs-12 p-sm-12 p-lg-12">
          <buffer-analyze-chart class="b-w-full b-h-full" chart_title="Reactions Type" connection_type="Facebook"
            [chart_labels]="overview_insight.metric_dates" [chart_series]="[
            {name: 'Like', data: overview_insight.reactions_like_summary.metrics, type: 'column'},
            {name: 'Love', data: overview_insight.reactions_love_summary.metrics, type: 'column'},
            {name: 'Wow', data: overview_insight.reactions_wow_summary.metrics, type: 'column'},
            {name: 'Haha', data: overview_insight.reactions_haha_summary.metrics, type: 'column'},
            {name: 'Sorry', data: overview_insight.reactions_sorry_summary.metrics, type: 'column'},
            {name: 'Anger', data: overview_insight.reactions_anger_summary.metrics, type: 'column'}
            ]">
          </buffer-analyze-chart>
        </div>


      </div>
    </ng-container>
  </div>
</div>